extends ../layout_dashboard
block head_scripts
	script(src="/javascripts/angular/galleryController.js")  	
block content	
	#sectionContent.max-height(ng-app="biinAppGallery" ng-controller="galleryController")
			#wrapperHeader.row
			#wrapperContent.row.max-height(ng-view)