extends ../layout_dashboard
block head_scripts
	script(src="/javascripts/angular/accountController.js")
block content	
	#sectionContent(ng-app="biinAppAccount" ng-controller="accountController" ngCloack)