extends ../layout_dashboard
block head_scripts
	script(src="/javascripts/angular/accountController.js")
block content	
	#sectionContent(ng-app="biinAppAccount" ng-controller="accountController" ngCloack)
		#wrapperContent
			.account-section-content
				.animate-switch.wizard-wrapper
					.wizard-body.wizard(ng-switch="wizardPosition")
						#wizardOption1.wizard(ng-switch-when="1")
							include wizardProfile
						#wizardOption2.wizard(ng-switch-when="2")
							include wizardBilling
						#wizardOption3.wizard(ng-switch-when="3")
							include wizardOrganizations