extends ../layout_dashboard
block head_scripts
	link(rel="stylesheet" href="/nvd3/nv.d3.css")
	script(src="/d3/d3.js")
	script(src="/nvd3/build/nv.d3.js")
	script(src="/angular-nvd3/dist/angular-nvd3.js")
	script(src="/ng-module/ng-module.js")
	script(src="/javascripts/angular/dashboardController.js")
	script(src="/javascripts/angular/dashboardgraphcontroller/visitsGraphController.js")
	script(src="/javascripts/angular/dashboardgraphcontroller/mobilePieVisits.js")
	script(src="/javascripts/angular/dashboardgraphcontroller/mobileSessionsController.js")
	script(src="/javascripts/angular/dashboardgraphcontroller/mobileNewVisitsPercentageController.js")
	script(src="/javascripts/angular/dashboardgraphcontroller/mobileTotalBiinedController.js")
	script(src="/javascripts/angular/dashboardgraphcontroller/mobileNewVisitsPercentageController.js")
	script(src="/javascripts/angular/dashboardgraphcontroller/mobileAverageVisitedElementsController.js")
block content
	div(ng-modules="mobilePieVisits, biinAppVisitsGraph, mobileSessions, mobileNewVisitsPercentage, mobileTotalBiined")
		h2 Dashboard
			visitsGraph
				include graphs/visitsGraph
			mobileGraph
				.row
					.col-md-6
						.row
							.col-md-2
								text mobile
								br
								i.icon.icon-mobile-phone
							.col-md-10
								.row
									.col-md-6
										include graphs/mobile/mobileSessions
									.col-md-6
										include graphs/mobile/totalBiined
								.row
									.col-md-6
										include graphs/mobile/newVisitsPercentage
									.col-md-6
										include graphs/mobile/averageVisitedElements
					.col-md-6
						include graphs/mobile/visitsPie
			localGraph
				.row
					.col-md-6
						.row
							.col-md-2
								text local
								br
								i.icon.icon-shop
							.col-md-5
								.row
									.col-md-12
										include graphs/mobile/mobileSessions
								.row
									.col-md-12
										include graphs/mobile/newVisitsPercentage
							.col-md-5
								include graphs/mobile/visitsPie

					.col-md-6
						include graphs/mobile/visitsPie
			localTable
				.row
					.col-md-12
						table.table
							tr
								th Locales
								th Visitas En Biin
								th Visitas A Locales
								th Biined
								th Notificaciones

