extends ../layout_dashboard
block head_scripts
	link(rel="stylesheet" href="/nvd3/build/nv.d3.css")
	script(src="/d3/d3.js")
	script(src="/nvd3/build/nv.d3.js")
	script(src="/angular-nvd3/dist/angular-nvd3.js")
	script(src="/javascripts/angular/dashboardController.js")
	script(src="/javascripts/angular/dashboardgraphcontroller/visitsGraphController.js")		
block content
	include graphs/visitsGraph