#	Main ignore files for the BIIN.CMS Project

node_modules/**

*.swp

*.env

public/stylesheets/controls.css

public/stylesheets/main.css

public/workingFiles/!file!.txt

biin.sublime-project.save

*.sublime-project

.idea/

.idea/**

biin.sublime-project

.env

Procfile

carce.sublime-workspace
*.DS_Store
