extends ../layout_landing_page_out
block head_scripts
	script(src="/javascripts/angular/accountController.js")
block content	
	#sectionContent(ng-app="biinAppAccount" ng-controller="accountController")
		#wrapperContent
			.left-section-content
				.container-fluid
					.row.wizardProfile			
						a.col-md-12(ng-click="changeWizardTo(1)")
							.icon-wrapper
								i.icon.icon-profile-1
							.text-wrapper
								span 1. Profile
						a.col-md-12(ng-click="changeWizardTo(2)")
							.icon-wrapper
								i.icon.icon-hand-card
							.text-wrapper									
								span 2. Billing
						a.col-md-12(ng-click="changeWizardTo(3)")
							.icon-wrapper
								i.icon.icon-buildings-3
							.text-wrapper									
								span 3. Organizations
						p.col-md-12 Finish.
					.wizard-lin
			.right-section-content.account-section-content
				.animate-switch.wizard-wrapper
					.wizard-body.wizard(ng-switch="wizardPosition" ng-mouseleave="save()")
						#wizardOption1.wizard(ng-switch-when="1")
							include wizardProfile
						#wizardOption2.wizard(ng-switch-when="2")
							include wizardBilling
						#wizardOption3.wizard(ng-switch-when="3")
							include wizardOrganizations