extends ../layout_dashboard
block head_scripts
	link(rel="stylesheet" href="/angular-datepicker/dist/index.css")
	script(src="/angular-datepicker/dist/index.js")
	script(src="/angular-datepicker/dist/index.js")
	script(src="/javascripts/angular/biinsController.js")
	script(src="/moment/moment.js")
block content	
	#sectionContent(ng-app="biinAppBiins" ng-controller="biinsController" ngCloack)
		#wrapperContent(data-organizationId=""+organization.identifier data-organizationName=""+organization.name)
			.left-section-content
				.container-fluid.main-views-list
					.row
						.scroll-vertical-container.scrollbar-inner(scrollbar="scrollbarOptionsStandard")
							.col-xs-12.col-sm-12.col-md-12.col-lg-12.searchBoxList
									.col-md-12
										.searchBox-wrapper
											input.form-control(type="text" placeholder="filter" ng-model="query" autofocus)
							.col-xs-12.col-sm-12.col-md-12.col-lg-12.nopadding(ng-repeat="biin in biins | orderBy : '+name' | filter: query" ng-click="edit(biins.indexOf(biin))")
									.moduleWrapperList.contentHideButtons(ng-class="{active: biins.indexOf(biin) == selectedBiin}")
										.row
											.col-md-6
												label {{getSiteName(biin.siteIdentifier)}}
											.col-md-6
												label {{biin.name}}
										.row
											.col-md-4
												label Minor: {{biin.minor}}
											.col-md-4
												label Major: {{biin.major}}
											.col-md-4
												label Id: {{biin.brandIdentifier}}
			.right-section-content
				div(ng-if="selectedBiin!=null")
					.animate-switch.wizard-wrapper
						.wizard-body.wizard(ng-switch="wizardPosition" ng-mouseleave="save()")
							#wizardOption1.wizard(ng-switch-when="1")
								include wizardAdministration		
							#wizardOption2.wizard(ng-switch-when="2")
								include wizardDetails					
						.wizard-options
							.container-fluid
								.row.wizard-options-wrapper
									.col-md-1.col-sm-1.nopadding.option
										#guide-wizard-pointer(ng-class="{'active':wizardPosition ==1}")
										.wizard-options-item(ng-click="changeWizardTab(1)")
											.circle(ng-class="{'active':wizardPosition ==1,'valid':wizard1IsValid}")
												.icon.icon-setting-gears-2
											.textCirle 
												| 1. Administration
									.col-md-1.col-sm-1.nopadding.option
										#guide-wizard-pointer(ng-class="{'active':wizardPosition ==2}")
										.wizard-options-item(ng-click="changeWizardTab(2)")
											.circle(ng-class="{'active':wizardPosition ==2,'valid':wizard2IsValid}")
												.icon.icon-network-1-1
											.textCirle 
												| 2. Details
								#guide-line-division