form.novalidate
	.section
		h1 Administre su biin Beacon
		h2 Informaci&oacute;n  y Ubicaci&oacute;n
	.section
		.container-fluid
			.col-md-12
				.row
					.col-md-6
						label Local
					.col-md-6
						label {{getSiteName(biins[selectedBiin].siteIdentifier)}}
			.col-md-12
				.row
					.col-md-6
						label Nombre
					.col-md-6
						input.form-control(ng-model="biins[selectedBiin].name" ng-value="biins[selectedBiin].name")
			.col-md-12
				.row
					.col-md-6
						label Venue
					.col-md-6
						input.form-control( type="text" ng-model="biins[selectedBiin].venue" ng-value="biins[selectedBiin].venue" typeahead="venue.name for venue in getVenues($viewValue)" )
			.col-md-12
				.row
					.col-md-6
						label Posicion
					.col-md-6
						input.form-control(ng-model="biins[selectedBiin].position" ng-value="biins[selectedBiin].position")
	.section
		.container-fluid
			.col-md-12
				.row
					.col-md-2
						label Biin Identificador:
					.col-md-2
						label {{biins[selectedBiin].identifier}}				
				.row
					.col-md-2
						label Identificador:
					.col-md-2
						label {{biins[selectedBiin].brandIdentifier}}
			.col-md-12
				.row
					.col-md-2
						label Major:
					.col-md-2
						label {{biins[selectedBiin].major}}
			.col-md-12
				.row
					.col-md-2
						label Minor:
					.col-md-2
						label {{biins[selectedBiin].minor}}