extends layout_landing_page
block head_scripts
	script(src="/landingPage/js/angular/landing.js")	
block content
	#contentWrapper
		section#preorder
			h1 Excelent! Pre-ordena a Biin ahora
			p Sea parte de las primeras empresas que aprovechan Biin. Pre-ordene ahora y reciba
				| atenci&oacute;n personalizada para crear la nueva experiencia para sus clientes. Biin estar&aacute;
				| disponible pronto, permitanos saber a qui&eacute;n contactar para coordinar los de talles de la puesta
				| en marcha de Biin en su empresa.
