extends layout_landing_page
block content
		//INTRO=============================================
		section#intro
			//Intro Page Slides
			#slides
				ul.slides-container
					//Intro Page Slider Image 1
					li
						.intro-content.intro-content-1
							h1 Experiencias para sus visitantes con contexto del mundo real
							h3 Informaci&oacute;n relevante dentro y fuera de su local. 
							h3 Sea parte de la revoluci&oacute;n del contexto con Biin.
						img(src='/landingPage/img/thumbs/intro_slide_1.jpg', alt='')
					//Intro Page Slider Image 2
					li
						.intro-content.text-center.intro-content-2
							h1 Crea tus campa&ntilde;as de una forma f&aacute;cil y r&aacute;pida
							h3 F&aacute;cil creaci&oacute;n de contenido y beneficio.
							h3 Monitoreo efectivo de los resultados de su campa&ntilde;a.
							h3 Administra y promueve la relaci&oacute;n con tus clientes.								
						img(src='/landingPage/img/thumbs/intro_slide_2.jpg', alt='')
					//Intro Page Slider Image 3
					li
						.intro-content.text-center.intro-content-3
							h1 Llega a tus clientes con una aplicaci&oacute;n m&oacute;vil de Biin y estrecha lazos.
							h3 Aumenta la experiencia de tus visitantes brindando mas informaci&oacute;n.
							h3 Brinda beneficios exclusivos en el momento indicado.				
							h3 Mejora la experiencia de tus clientes con Biin.
						img(src='/landingPage/img/thumbs/intro_slide_3.jpg', alt='')								
					//Intro Page Slider Image 4						
					li
						.intro-content.text-center.intro-content-4
							h1 Inicia en la revoluci&oacute;n del contexto con los iBeacons de Biin.
							h3 Con los iBeacons de Biin, convierte cada espacio en una experiencia &uacute;nica.
							h3 Con soporte completo y m&aacute;s de 2 a&ntilde;os de vida &uacute;til en su bater&iacute;a.
							h3 Inteligentes en cualquier espacio f&iacute;sico.
							button.btn.btn-comprar( value="Comprar ya!") Comprar ya!
						img(src='/landingPage/img/thumbs/intro_slide_4.jpg', alt='')

			//End Intro Page Slides
			//Scroll Down Button
			span.scroll-down
				a#GoToMainContent(href='#banner_1')
					span
						i.fa.fa-angle-down.fa-3x
				| Ver m&aacute;s
		//END INTRO
		//FOR WHO IS BIIN=============================================
		section#FORWHOISBIIN
			.scrollsection.slides-forwhoIsBiin-wrapper
				//Intro Page Slides
				#slides-forwhoIsBiin
					.forwhoIsBiin-wrapper 
						.col-sm-12.titlebar
										h2 Para quien es Biin?
										h3 
											|Si quieres atraer m&aacute;s clientes, deleitarlos con m&aacute;s y mejores beneficios e informaci&oacute;n.
										p
											|Si tu negocio, empresa o instituci&oacute;n tiene espacios u objetos que puedan contar una historia,
											|dar un peque&ntilde;o mensaje o beneficiar a tus visitantes, Biin es definitivamente para ti.
					.forwhoIsBiin-slider
						ul.slides
							//Intro Page Slider Image 1
							li
								.forhow-content
									img(src="/landingPage/img/thumbs/forWhoStores.png")
									.titlebar									
										h2 En tiendas y centros comerciales
										p Encontrar los productos que me gustan, recibir una promoci&oacute;n, un regalo o mejor informaci&oacute;n
											| con contexto, ver las nuevas colecciones cuando estoy en casa y que Biin me recuerde cuando estoy cerca!.
							//Intro Page Slider Image 2
							li
								.forhow-content
									img(src="/landingPage/img/thumbs/forWhoRestaurant.png")
									.titlebar
										h2 Restaurantes y entretenimiento
										p Para comer y disfrutar en el restaurante, bar, o entretenimiento cercano, leer el men&uacute; y las
											| promociones y recibir beneficios por mis visitas.
							//Intro Page Slider Image 3
							li
								.forhow-content
									img(src="/landingPage/img/thumbs/forWhoInstitutions.png")
									.titlebar
										h2 En edificios empresariales e instituciones 
										p Para informarme mas de los servicios en edificios, hospitales, centros de estudio y
											| orientarme en que pasos tomar. Biin me permite interactuar con las instituciones para hacer
											| sugerencias y preguntas con contexto. 
							//Intro Page Slider Image 4
							li
								.forhow-content
									img(src="/landingPage/img/thumbs/forWhoMuseums.png")
									.titlebar
										h2 En museos y galer&iacute;as
										p Para saber m&aacute;s! de cosas interesantes en museos, galer&iacute;as,compartir mis experiencias y
											| disfrutarlas al m&aacute;ximo.										
							//Intro Page Slider Image 5
							li
								.forhow-content
									img(src="/landingPage/img/thumbs/forWhoExposition.png")
									.titlebar
										h2 En ferias y exposiciones
										p Para no perderme ning&uacute;n un detalle en ferias y exposiciones, conectarme y profundizar en la
											| informaci&oacute;n de los exponentes.
							//Intro Page Slider Image 6
							li
								.forhow-content
									img(src="/landingPage/img/thumbs/forWhoSportEvents.png")
									.titlebar
										h2 En eventos deportivos, conciertos y conferencias 
										p Para mejorar mi experiencia en actividades masivas como eventos deportivos o conciertos,
											| informarme y acceder a contenido y beneficios especiales con contexto.
							//Intro Page Slider Image 7
							li
								.forhow-content
									img(src="/landingPage/img/thumbs/forWhoHotels.png")
									.titlebar
										h2 En Hoteles y complejos tur&iacute;sticos
										p Para ser bienvenido  en mi habitacion, conocer más de los servicios, lugares que visitar en
											| Hoteles y complejos tur&iacute;sticos 
							//Intro Page Slider Image 8
							li
								.forhow-content
									img(src="/landingPage/img/thumbs/forWhoHotels.png")
									.titlebar
										h2 En la industria automotriz
										p Para encontrar el auto de mis sue&ntilde;os conocer todos los detalles, guardar y compartir con mis
											| amigos. 										
		//END FOR WHO IS BIIN
		//FEATURES============================================= 
		section#features
			.container
				//Section Tittle
				.row
					.col-sm-12.titlebar
						h2 Caracter&iacute;sticas de Biin
						h3 
							|Biin es un conjuton de herramientas dise&ntilde;adas para mejorar la relaci&oacute;n con sus clientes, entre ellas est&aacute;n la aplicaci&oacute;n Biin para iOS,
							| el CMS (Gestor de Contenido). Programa de lealtad, CRM (Administraci&oacute;n de Relaci&oacute;n con Clientes) y iBeacons de Biin.
						p
							|A diferencia de los oferentes actuales de iBeacons, Biin es una plataforma completa, dise&ntilde;ada para
							|mejorar las experiencias de las personas por medio de la micro-localizaci&oacute;n  e internet de las cosas
							|rompiendo la brecha entre empresas o instituciones y sus clientes por medio de las siguientes tecnolog&iacute;as.
				
				//Features Holder
				.row
					.col-md-12
						ul
							//Feature Icon 1
							li#feature-1
								.col-sm-12.col-md-12.feature-box.clearfix
									.feature-box-icon
										img(src="landingPage/img/thumbs/iOSCircle.png")
									.feature-box-content
										h4 Biin app m&oacute;vil
										p
											|Hemos  dedicado mucho tiempo a crear una experiencia de usuario excepcional y tenemos la confianza para decir que sus clientes amar&aacute;n utilizar nuestra app.
							//Feature Icon 3
							li#feature-2
								.col-sm-12.col-md-12.feature-box.clearfix
									.feature-box-icon
										img(src="landingPage/img/thumbs/cmsCircle.png")
									.feature-box-content
										h4 CMS
										p 
											|Administra el contenido de tus vitrinas digital de una forma f&aacute;cil y r&aacute;pida. Nuestro equipo de dise&ntilde;o
											| a simplificado al m&aacute;ximo haciendo una interfazintuitiva y hermosapara que tu experiencia al crear tus vitrinas sea lo mejor posible.
							//Feature Icon 3
							li#feature-3
								.col-sm-12.col-md-12.feature-box.clearfix
									.feature-box-icon
										img(src="landingPage/img/thumbs/loyaltyCircle.png")
									.feature-box-content
										h4 Progama de Lealtad
										p Todos amamos ganar y con el programa de lealtad de Biin puedes asegurarte que tus clientes regresar&aacute;n por m&aacute;s.
							//Feature Icon 4
							li#feature-4
								.col-sm-12.col-md-12.feature-box.clearfix
									.feature-box-icon
										img(src="landingPage/img/thumbs/crmCircle.png")
									.feature-box-content
										h4 CRM
										p Sientate en tu casa y administra lo que est&aacute; pasando en tu local en tiempo real, quien entra, quien sale, puedes tomar decisiones clave en el momento indicado.
							//Feature Icon 5
							li#feature-5
								.col-sm-12.col-md-12.feature-box.clearfix
									.feature-box-icon
										img(src="landingPage/img/thumbs/ibeaconCircle.png")
									.feature-box-content
										h4 iBeacons de Biin
										p
											| Nuestros IBeacons tienen el mejor dise&ntilde;o del mercado adem&aacute;s del soporte y el respaldo de Biin.
					//End col-md-12
				//End Features Holder
			//End container
		//END FEATURES		
		//BANNER_1============================================= 
		#banner_1
			.container
				.row
					//Banner Description
					.col-md-6.titlebar.banner_1_content
						h2 Aplicaci&oacute;n m&oacute;vil consciente del contexto
						h3
							| Informaci&oacute;n relevante sobre el lugar y momento justo har&aacute;n la diferencia entre una visita y una
							| experiencia.
						p
							| En Biin estamos creando la primera plataforma para informaci&oacute;n y beneficios que aprovecha la 
							| micro-localizaci&oacute;n con smart beacons. Mediante una aplicaci&oacute;n m&oacute;vil, universal y de uso gratuito, 
							| visitantes de comercios, lugares de entretenimiento o instituciones, tendr&aacute;n acceso a la informaci&oacute;n 
							| relevante de acuerdo al contexto.
							| Biin permite navegar por el contenido en cualquier lugar y recibir alertas sobre las cosas que te 
							| interesan cuando estas cerca. 
						.important
							p.important-1
								strong
									| Mejor informaci&oacute;n, 
							p.important-2
								strong
									| beneficios y diversi&oacute;n
							p.important-3 
								strong
									|para sus visitantes 
							p.important-4 
								strong
									|generando una relaci&oacute;n de valor.
					//Banner Image
					//#banner_1_image.col-md-6.text-center
						img.img-responsive(src='/landingPage/img/thumbs/6.png', alt='banner_1_image')
				
				//End row
			//End container
		//END BANNER_1
		//BANNER_2============================================= 
		#banner_2
			.container
				.row
					//Banner Image
					//#banner_2_image.col-md-6
						img.img-responsive(src='/landingPage/img/thumbs/2.png', alt='banner_2_image')
					//Banner Description
					.col-md-12.titlebar.banner_2_content
						h2 ¿Que son los iBeacons de Biin?
						h3 La puerta de entrada a la micro-localizaci&oacute;n
						p
							| Son peque&ntilde;os dispositivos que se colocan en espacios f&iacute;sicos y que transmiten una se&ntilde;al bluetooth de
							| baja energ&iacute;a (BLE) a un Smartphone cercano, permitiendo crear aplicaciones conscientes de su
							| contexto. BiinApp entiende la proximidad de los Beacons y as&iacute; obtiene el contenido relevante
							| para el lugar y momento especifico, permitiendo crear interacciones m&aacute;s cercanas al mundo real.
						//Banner List
						#banner-list
							//List Item #1
							.list-item
								h5
									i.fa.fa-check
									| F&aacute;cil administraci&oacute;n e instalaci&oacute;n
							//List Item #2
							.list-item
								h5
									i.fa.fa-check
									| La se&ntilde;al tiene un alcance de hasta 70 metros
							//List Item #3
							.list-item
								h5
									i.fa.fa-check
									| Libres de mantenimiento por hasta 3 a&ntilde;os.
							//List Item #4
							.list-item
								h5
									i.fa.fa-check
									| Bajo costo
						//End Banner List
					//End Banner Description
				//End row
			//End container
		//END BANNER_2
		//SCREENS============================================= 
		section#screens
			.container
				//Section Tittle
				.row
					.col-sm-12.titlebar
						h2 Qui&eacute;n usa Biin?
						p
							| Desde centros comerciales, restaurantes, instituciones p&uacute;blicas o privadas
							| ferias y exposiciones, centros deportivos, o cualquier lugar que desee transmitir un mensaje m&aacute;s
							| relevante a sus visitantes.
				//Screens row
				#screenshots-holder1.row
					//Screenshot Image #1
					#screenshot_1.col-xs-6.col-sm-6.col-md-3
						.hover-details
							img.img-responsive.img-thumbnail(src='/landingPage/img/thumbs/gallery1.jpeg', alt='screenshot_image')
							//Image Zoom
							.img-cover
								a.image_zoom(href='/landingPage/img/thumbs/gallery_2x/gallery1.jpg', title='Screenshot Image #1')
								h3 Compras
					//Screenshot Image #2
					#screenshot_2.col-xs-6.col-sm-6.col-md-3
						.hover-details
							img.img-responsive.img-thumbnail(src='/landingPage/img/thumbs/gallery2.jpeg', alt='screenshot_image')
							//Image Zoom
							.img-cover
								a.image_zoom(href='/landingPage/img/thumbs/gallery_2x/gallery2.jpg', title='Screenshot Image #2')
								h3 Restaurantes
					//Screenshot Image #3
					#screenshot_3.col-xs-6.col-sm-6.col-md-3
						.hover-details
							img.img-responsive.img-thumbnail(src='/landingPage/img/thumbs/gallery3.jpeg', alt='screenshot_image')
							//Image Zoom
							.img-cover
								a.image_zoom(href='/landingPage/img/thumbs/gallery_2x/gallery3.jpg', title='Screenshot Image #3')
								h3 Instituciones
					//Screenshot Image #4
					#screenshot_4.col-xs-6.col-sm-6.col-md-3
						.hover-details
							img.img-responsive.img-thumbnail(src='/landingPage/img/thumbs/gallery4.jpeg', alt='screenshot_image')
							//Image Zoom
							.img-cover
								a.image_zoom(href='/landingPage/img/thumbs/gallery_2x/gallery4.jpg', title='Screenshot Image #4')
								h3 Museos
				//End screenshots-holder1
				//Screens row
				#screenshots-holder2.row
					//Screenshot Image #5
					#screenshot_5.col-xs-6.col-sm-6.col-md-3
						.hover-details
							img.img-responsive.img-thumbnail(src='/landingPage/img/thumbs/gallery5.jpeg', alt='screenshot_image')
							//Image Zoom
							.img-cover
								a.image_zoom(href='/landingPage/img/thumbs/gallery_2x/gallery5.jpg', title='Screenshot Image #5')
								h3 Ferias y exposiciones
					//Screenshot Image #6
					#screenshot_6.col-xs-6.col-sm-6.col-md-3
						.hover-details
							img.img-responsive.img-thumbnail(src='/landingPage/img/thumbs/gallery6.jpeg', alt='screenshot_image')
							//Image Zoom
							.img-cover
								a.image_zoom(href='/landingPage/img/thumbs/gallery_2x/gallery6.jpg', title='Screenshot Image #6')
								h3 Eventos deportivos
					//Screenshot Image #7
					#screenshot_7.col-xs-6.col-sm-6.col-md-3
						.hover-details
							img.img-responsive.img-thumbnail(src='/landingPage/img/thumbs/gallery7.jpeg', alt='screenshot_image')
							//Image Zoom
							.img-cover
								a.image_zoom(href='/landingPage/img/thumbs/gallery_2x/gallery7.jpg', title='Screenshot Image #7')
								h3 Hoteles o complejos turisticos
					//Screenshot Image #8
					#screenshot_8.col-xs-6.col-sm-6.col-md-3
						.hover-details
							img.img-responsive.img-thumbnail(src='/landingPage/img/thumbs/gallery8.jpeg', alt='screenshot_image')
							//Image Zoom
							.img-cover
								a.image_zoom(href='/landingPage/img/thumbs/gallery_2x/gallery8.jpg', title='Screenshot Image #8')
								h3 Automotriz
				//End screenshots-holder2
			//End container
		//END SCREENS				
		//NEWSLETTER============================================= 
		#newsletter.parallax
			#subscribe.container
				.row
					//Newsletter Title
					#newsletter_title.col-md-6.text-center
						h1.newsletterFirstText Inscribase a nuestro bolet&iacute;n
						p.newsletterSecondText
							| Si quieres recibir el bolet&iacute;n con noticias importantes de Biin ingrese su correo electr&oacute;nico.
					//Newsletter Form
					#newsletter_form.col-md-6.text-center
						.clearfix
							form#subscribe-form.subscribe-form(action='newsletter.php', method='post')
								input.subscribe-input(type='email', name='email', placeholder='Tu correo electrónico...')
								input.subscribe-submit.btn.btn-black.btn-lg(type='submit', value='Suscribir', style='width: 35%;')
				//End row
			//End container
		//END NEWSLETTER
		//TESTIMONIALS ROTATOR============================================= 
		//#testimonials-rotator.parallax
			.container.text-center
				.row
					.col-md-12
						//Rotator Content
						.flexslider
							ul.slides
								//Testimonial #1
								li
									.testimonials
										//Testimonial Author Avatar
										.tst-author
											img(src='/landingPage/img/thumbs/tst_author_2.jpg', alt='')
											p.author
												strong Alan Sharp
												span Internet Surfer
										//Testimonial Message
										.client-msg
											p
												| « Etiam condimentum sapien sem condimentum accumsan. Proin in adipiscing
												| elit. Suspendisse dignissim sollicitudin
												| ornare at sagittis elementum vulputate congue »
								//Testimonial #2
								li
									.testimonials
										//Testimonial Author Avatar
										.tst-author
											img(src='/landingPage/img/thumbs/tst_author_1.jpg', alt='')
											p.author
												strong Hannah Brown
												span Manager
										//Testimonial Message
										.client-msg
											p
												| « Suspendisse cursus risus laoreet turpis auctor, pharetra massa varius.
												| Suspendisse dignissim sollicitudin aliquam.
												| Nullam vehicula pharetra ultrices sapien gravida »
								//Testimonial #3
								li
									.testimonials
										//Testimonial Author Avatar
										.tst-author
											img(src='/landingPage/img/thumbs/tst_author_3.jpg', alt='')
											p.author
												strong Karen Olson
												span Housewife
										//Testimonial Message
										.client-msg
											p
												| « In eget urna nisl bibendum dapibus. Phasellus nec euismod mauris. Morbi
												| vitae rutrum turpis.
												| Phasellus molestie posuere ligula ligula aliquet imperdiet vitae »
								//Testimonial #4
								li
									.testimonials
										//Testimonial Author Avatar
										.tst-author
											img(src='/landingPage/img/thumbs/tst_author_4.jpg', alt='')
											p.author
												strong Jonathan Doe
												span Programmer
										//Testimonial Message
										.client-msg
											p
												| « Vivamus a purus lacus tempor volutpat. Etiam odio purus, placerat
												| interdum vestibulum rutrum aliquet vulputate.
												| Proin euismod pulvinar aliquam »
						//End Rotator Content
					//End col-sm-12
				//End row
			//End container
		//END TESTIMONIALS ROTATOR
		//PRICING============================================= 
		section#pricing
			.container
				//Section Tittle
				.row
					.col-sm-12.titlebar
						h2 Precios
						h3 Biin estará disponible próximamente y ya puedes ser parte del grupo de empresas líderes en Costa Rica que ya están aprovechando las ventajas de esta plataforma.
						p
							| En Biin queremos poner a disposición paquetes que se adapten sus necesidades.
							| Si tiene un requerimiento distinto no dude en contactar a nuestro equipo de ventas.
				//Pricing Section Content
				#pricing-table-holder.row
					//PRICE PLAN STANDARD
					#price_1.col-xs-12.col-sm-4.col-md-4
						.pricing-table.text-center
							//Table Header & Plan Price
							.price-header
								h4.plan-title Biin Lite
								.plan-price
									h2 $30
									span Mensuales
							//Plan Features
							ul.features
								li Vitrina digital
								li Informaci&oacute;n con contexto
								li hasta 2 locaciones
								li Hasta 6 Biin beacons
							//Table Button
							.price-footer
								a.btn.btn-black(href='#') Disponible pronto
					//END PRICE PLAN STANDARD
					//PRICE PLAN ADVANCED
					#price_2.col-xs-12.col-sm-4.col-md-4
						.pricing-table.featured.text-center
							
							//Table Header & Plan Price
							.price-header
								h4.plan-title Standard
								.plan-price
									h2 $149
									span Mensuales
							
							//Plan Features
							ul.features
								li Lite +
								li Programa comercial
								li Hasta 15 locaciones
								li Hasta 150 Biin Beacons
								li Contenido ilimitado
							
							//Table Button
							.price-footer
								a.btn.btn-theme(href='#') Disponible pronto
					
					//END PRICE PLAN ADVANCED
					//PRICE PLAN ULTIMATE
					#price_3.col-xs-12.col-sm-4.col-md-4
						.pricing-table.text-center
							
							//Table Header & Plan Price
							.price-header
								h4.plan-title Premium
								.plan-price
									h2 $399
									span Mensuales
							
							//Plan Features
							ul.features
								li Standard +
								li Programa multimedia
								li Hasta 50 locaciones
								li Hasta 500 Biin Beacons
								li Contenido ilimitado
							
							//Table Button
							.price-footer
								a.btn.btn-black(href='#') Disponible pronto
					//END PRICE PLAN ULTIMATE
				//End Pricing Section Content
			//End container
		//END PRICING
		//CONTACTS============================================= 
		section#contact
			.container
				//Section Tittle
				.row
					.col-sm-12.titlebar
						h2 Contacta a Biin!
						h3 Nos encantar&iacute;a conversar sobre como Biin puede ayudar a su empresa o instituci&oacute;n.
						p
							| Llena el formulario y te estaremos contactando lo antes posible o si prefieres hablar con alguien puedes llamar a Cesar Arce al n&uacute;mero 8701-1518 &oacute; Esteban Padilla al 8706-6660.
					//Contact form
					.col-sm-12
						form#contact-form.row(action='#', name='contactform', method='post')
							#input_name.col-md-6
								input#name.form-control(type='text', name='first_name', placeholder='Nombre', required)
							#input_email.col-md-6
								input#email.form-control(type='text', name='email', placeholder='Email', required)
							#input_subject.col-md-12
								input#subject.form-control(type='text', name='subject', placeholder='Titulo', required)
							#input_message.col-md-12
								textarea#comments.form-control(name='message', rows='6', placeholder='Tu mensaje ...', required)
								.sent-message
							//Submit Button
							#form_btn.col-md-12
								.text-center
									input#submit.btn-contact.btn.btn-black.btn-lg(type='submit', value='Enviar mensaje')
					//END Contact form
				//End row
			//End container
		//END CONTACTS
	//END CONTENT WRAPPER 
