extends layout

block content
	.sectionHeader
		img.principalImage(src='/images/biinLogoSlogan.png')
	.sectionMiddle.slogan
		p Join the revolution of the internet of things with Biin
		p The best solution with advanced digital marketing,
		p content distribution and fidelity management
		p leveraging the new iBeacons technology.