extends layout_landing_page_out
block head_scripts
	script(src="/landingPage/js/angular/landing.js")
block content
	#contentWrapper
		section#preorder
			.container
				.row
					.col-md-6.pull-right
						.row.imgPreOrder
							img(src="/landingPage/img/thumbs/biinBeacon.png")

					.col-md-6
						.row
							.col-md-12
								h1 Excelente! Pre-ordena sus Biin Beacons ahora
								p Pre-Ordene los Biin Beacons y sea de los primeros en traer la experiencia de Biin a sus
									|empresa. Perm&iacute;tenos saber a qui&eacute;n estaremos contactando cuando los Biin Beacons
									| est&eacute;n disponibles.								
						.row
							form#pre-order-form.col-md-12(action="#" name="pre-registform", method="post")
								label= "Estas pre-registrando el paquete " + packageSlected.toUpperCase()
								input#name.form-control(type='text' name='full_name' placeholder='Full Name' required)
								input#company.form-control(type='text', name='company', placeholder='Company (mandatory if shipping to a business addres)', required)
								input#email.form-control(type='text', name='email', placeholder='Email', required)
								input#phone.form-control(type='text', name='phone', placeholder='Phone number', required)
								input#pack.hidden(type="tex" name="plan" value=packageSlected)
								select#plan.selectpicker(title='Seleccione una subscripci&oacute;n' name="pack" multiple data-max-options="1")
									option LITE
									option STANDART
									option PREMIUN												
						.row.text-center
							input#btn-preOrder.btn.btn-black.btn-lg.btnEnviar(type="submit" value="Enviar" )
							label.sent-message
		section#registerSucced.blue(style="display: none;")
			.container
				.row
					.col-md-6.pull-right
						.row
							.happyBiinie
								img(src="/images/happyBiinieWhite.png")
					.col-md-6
						.thankYuoTitle
							h1 Gracias por hacer su pre-registro para los servicios de Biin.
						.thankYouParagraph
							p Le hemos enviado un correo electr&oacute;nico con informaci&oacute;n de su suscripci&oacute;n y sobre los siguientes pasos para la exitosa implementaci&oacute;n de Biin en su empresa o instituci&oacute;n.
					
					.col-md-12
						.thankYouButton
							a.btn.btn-black(href="/") Continua disfrutando nuestra p&aacute;gina
