extends layout_landing_page
block head_scripts
	script(src="/landingPage/js/angular/landing.js")
block content
	#contentWrapper(ng-app="landingPage" ng-controller="indexController")
		//INTRO=============================================
		section#intro
			//Intro Page Slides
			#slides
				ul.slides-container
					//Intro Page Slider Image 1
					li
						a#GoConoceBiin.intro-content.intro-content-1(href='#videoHistory')
								h1 Experiencias para sus visitantes con contexto
								h3 Informaci&oacute;n relevante dentro y fuera de su local en el momento justo. 
							img(src='/landingPage/img/thumbs/intro_slide_1.jpg', alt='')
					//Intro Page Slider Image 2
					li
						a#GoToAppMovil.intro-content.text-center.intro-content-3(href='#banner_1')
								h1 Aplicaci&oacute;n m&oacute;vil Biin
								h3 Estreche los lazos con sus clientes con Biin.
								h3 Aumente la experiencia de sus visitantes brindando m&aacute;s informaci&oacute;n.
								h3 Brinde beneficios exclusivos en el momento indicado.
							img(src='/landingPage/img/thumbs/intro_slide_3.jpg', alt='')
					//Intro Page Slider Image 3								
					li
						a#GoToCMS.intro-content.text-center.intro-content-2(href='#crm_banner')
								h1 Gestor de Contenido Biin
								h3 Sus campa&ntilde;as f&aacute;cil y r&aacute;pido.
								h3 Administre y promueva la relaci&oacute;n con sus clientes.
								h3 Monitoreo efectivo de los resultados de su campa&ntilde;as.
							img(src='/landingPage/img/thumbs/intro_slide_2.jpg', alt='')							
					//Intro Page Slider Image 4
					li
						a#GoToFeatures.intro-content.text-center.intro-content-4(href='#banner_2')
								h1 Beacons Biin
								h3 Desde que salen de su caja son una experiencia &uacute;nica.
								h3 Inteligentes en su espacio f&iacute;sico.
								h3 Con bater&iacute;a de larga duraci&oacute;n.
								h3 Soporte completo Biin.
								a#GoToPricing2.btn.btn-comprar(href="#pricing") M&aacute;s informaci&oacute;n
							img(src='/landingPage/img/thumbs/intro_slide_4.jpg', alt='')
			//End Intro Page Slides
			//Scroll Down Button
			span.scroll-down
				a#GoToMainContent(href='#videoHistory')
					span
						i.fa.fa-angle-down.fa-3x
				| Ver m&aacute;s
		//END INTRO
		//VIDEO============================================= 											
		section#videoHistory
			.container
				.row
					//the video goes here				
					iframe(src="//player.vimeo.com/video/109066736?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=0&amp;loop=1" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
		//END VIDEO		
		//FOR WHO IS BIIN=============================================
		section#FORWHOISBIIN
			.scrollsection.slides-forwhoIsBiin-wrapper
				//Intro Page Slides
				#slides-forwhoIsBiin
					.forwhoIsBiin-wrapper 
						.col-sm-12.titlebar
										h2 Para quien es Biin?
										h3 
											|Si quieres atraer m&aacute;s clientes, deleitarlos con m&aacute;s y mejores beneficios e informaci&oacute;n.
										p
											|Si su empresa o instituci&oacute;n tiene espacios u objetos que puedan contar una historia,
											|dar un peque&ntilde;o mensaje o beneficiar a visitantes, Biin es para usted.
					.forwhoIsBiin-slider
						ul.slides
							//Intro Page Slider Image 1
							li
								.forhow-content
									img(src="/landingPage/img/thumbs/forWhoStores.png")
									.titlebar									
										h2 En tiendas y centros comerciales
										p Para mostrar productos, promociones, regalos o dar mejor informaci&oacute;n
											| con contexto dentro y fuera de sus locales.
							//Intro Page Slider Image 2
							li
								.forhow-content
									img(src="/landingPage/img/thumbs/forWhoRestaurant.png")
									.titlebar
										h2 Restaurantes y entretenimiento
										p Para dar a conocer el men&uacute;, anunciar promociones y generar impacto en redes sociales.
							//Intro Page Slider Image 3
							li
								.forhow-content
									img(src="/landingPage/img/thumbs/forWhoInstitutions.png")
									.titlebar
										h2 En edificios empresariales e instituciones 
										p Para informar de servicios en edificios, hospitales, centros de estudio
											| orientando a sus visitantes con sugerencias y respuestas con contexto.
							//Intro Page Slider Image 4
							li
								.forhow-content
									img(src="/landingPage/img/thumbs/forWhoMuseums.png")
									.titlebar
										h2 En museos y galer&iacute;as
										p Para dar informaci&oacute;n coplementaria sobre pinturas, esculturas o cualquier pieza de la exposici&oacute;n adem&aacute;s para compartir las experiencias con contexto.
							//Intro Page Slider Image 5
							li
								.forhow-content
									img(src="/landingPage/img/thumbs/forWhoExposition.png")
									.titlebar
										h2 En ferias y exposiciones
										p Para que los visitantes no se pierdan ningun detalle, se informen, se conecten y puedan profundizar sobre la propuesta de valor de los expositores.
							//Intro Page Slider Image 6
							li
								.forhow-content
									img(src="/landingPage/img/thumbs/forWhoSportEvents.png")
									.titlebar
										h2 En eventos deportivos, conciertos y conferencias 
										p Para mejorar la experiencia de las personas que asisten a actividades masivas como eventos
											| deportivos o conciertos brindando informaci&oacute;n e interaciones con contexto.
							//Intro Page Slider Image 7
							li
								.forhow-content
									img(src="/landingPage/img/thumbs/forWhoHotels.png")
									.titlebar
										h2 En Hoteles y complejos tur&iacute;sticos
										p Para dar la bienvenida a sus hu&eacute;spedes, que conozcan m&aacute;s de los servicios y lugares que visitar.
							//Intro Page Slider Image 8
							//li
								.forhow-content
									img(src="/landingPage/img/thumbs/forWhoHotels.png")
									.titlebar
										h2 En la industria automotriz
										p Para encontrar el auto de mis sue&ntilde;os conocer todos los detalles, guardar y compartir con mis
											| amigos. 										
		//END FOR WHO IS BIIN
		//FEATURES============================================= 
		section#features
			.container
				//Section Tittle
				.row
					.col-sm-12.titlebar
						h2 Caracter&iacute;sticas de Biin
						h3 
							|Bii tiene las herramientas necesarias para que su empresa o instituci&oacute;n pueda generar
							| experiencias digitales con contexto para sus clientes y visitantes.
						p
							|Biin permite a&ntilde;adir informaci&oacute;n relevante sobre un espacio f&iacute;sico u objeto dentro de su
							| edificio que ser&aacute; mostrada cuando las personas est&eacute;n  f&iacute;sicamente cerca, creando nuevas
							| oportunidades para informr, entretener o beneficiar a sus clientees y visitantes. 
						p Biin es la vitrina digital para
							| su marca, pudiendo convertirse en la herramienta que lo acerca m&aacute;s a sus clientes ayudando a crecer su negocio.
				
				//Features Holder
				.row
					.col-md-12
						ul
							//Feature Icon 1
							li#feature-1
								.col-sm-12.col-md-12.feature-box.clearfix
									.feature-box-icon
										img(src="landingPage/img/thumbs/iOSCircle.png")
									.feature-box-content
										h4 Biin app m&oacute;vil
										p
											|Una aplicaci&oacute;n gratuita para acceso a informaci&oacute;n con contexto, beneficios comerciales como ofertas y regalos con una experiencia divertida, muchas opciones sociales para compartir, coleccionar beneficiarse.
							//Feature Icon 5
							li#feature-5
								.col-sm-12.col-md-12.feature-box.clearfix
									.feature-box-icon
										img(src="landingPage/img/thumbs/ibeaconCircle.png")
									.feature-box-content
										h4 Beacons de Biin
										p
											| Son los sensores que permiten la experiencia con contexto, simplemente se colocan en el espacio que quiera convertir en una vitrina digital, son 
											| f&aaute;ciles de instalar y libres de mantenimiento.
							//Feature Icon 3
							li#feature-2
								.col-sm-12.col-md-12.feature-box.clearfix
									.feature-box-icon
										img(src="landingPage/img/thumbs/cmsCircle.png")
									.feature-box-content
										h4 Administrador de contenido
										p 
											|Gestione el contenido de sus vitrinas digitales de BiinApp, se sorprender&aacute; de la facilidad y rapidez con la que podr&aacute; 
											| crear contenido digital de calidad, administrar sus Beacons, crear ofertas, cupones, regalos ademas de definir mensajes y notificaciones 
											| indicados para el contexto en el que se encuentren sus visitantes.
							//Feature Icon 3
							li#feature-3
								.col-sm-12.col-md-12.feature-box.clearfix
									.feature-box-icon
										img(src="landingPage/img/thumbs/loyaltyCircle.png")
									.feature-box-content
										h4 Progama de Lealtad
										p Todos amamos ganar y con el programa de lealtad de Biin puedes asegurarte que tus clientes regresar&aacute;n por m&aacute;s.
							//Feature Icon 4
							li#feature-4
								.col-sm-12.col-md-12.feature-box.clearfix
									.feature-box-icon
										img(src="landingPage/img/thumbs/crmCircle.png")
									.feature-box-content
										h4 Portal de Clientes y visitantes
										p Obtenga informaci&oacute;n en tiempo real de los resultados de su campa&ntilde;a en Biin, informaci&oacute;n
											| din&aacute;mica y accionable sobre la interacci&oacute;n de sus visitantes con los Beacons y con el contenido,
											| resultados de las promociones, integraci&oacute;n con redes sociales, estad&iacute;sticas y mucho m&acute;s.
					//End col-md-12
				//End Features Holder
			//End container
		//END FEATURES		
		//BANNER_1============================================= 
		#banner_1
			.container
				.row
					//Banner Description
					.col-md-6.titlebar.banner_1_content
						h2 Aplicaci&oacute;n m&oacute;vil consciente del contexto
						h3
							| Informaci&oacute;n relevante sobre el lugar y momento justo har&aacute;n la diferencia entre una visita y una
							| experiencia.
						p
							|Biin es la aplicaci&oacute;n m&oacute;vil, universal y de uso gratuito, con la que visitantes de
							|comercios, lugares de entretenimiento o instituciones, tendr&aacute;n acceso a la informaci&oacute;n
							|relevante de acuerdo al contexto. Biin premite navegar por el contenido en cualquir lugar y recibir alertas sobre
							|las cosas que te interesan cuando estas cerca.
						.important
							p.important-1
									| Mejor informaci&oacute;n, 
							p.important-2
									| beneficios y diversi&oacute;n
							p.important-3 
									|para sus visitantes 
							p.important-4 
									|generando una relaci&oacute;n de valor.
					.col-md-6.banner_1_image
						img(src="/landingPage/img/thumbs/biinMovil.png")
					//Banner Image
					//#banner_1_image.col-md-6.text-center
						img.img-responsive(src='/landingPage/img/thumbs/6.png', alt='banner_1_image')
				
				//End row
			//End container
		//END BANNER_1
		//CMS============================================= 
		#crm_banner
			.container
				.row
					//Banner Description
					.col-md-6.titlebar.crm_banner_content
						h2 Gestor de Contenido
						h3
							| Dise&ntilde;e y genere una experiencia digital relevante para sus clientes y visitantes
							| de manera facil y r&aacute;pida.
						p
							|En esta herramienta web de facil uso usted puede administrar el contenido que se mostrar&aacute;
							| en la aplicaci&oacute;n m&oacute;vil de Biin, por ejemplo, productos, servicios y promociones o cualquier
							| informaci&oacute;n relevante para sus clientes y visitantes.
						p
							|Podr&aacute; asignar el contenido a uno de los Biin Beacons y colocarlo en el lugar indicado para
							|crear la experiencia con contexto en la aplicaci&oacute;n Biin.
						p
							|Sus visitantes podr&aacute;n acceder el contenido de manera sencilla en el app m&oacute;vil cuando est&eacute;n
							|cerca de los Biin Beacons, o encontrarlo mediante una b&uacute;squeda desde cualquier lugar.	
						.important
					.col-md-6.crm_banner_image
						img(src="/landingPage/img/thumbs/biinCMS.png")
					//Banner Image
					//#banner_1_image.col-md-6.text-center
						img.img-responsive(src='/landingPage/img/thumbs/6.png', alt='banner_1_image')
				
				//End row
			//End container
		//END CMS		
		//BANNER_2============================================= 
		#banner_2
			.container
				.row
					//Banner Image
					//#banner_2_image.col-md-6
						img.img-responsive(src='/landingPage/img/thumbs/2.png', alt='banner_2_image')
					//Banner Description
					.col-md-6.titlebar.banner_2_content
						h2 ¿Que son los Beacons de Biin?
						h3 La puerta de entrada a la micro-localizaci&oacute;n
						p
							| Son peque&ntilde;os dispositivos que se colocan en espacios f&iacute;sicos y que transmiten una se&ntilde;al bluetooth de
							| baja energ&iacute;a (BLE) a un Smartphone cercano, permitiendo crear aplicaciones conscientes de su
							| contexto. BiinApp entiende la proximidad de los Beacons y as&iacute; obtiene el contenido relevante
							| para el lugar y momento especifico, permitiendo crear interacciones m&aacute;s cercanas al mundo real.
						//Banner List
						#banner-list.important
							//List Item #1
							p.important-1
								| F&aacute;cil administraci&oacute;n e instalaci&oacute;n
							//List Item #2							
							p.important-2
								| La se&ntilde;al tiene un alcance de hasta 70 metros
							//List Item #3
							p.important-3
								| Libres de mantenimiento por hasta 3 a&ntilde;os.
							//List Item #4
							p.important-4
									| Bajo costo
					.col-md-6.banner_2_image
						img(src="/landingPage/img/thumbs/biinBeacon.png")
						//End Banner List
					//End Banner Description
				//End row
			//End container
		//END BANNER_2
		//PRICING============================================= 
		section#pricing
			.container
				//Section Tittle
				.row
					.col-sm-12.titlebar
						h2 Precios
						h3 Biin estará disponible próximamente y ya puedes ser parte del grupo de empresas líderes en Costa Rica que ya están aprovechando las ventajas de esta plataforma.
						p
							| En Biin queremos poner a disposición paquetes que se adapten sus necesidades.
							| Si tiene un requerimiento distinto no dude en contactar a nuestro equipo de ventas.
				//Pricing Section Content
				#pricing-table-holder.row
					//PRICE PLAN STANDARD
					#price_1.col-xs-12.col-sm-4.col-md-4
						.pricing-table.text-center
							//Table Header & Plan Price
							.price-header
								h4.plan-title Biin Lite
								.plan-price
									h2 $30
									span Mensuales
							//Plan Features
							ul.features
								li Vitrina digital
								li Informaci&oacute;n con contexto
								li hasta 2 locaciones
								li Hasta 6 Biin beacons
							//Table Button
							.price-footer
								a.btn.btn-black(href='#') Disponible pronto
					//END PRICE PLAN STANDARD
					//PRICE PLAN ADVANCED
					#price_2.col-xs-12.col-sm-4.col-md-4
						.pricing-table.featured.text-center
							
							//Table Header & Plan Price
							.price-header
								h4.plan-title Standard
								.plan-price
									h2 $149
									span Mensuales
							
							//Plan Features
							ul.features
								li Lite +
								li Programa comercial
								li Hasta 15 locaciones
								li Hasta 150 Biin Beacons
								li Contenido ilimitado
							//Table Button
							.price-footer
								a.btn.btn-theme(href='#') Disponible pronto
					
					//END PRICE PLAN ADVANCED
					//PRICE PLAN ULTIMATE
					#price_3.col-xs-12.col-sm-4.col-md-4
						.pricing-table.text-center
							
							//Table Header & Plan Price
							.price-header
								h4.plan-title Premium
								.plan-price
									h2 $399
									span Mensuales
							//Plan Features
							ul.features
								li Standard +
								li Programa multimedia
								li Hasta 50 locaciones
								li Hasta 500 Biin Beacons
								li Contenido ilimitado
							//Table Button
							.price-footer
								a.btn.btn-black(href='#') Disponible pronto
					//END PRICE PLAN ULTIMATE
				//End Pricing Section Content		
		//BEAN PACKAGES============================================= 
		section#beaconsPackages
			.container
				//Section Tittle
				.row
					.col-sm-12.titlebar
						h2 Paquetes de Biin Beacons
						h3 Aprovecha nuestros Paquetes de Biin Beacons
						p
							| Comodos precios de acuerdo al tam&ntilde;o de su negocio.
				//Pricing Section Content
				#pricing-table-holder.row
					//PRICE PLAN STANDARD
					#price_1.col-xs-12.col-sm-6.col-md-4
						.pricing-table.text-center
							//Table Header & Plan Price
							.price-header
								h4.plan-title Paquete Basico
								.plan-icons
									i.icon.icon-building-1
									i.icon.icon-profile-lady-1
									i.icon.icon-profile-gentleman-2
									i.icon.icon-beer
									i.icon.icon-burger-1
							//Plan Features
							ul.features
								li Ideal para su tienda, oficina profesional o restaurante
								li 3 Biin Beacons
								li Compre el paquete basico por solo &#36;117
							//Table Button
							.price-footer
								a.btn.btn-theme(href='#') Disponible pronto
					//END PRICE PLAN STANDARD
					//PRICE PLAN ADVANCED
					#price_2.col-xs-12.col-sm-6.col-md-4
						.pricing-table.text-center							
							//Table Header & Plan Price
							.price-header
								h4.plan-title Paquete empresarial
								.plan-icons
									i.icon.icon-hospital-2
									i.icon.icon-building-3
									i.icon.icon-bank
							//Plan Features
							ul.features
								li Para su cadena de locales, edificio empresarial o instituci&oacute;n.
								li 10 Biin Beacons
								li Compre el paquete empresarial  por solo &#36;350
							//Table Button
							.price-footer
								a.btn.btn-theme(href='#') Disponible pronto					
					//END PRICE PLAN ADVANCED
				//End Pricing Section Content
				.row.pricingIndividual
					.col-sm-12
						p Tambien puedes comprar Biin iBeacon idividualmente por &#36;45.
			//End container
		//END BEAN PACKAGES
		//CONTACTS============================================= 
		section#contact
			.container
				//Section Tittle
				.row
					.col-sm-12.titlebar
						h2 Contacta a Biin!
						h3 Nos encantar&iacute;a conversar sobre como Biin puede ayudar a su empresa o instituci&oacute;n.
						p
							| Llena el formulario y te estaremos contactando lo antes posible o si prefieres hablar con alguien puedes llamar a Cesar Arce al n&uacute;mero 8701-1518 &oacute; Esteban Padilla al 8706-6660.
					//Contact form
					.col-sm-12
						form#contact-form.row(action='#', name='contactform', method='post')
							#input_name.col-md-6
								input#name.form-control(type='text', name='first_name', placeholder='Nombre', required)
							#input_email.col-md-6
								input#email.form-control(type='text', name='email', placeholder='Email', required)
							#input_subject.col-md-12
								input#subject.form-control(type='text', name='subject', placeholder='Titulo', required)
							#input_message.col-md-12
								textarea#comments.form-control(name='message', rows='6', placeholder='Tu mensaje ...', required)
								.sent-message
							//Submit Button
							#form_btn.col-md-12
								.text-center
									input#submit.btn-contact.btn.btn-black.btn-lg(type='submit', value='Enviar mensaje')
					//END Contact form
				//End row
			//End container
		//END CONTACTS
		//NEWSLETTER============================================= 
		#newsletter.parallax
			#subscribe.container
				.row
					//Newsletter Title
					#newsletter_title.col-md-6.text-center
						h1.newsletterFirstText Inscribase a nuestro bolet&iacute;n
						p.newsletterSecondText
							| Si quieres recibir el bolet&iacute;n con noticias importantes de Biin ingrese su correo electr&oacute;nico.
					//Newsletter Form
					#newsletter_form.col-md-6.text-center
						.clearfix
							form#subscribe-form.subscribe-form(action='newsletter.php', method='post')
								input.subscribe-input(type='email', name='email', placeholder='Tu correo electrónico...')
								input.subscribe-submit.btn.btn-black.btn-lg(type='submit', value='Suscribir', style='width: 35%;')
				//End row
			//End container
		//END NEWSLETTER	
		section#test
			.container
				.row
					h1(translate="TEST")
	//END CONTENT WRAPPER 
