extends layout_landing_page_out
block head_scripts
	script(src="/landingPage/js/angular/landing.js")
block content
	#contentWrapper
		section#preRegister
			.container
				.row
					.col-md-6
						.row
							h1 Excelente! Pre-registre Biin ahora
							p Sea parte de las primeras empresas que aprovechan Biin. Pre-registe ahora y reciba
								| atenci&oacute;n personalizada para crear la nueva experiencia para sus clientes. Biin estar&aacute;
								| disponible pronto, permitanos saber a qui&eacute;n contactar para coordinar los detalles de la puesta
								| en marcha de Biin en su empresa.
						form#pre-registform.row(action="#" name="pre-registform", method="post")
							label= "Usted está pre-ordenando el PAQUETE " + packageSlected
							input#name.form-control(type='text' name='full_name' placeholder='Full Name' required)
							input#company.form-control(type='text', name='company', placeholder='Company (mandatory if shipping to a business addres)', required)
							input#email.form-control(type='text', name='email', placeholder='Email', required)
							input#phone.form-control(type='text', name='phone', placeholder='Phone number', required)
							input#country.form-control(type='text', name='country', placeholder='Country **', required)
							input#state.form-control(type='text', name='state', placeholder='State', required)
							input#city.form-control(type='text', name='city', placeholder='City', required)
							input#zipCodes.form-control(type='text', name='zipCodes', placeholder='Zip Code', required)
							input#streetAddres.form-control(type='text', name='streetAddres', placeholder='Street Address', required)
							input#plan.hidden(type="tex" name="plan" value=packageSlected)						
							select#pack.selectpicker(title='Seleccione un paquete de Biin Beacons' name="pack" multiple data-max-options="1")
								option UNUM
								option TRIBUS
								option DECEM					
							.input-group.spinner
								input#qty.form-control(type="text" value="0" name="qty")
								.input-group-btn-vertical
									button.btn.btn-default
										i.fa.fa-caret-up
									button.btn.btn-default
										i.fa.fa-caret-down
							.row.text-center
								.contentCheckBox
									.checkboxFour
										input.validateCheck(type="checkbox" value="1" id="checkboxFourInput" name="termsAdCond")
										label(for="checkboxFourInput")
									span
										| He le&iacute;do y estoy de acuerdo con los t&eacute;rminos de venta de Biin.
						.row.text-center
							input#btn-preRegist.btn.btn-black.btn-lg.btnEnviar(type="submit" value="Enviar" disabled)
							label.sent-message
					.col-md-6
						.row.imgPreOrder
							img(src="/landingPage/img/thumbs/biinCMS.png")
		section#registerSucced(style="display: none;")
			.container
				.row
					.col-md-6
						.thankYuoTitle
							h1 Thanks for you registration
						.thankYouParagraph
							p We are goint to contact you to soon
						.row
							.thankYouButton
								a.btn.btn-black(href="/") Continue enjoying our page
					.col-md-6
						.row
							.happyBiinie
								img(src="/images/happyBiinieBlue.png")
