doctype html
html
	head
		title= title
		<!-- Bootstrap -->
		link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/sidebar.css')
		link(rel='stylesheet', href='/stylesheets/croppic.css')
		link(rel="stylesheet" href="/spectrum/spectrum.css")
		link(rel="stylesheet" href="/bootstrap-select/bootstrap-select.css")
		link(rel="stylesheet" href="/javascripts/jquery.scrollbar/jquery.scrollbar.css")
		<!-- Google Fonts --> 
		<!--link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,700italic,800,800italic' rel='stylesheet' type='text/css')--> 
		<!--link(href='http://fonts.googleapis.com/css?family=Lato:400,900italic,900,700italic,400italic,300italic,300,100italic,100' rel='stylesheet' type='text/css')--> 
		<!-- Font font-streamline. -->
		link(rel="stylesheet" href="/stylesheets/font-streamline.css")
		script(src="/angular/angular.js")
		script(src="/angular-route/angular-route.js")
		script(src="/javascripts/angular/app.js")
		block head_scripts
		script(src="/javascripts/angular/naturalSortVersion.js")
		base(href="/")
		//block head
	body
		include layout_menu
		.main-container
			.sidebar
				ul.nav.nav-sidebar.menu
					li.nav-item
						a(href="/home") 
							.icon.icon-house-2
							| HOME
					li.nav-item
						a(href="/organizations") 
							.icon.icon-id-4
							| ORGANIZATION

					if organization == null
						ul#organizationNav.nav.nav-sidebar.hide(data-organization='')
							li.nav-item
								a.name="Selected Organization"
							li.nav-item
								a(href="" data-org-link="/organizations/{0}/sites") 
									.icon.icon-shop
									| SITES
							li.nav-item
								a(href="" data-org-link="/organizations/{0}/showcases") 
									.icon.icon-book-1
									| SHOWCASES
							li.nav-item
								a(href="" data-org-link="/organizations/{0}/elements") 
									.icon.icon-bookmark-4-1
									| ELEMENTS
							//li
								a(href="" data-org-link="/organizations/{0}/gallery") 
									.icon.icon-coins-2(style='font-size:30px;')
									| GALLERY
					else
						ul#organizationNav.nav.nav-sidebar(data-organization=organization.identifier)
							li.nav-item
								a.name= organization.name	
							li.nav-item
								a(href="/organizations/"+organization.identifier+"/sites" data-org-link="/organizations/{0}/sites" ) 
									.icon.icon-shop
									| SITES
							li.nav-item
								a(href="/organizations/"+organization.identifier+"/elements" data-org-link="/organizations/{0}/elements" ) 
									.icon.icon-bookmark-4-1
									| ELEMENTS
							li.nav-item
								a(href="/organizations/"+organization.identifier+"/showcases" data-org-link="/organizations/{0}/showcases" ) 
									.icon.icon-book-1
									| SHOWCASES
							//li
								a(href="/organizations/"+organization.identifier+"/gallery" data-org-link="/organizations/{0}/gallery") 
									.icon.icon-coins-2
									| GALLERY
					li.nav-item
							a(href="#") 
								.icon.icon-rss-1
								| NEWS
					//li.nav-item
						a(href="/errors") ERRORS
						i.fa.fa-angle-right.angle-icon-sidebar
			.main.sidebar-margin
				block content
	script(src="/jquery/dist/jquery.min.js")							
	script(src="/bootstrap/dist/js/bootstrap.min.js")
	script(src="/imagesloaded/imagesloaded.pkgd.js")
	script(src="/lodash/dist/lodash.js")
	script(src="/jquery-knob/js/jquery.knob.js")
	script(src="/javascripts/h5utils.js")
	script(src="/javascripts/ui.js")
	script(src="/javascripts/croppic.js")
	script(src="/spectrum/spectrum.js")
	script(src="/angular-spectrum-colorpicker/dist/angular-spectrum-colorpicker.js")
	script(src="/bootstrap-select/bootstrap-select.js")
	script(src="/angular-bootstrap-select/build/angular-bootstrap-select.js")
	//todo remove the slim scroll reference
	script(src="/jquery.slimscroll/jquery.slimscroll.js")
	script(src="/angular-slimscroll/angular-slimscroll.js")
	script(src="/angular-animate/angular-animate.js")
	script(src="/jquery-ui/ui/jquery.ui.core.js")
	script(src="/jquery-ui/ui/jquery.ui.widget.js")
	script(src="/jquery-ui/ui/jquery.ui.mouse.js")
	script(src="/jquery-ui/ui/jquery.ui.draggable.js")
	script(src="/jquery-ui/ui/jquery.ui.droppable.js")
	script(src="/jquery-ui-touch-punch/jquery.ui.touch-punch.js")
	script(src="/underscore/underscore.js")
	script(src="/javascripts/utilities.js")
	script(src="/javascripts/jquery.scrollbar/jquery.scrollbar.js")		
