.navbar.navbar-fixed-top(role='navigation')
	.container-fluid
		.row
			.nav-user.navbar-right
				ul
					li.dropdown
						a
							i.icon.icon-stationery-1
						a.dropdown-toggle(href='#fakelink', data-toggle='dropdown')						
							i.icon.icon-setting-gear
						ul.dropdown-menu.square.primary.margin-list-rounded.with-triangle
							li
								a
									img.avatar.img-circle(src=user.profilePhoto, alt='Avatar')
									| Hi, 
									strong=user.displayName
							li
								a(href='/biinies') Binnies
							li
								a(href='/regions') Regions																	
							li.divider								
							li
								a(href='#fakelink') Account setting
							li
								a(href='#fakelink') Payment setting
							li
								a(href='#fakelink') Change password
							li
								a(href='#fakelink') My public profile
							li.divider
							li
								a(href='lock-screen.html') Lock screen
							li
								a(href='/logout') Log out