doctype html
html
  head
    title= title
    <!-- Bootstrap -->
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/sidebar.css')
    script(src="/angular/angular.js")    
    script(src="/angular-route/angular-route.js")      
    script(src="/javascripts/angular/showcasesController.js")
  body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fluid
          .navbar-header
            a.navbar-brand(href="#")='Ludusy'
          ul.nav.navbar-nav.navbar-right
            li
              a(href="#")='Hi ' + user.displayName + '!'
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          ul.nav.nav-sidebar.menu
            li
              a(href="#Home") Home
            li
              a(href="/Organizations") Organizations
            li
              a(href="#Stores") Stores
            li
              a(href="/Showcases") Showcases
            li
              a(href="#Objects") Objects    
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          block content
    script(src="/jquery/dist/jquery.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")          
    script(src="/javascripts/ui.js")