doctype html
html
	head
		title= title
		<!-- Bootstrap -->
		link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')		
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/sidebar.css')
		link(rel='stylesheet', href='/stylesheets/croppic.css')
		link(rel="stylesheet" href="/spectrum/spectrum.css")
		link(rel="stylesheet" href="/bootstrap-select/bootstrap-select.css")
		<!-- Google Fonts --> 
		<!--link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,700italic,800,800italic' rel='stylesheet' type='text/css')--> 
		<!--link(href='http://fonts.googleapis.com/css?family=Lato:400,900italic,900,700italic,400italic,300italic,300,100italic,100' rel='stylesheet' type='text/css')--> 
		<!-- Font font-streamline. -->
		link(rel="stylesheet" href="/stylesheets/font-streamline.css")
		script(src="/angular/angular.js")
		script(src="/angular-route/angular-route.js")
		script(src="/angular-smart-table/dist/smart-table.js")
		script(src="/javascripts/angular/app.js")
		script(src="/angular-translate/angular-translate.min.js")
		script(src="/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js")			
		script(src="/javascripts/angular/layoutLeftMenuController.js")
		block head_scripts
		script(src="/javascripts/angular/naturalSortVersion.js")
		base(href="/")
		//block head
	body
		include layout_menu
		.main-container
			.sidebar
				.sidebarContent
					.brand
						| biin
					#organizationMenu.navbar-organization
						.dropdown
							a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-expanded="false")
								i.icon.icon-buildings-3
								//	.caret
								//if organization == null								
									span Select an Organization
								//else
									span.name=organization.name									
							ul.dropdown-menu(role="menu")					
					ul.nav.nav-sidebar.menu(scrollbar)
						li.nav-item-divider
						li.nav-item
							a.toolLeftMenu(href="/home" title="Home") 
								.icon.icon-house-2
						li.nav-item
							a.toolLeftMenu(href="/accounts" title="Account") 
								.icon.icon-id-4
								//| ACCOUNT							
						if organization == null
							ul#organizationNav.nav.nav-sidebar.hide(data-organization='')
								li.nav-item
									a.toolLeftMenu(href="" data-org-link="/organizations/{0}/sites" title="Sites") 
										.icon.icon-shop
									//	| SITES
								li.nav-item
									a.toolLeftMenu(href="" data-org-link="/organizations/{0}/showcases" title="Showcases") 
										.icon.icon-book-1
									//	| SHOWCASES
								li.nav-item
									a.toolLeftMenu(href="" data-org-link="/organizations/{0}/elements" title="Elements") 
										.icon.icon-bookmark-4-1
									//	| ELEMENTS
								li.nav-item
									a.toolLeftMenu(href="" data-org-link="/organizations/{0}/biins" title="Biins")
										.icon.icon-hotspot-1
									//	| BIINS									
								//li
									a(href="" data-org-link="/organizations/{0}/gallery") 
										.icon.icon-coins-2(style='font-size:30px;')
										| GALLERY
						else
							ul#organizationNav.nav.nav-sidebar(data-organization=organization.identifier)
								li.nav-item
									a.toolLeftMenu(href="/organizations/"+organization.identifier+"/sites" data-org-link="/organizations/{0}/sites" title="Sites") 
										.icon.icon-shop
										//| SITES
								li.nav-item
									a.toolLeftMenu(href="/organizations/"+organization.identifier+"/elements" data-org-link="/organizations/{0}/elements" title="Elements" )
										.icon.icon-bookmark-4-1
										//| ELEMENTS
								li.nav-item
									a.toolLeftMenu(href="/organizations/"+organization.identifier+"/showcases" data-org-link="/organizations/{0}/showcases" title="Showcases" ) 
										.icon.icon-book-1
										//| SHOWCASES
								li.nav-item
									a.toolLeftMenu(href="/organizations/"+organization.identifier+"/biins"  data-org-link="/organizations/{0}/biins" title="Biins")
										.icon.icon-hotspot-1
										//| BIINS									
								li.nav-item
									a.toolLeftMenu(href="/maintenance" data-org-link="/maintenance" title="Maintenance" )
										.icon.icon-setting-gears-2
										//| MAINTENANCE
								//li
									a(href="/organizations/"+organization.identifier+"/gallery" data-org-link="/organizations/{0}/gallery") 
										.icon.icon-coins-2
										| GALLERY
						//li.nav-item
							a(href="/errors") ERRORS
							i.fa.fa-angle-right.angle-icon-sidebar
			.main.sidebar-margin
				block content
	script(src="/jquery/dist/jquery.min.js")
	script(src="/spectrum/spectrum.js")						
	script(src="/bootstrap/dist/js/bootstrap.min.js")
	script(src="/imagesloaded/imagesloaded.pkgd.js")
	script(src="/lodash/lodash.js")
	script(src="/jquery-knob/js/jquery.knob.js")
	script(src="/javascripts/h5utils.js")
	script(src="/javascripts/ui.js")
	script(src="/javascripts/croppic.js")
	script(src="/angular-bootstrap/ui-bootstrap-tpls.js")		
	script(src="/angular-spectrum-colorpicker/dist/angular-spectrum-colorpicker.js")
	script(src="/bootstrap-select/bootstrap-select.js")
	script(src="/angular-bootstrap-select/build/angular-bootstrap-select.js")
	script(src="/angular-bootstrap-checkbox/angular-bootstrap-checkbox.js")		
	//todo remove the slim scroll reference
	script(src="/jquery.slimscroll/jquery.slimscroll.js")
	script(src="/angular-slimscroll/angular-slimscroll.js")
	script(src="/angular-animate/angular-animate.js")
	script(src="/jquery-ui/ui/core.js")
	script(src="/jquery-ui/ui/widget.js")
	script(src="/jquery-ui/ui/mouse.js")
	script(src="/jquery-ui/ui/draggable.js")
	script(src="/jquery-ui/ui/droppable.js")
	script(src="/jquery-ui/ui/sortable.js")
	script(src="/jquery-ui-touch-punch/jquery.ui.touch-punch.js")
	script(src="/underscore/underscore.js")
	script(src="/javascripts/utilities.js")
	script(src="/javascripts/jquery.scrollbar/jquery.scrollbar.js")
