doctype html
html(lang='es')
	head
		//Basic 
		meta(charset='utf-8')
		title BiinApp discover engage enjoy
		meta(name='author', content='BiinApp')
		meta(name='keywords', content='ibeacons, micro-location, context, awareness, mobile app, BLE')
		meta(name='description', content='En Biin estamos creando la primera plataforma para información y beneficios aprovechando la microlocalización por medio de iBeacons. Con una aplicacion móvil, universal y de uso grauito, visitantes de comercios, lugares de entretenimiento o instituciones, tendrán acceso a la información relevante para el contexto.')
		
		//Mobile Specific Metas 
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		
		//Libs CSS 
		link(href='/landingPage/stylesheets/bootstrap.css', rel='stylesheet')
		link(href='/landingPage/stylesheets/font-awesome.min.css', rel='stylesheet')
		link(href='/landingPage/stylesheets/flexslider.css', rel='stylesheet')
		link(href='/landingPage/stylesheets/magnific-popup.css', rel='stylesheet')
		
		//Template CSS 
		link(href='/landingPage/stylesheets/style.css', rel='stylesheet')

		//Responsive CSS 
		link(href='/landingPage/stylesheets/responsive.css', rel='stylesheet')
		
		//Favicons 
		link(rel='shortcut icon', href='/images/favicon.ico')
		link(rel='apple-touch-icon', sizes='114x114', href='/landingPage/img/icons/apple-touch-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='72x72', href='/landingPage/img/icons/apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon', href='/landingPage/img/icons/apple-touch-icon.png')
		
		//Google Fonts
		link(href='/landingPage/stylesheets/google-fonts-lato.css', rel='stylesheet', type='text/css')
		link(href='/landingPage/stylesheets/google-fonts-open-sans.css', rel='stylesheet', type='text/css')
		script(src="/angular/angular.js")
		script(src="/angular-route/angular-route.js")
		script(src="/javascripts/angular/app.js")			
		block head_scripts			
	body
		
		//PRELOADER =============================================
		#preloader
			#status

		//HEADER=============================================
		header#header
			.navbar.navbar-fixed-top
				.container
					.transparency					
					.navbar-header
						//Responsive Menu
						button#nav-toggle.navbar-toggle(type='button', data-toggle='collapse', data-target='#navigation-menu')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						//Logo Image
						a.navbar-brand(href='#top-page-banner')
							img(src='/images/biinLogoSlogan.png', alt='logo', role='banner')					
					//Navigation Menu
					nav#navigation-menu.collapse.navbar-collapse(role='navigation')
						ul.nav.navbar-nav.navbar-right
							li
								a#GoToHome.selected-nav(href='#intro') Inicio
							li
								a#GoToFeatures(href='#features') Caracter&iacute;sticas								
							li
								a#GoToScreens(href='#screens') Qui&eacute;n usa Biin?
							li
								a#GoToNewsletter(href='#newsletter') Bolet&iacute;n
							li
								a#GoToPricing(href='#pricing') Precios
							li
								a#GoToContact(href='#contact') Contact&aacute;nos
							li(style='cursor: pointer;').dropdown
								a.dropdown-toggle(data-toggle='dropdown')
									| Inicio Sessi&oacute;n
									b.caret
								ul.dropdown-menu.loginDropDown
									li
										h4 Biin Dashboard login.
										form.loginForm(action='/login', method='POST')
											input.form-control.input-block-level(name='username', type='text', placeholder='e-mail')
											input#passwordInput.form-control.input-block-level(name='password', type='password', placeholder='password')
											a.forgotPass.pull-right(href='') Forgot password?
											div(data-toggle='buttons-checkbox')
												.checkbox.stayLogged
													label
														input(type='checkbox')
														| Stay Logged In
												span.adviceLoggedIn.pull-left Keep me logged in until I log out
												a#buttonLogin.btn.btn-theme.fulllWidth Login
												a#buttonSignUP.btn.btn-theme.btn-signUp.fulllWidth Sign up
					//End nav-collapse
				//End container
			//End navbar
		//END form-inline

		//CONTENT WRAPPER============================================= 
		#content-wrapper
			block content
			//FOOTER============================================= 
			footer#footer
				.container
					//Footer Social Icons
					.row
						#footer_icons.col-md-12.text-center
							ul.footer-socials.clearfix
								li
									a.foo_social.ico-facebook(href='#')
										i.fa.fa-facebook
								li
									a.foo_social.ico-twitter(href='#')
										i.fa.fa-twitter
								li
									a.foo_social.ico-google-plus(href='#')
										i.fa.fa-google-plus
								li
									a.foo_social.ico-linkedin(href='#')
										i.fa.fa-linkedin
								li
									a.foo_social.ico-dribbble(href='#')
										i.fa.fa-dribbble
								//
									<li><a class="foo_social ico-instagram" href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a class="foo_social ico-pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
									<li><a class="foo_social ico-dropbox" href="#"><i class="fa fa-dropbox"></i></a></li>
									<li><a class="foo_social ico-skype" href="#"><i class="fa fa-skype"></i></a></li>
									<li><a class="foo_social ico-youtube" href="#"><i class="fa fa-youtube"></i></a></li>
									<li><a class="foo_social ico-tumblr" href="#"><i class="fa fa-tumblr"></i></a></li>
									<li><a class="foo_social ico-vimeo" href="#"><i class="fa fa-vimeo-square"></i></a></li>
									<li><a class="foo_social ico-flickr" href="#"><i class="fa fa-flickr"></i></a></li>
									<li><a class="foo_social ico-github" href="#"><i class="fa fa-github-alt"></i></a></li>
									<li><a class="foo_social ico-renren" href="#"><i class="fa fa-renren"></i></a></li>
									<li><a class="foo_social ico-vk" href="#"><i class="fa fa-vk"></i></a></li>
									<li><a class="foo_social ico-xing" href="#"><i class="fa fa-xing"></i></a></li>
									<li><a class="foo_social ico-weibo" href="#"><i class="fa fa-weibo"></i></a></li>
									<li><a class="foo_social ico-rss" href="#"><i class="fa fa-rss"></i></a></li>
					//End Footer Social Icons
					//Footer Copy
					.row
						#footer_copy.col-sm-12.text-center
							p © Biin Appication. All Right Reserved
					//End Footer Copy
				//End container
			//END FOOTER	
		//END CONTENT WRAPPER 
		//EXTERNAL SCRIPTS=============================================
		script(src='/landingPage/js/jquery-2.1.0.min.js', type='text/javascript')
		script(src='/landingPage/js/bootstrap.min.js', type='text/javascript')
		script(src='/landingPage/js/modernizr.custom.js', type='text/javascript')
		script(src='/landingPage/js/retina.js', type='text/javascript')
		script(src='/landingPage/js/jquery.stellar.min.js')
		script(src='/landingPage/js/jquery.superslides.js', type='text/javascript')
		script(src='/landingPage/js/jquery.parallax-1.1.3.js', type='text/javascript')
		script(src='/landingPage/js/jquery.magnific-popup.min.js', type='text/javascript')
		script(defer='defer', src='/landingPage/js/jquery.flexslider.js', type='text/javascript')
		script(defer='defer', src='/landingPage/js/jquery.validate.min.js', type='text/javascript')
		script(src='/landingPage/js/custom.js', type='text/javascript')
		
		//Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. 
		//
			<script>
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-XXXXX-X']);
				_gaq.push(['_trackPageview']);
				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
			</script>				