doctype html
html
  head
    title= title
    <!-- Bootstrap -->
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/sidebar.css')
    link(rel='stylesheet', href='/stylesheets/croppic.css')
    link(rel="stylesheet" href="/spectrum/spectrum.css")
    link(rel="stylesheet" href="/bootstrap-select/bootstrap-select.css")
    <!-- Template CSS -->
    link(rel="stylesheet" href="/stylesheets/style.css")     
    <!-- Responsive CSS -->
    link(rel="stylesheet" href="/stylesheets/responsive.css")
    <!-- Google Fonts --> 
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,700italic,800,800italic' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:400,900italic,900,700italic,400italic,300italic,300,100italic,100' rel='stylesheet' type='text/css')
    <!-- CMS custom CSS -->
    link(rel="stylesheet" href="/stylesheets/cmsMain.css")     
    <!-- Font awesome icons -->        
    link(rel="stylesheet" href="/stylesheets/font-streamline.css")
    script(src="/angular/angular.js")    
    script(src="/angular-route/angular-route.js")      
    script(src="/javascripts/angular/showcasesController.js")
    script(src="/javascripts/angular/elementsController.js")  
    script(src="/javascripts/angular/naturalSortVersion.js") 
  body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fluid
          .navbar-header
            a.navbar-brand(href="#")
              img(src="images/icons/biinCMSLogoIcon.png")
            #main-fixed-nav.collapse.navbar-collapse.navSearchSection
              // Begin nav search form
              form.navbar-form.navbar-left(role='search')
                .form-group
                  input.form-control.search-box(type='text', placeholder='Search')
              // End nav search form
              ul.nav.navbar-nav.navbar-left.notifications
                // Begin nav message
                li.dropdown
                  a.dropdown-toggle.notificationIcon(href='#fakelink', data-toggle='dropdown')
                    img(src="images/icons/bnMailIcon.png")
                    span.badge.message.icon-count 9
                  ul.dropdown-menu.square.margin-list-rounded.with-triangle
                    li
                      .nav-dropdown-heading
                        | Messages
                      // /.nav-dropdown-heading
                      .slimScrollDiv(style='position: relative; overflow: hidden; width: auto; height: 350px;')
                        .nav-dropdown-content.scroll-nav-dropdown(style='overflow: hidden; width: auto; height: 350px;')
                          ul
                            li.unread
                              a(href='#fakelink')
                                img.absolute-left-content.img-circle(src2='assets/img/avatar/avatar-25.jpg', alt='Avatar')
                                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                span.small-caps 17 seconds ago
                        .slimScrollBar(style='width: 4px; position: absolute; top: 0px; opacity: 0.4; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; background: rgb(0, 0, 0);')
                        .slimScrollRail(style='width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.3; z-index: 90; right: 1px; background: rgb(51, 51, 51);')
                      // /.nav-dropdown-content scroll-nav-dropdown
                      button.btn.btn-primary.btn-square.btn-block See all message
                // End nav message                
                // Begin nav chat
                li.dropdown
                  a.dropdown-toggle.notificationIcon(href='#fakelink', data-toggle='dropdown')
                    img(src="images/icons/bnChatIcon.png")
                    span.badge.chat.icon-count 7
                  ul.dropdown-menu.square.with-triangle
                    li
                      .nav-dropdown-heading
                        | Notifications
                      // /.nav-dropdown-heading
                      .slimScrollDiv(style='position: relative; overflow: hidden; width: auto; height: 350px;')
                        .nav-dropdown-content.scroll-nav-dropdown(style='overflow: hidden; width: auto; height: 350px;')
                          ul
                            li.unread
                              a(href='#fakelink')
                                img.absolute-left-content.img-circle(src3='assets/img/avatar/avatar-2.jpg', alt='Avatar')
                                strong Thomas White
                                | posted on your profile page
                                span.small-caps 17 seconds ago
                        .slimScrollBar(style='width: 4px; position: absolute; top: 0px; opacity: 0.4; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; background: rgb(0, 0, 0);')
                        .slimScrollRail(style='width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.3; z-index: 90; right: 1px; background: rgb(51, 51, 51);')
                      // /.nav-dropdown-content scroll-nav-dropdown
                      button.btn.btn-primary.btn-square.btn-block See all notifications
                //End nav chat
            ul.nav-user.navbar-right
              li.dropdown
                a.dropdown-toggle(href='#fakelink', data-toggle='dropdown')
                  img.avatar.img-circle(src='images/icons/avatar.png', alt='Avatar')
                  | Hi, 
                  strong=user.displayName
                  img.avatarSettings(src='images/icons/bnSettingsIcon.png', alt='Avatar')
                ul.dropdown-menu.square.primary.margin-list-rounded.with-triangle
                  li
                    a(href='#fakelink') Account setting
                  li
                    a(href='#fakelink') Payment setting
                  li
                    a(href='#fakelink') Change password
                  li
                    a(href='#fakelink') My public profile
                  li.divider
                  li
                    a(href='lock-screen.html') Lock screen
                  li
                    a(href='login.html') Log out
    .container-fluid.main-container
      .row.main-container-row
        .col-sm-2.col-md-2.sidebar
          ul.nav.nav-sidebar.menu
            li.form-inline
              a(href="/Home") HOME
                i.fa.fa-angle-right.angle-icon-sidebar
            li
              a(href="/Regions") REGIONS
                i.fa.fa-angle-right.angle-icon-sidebar              
            li
              a(href="/Organizations") ORGANIZATIONS
                i.fa.fa-angle-right.angle-icon-sidebar              
            li
              a(href="#Stores") STORES
                i.fa.fa-angle-right.angle-icon-sidebar              
            li
              a(href="/Showcases") SHOWCASES
                i.fa.fa-angle-right.angle-icon-sidebar              
            li
              a(href="/Elements") OBJECTS    
                i.fa.fa-angle-right.angle-icon-sidebar              
            li
              a(href="/Errors") ERRORS              
                i.fa.fa-angle-right.angle-icon-sidebar            
        .col-sm-10.col-sm-offset-2.col-md-10.col-md-offset-2.main
          block content
    script(src="/jquery/dist/jquery.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")   
    script(src="/imagesloaded/imagesloaded.pkgd.js")
    script(src="/lodash/dist/lodash.js")
    script(src="/jquery-knob/js/jquery.knob.js")
    script(src="/javascripts/ui.js")
    script(src="/javascripts/croppic.js")
    script(src="/spectrum/spectrum.js")
    script(src="/angular-spectrum-colorpicker/dist/angular-spectrum-colorpicker.js")      
    script(src="/bootstrap-select/bootstrap-select.js")
    script(src="/angular-bootstrap-select/build/angular-bootstrap-select.js") 
    script(src="/jquery.slimscroll/jquery.slimscroll.js")     
    script(src="/angular-slimscroll/angular-slimscroll.js")
    script(src="/jquery-ui/ui/jquery.ui.core.js")
    script(src="/jquery-ui/ui/jquery.ui.widget.js")
    script(src="/jquery-ui/ui/jquery.ui.mouse.js")
    script(src="/jquery-ui/ui/jquery.ui.draggable.js")
    script(src="/jquery-ui/ui/jquery.ui.droppable.js")
    script(src="/jquery-ui-touch-punch/jquery.ui.touch-punch.js")
    script(src="/underscore/underscore.js")            
    script(src="/javascripts/utilities.js")