doctype html
html
  head
    title= title
    <!-- Bootstrap -->
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src="/jquery/dist/jquery.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")  
  body
    .navbar.navbar-fixed-top(role='navigation')
      ul.nav.nav-pills.pull-right
        li
          p='Hi ' + user.username + '!'
    .container-fluid
      .row
        block content
