extends layout_landing_page_out
block head_scripts
	script(src="/landingPage/js/angular/landing.js")
block content		
	section#termsAndConditions
		.container
			//Section Tittle
			.row
				h1 Mobile Services List
			.row								
			.row
			.row