extends ../layout_dashboard
block content	
	#wrapperHeader.row
		h1 Organizations
	#wrapperContent.row
		.panel.panel-default
			.panel-heading
				p Organizations
				.options
					a.button(href="#") Add Button
			.panel-body
				.list-group
					a.list-group-item(href="#") Cras justo odio
					a.list-group-item(href="#") Dapibus ac facilisis in