extends layout_landing_page_out
block head_scripts
	script(src="/landingPage/js/angular/landing.js")
block content		
	section#privacyPolicy
		.container
			//Section Tittle
			.row.beginningSection
				h1
					| Privacy Policy
				h2
					| Available Soon