extends layout_landing_page_out
block head_scripts
	script(src="/landingPage/js/angular/landing.js")
block content		
	section#privacyPolicy
		.container
			//Section Tittle
			.row.beginningSection
				h1
					| Biin Política de privacidad
				h2
					| Actualizado 23 de Julio de 2015
				p
					| En Biin tomamos en serio tu privacidad y la transparencia sobre el uso que hacemos con la misma. Por eso nos comprometemos a tener transparencia en nuestras prácticas de privacidad y control de datos.
				P
					| En este documento se describen la forma en que Biin maneja los datos de identificación personal (“Información Personal”) y otro tipo de información que utilizamos para poder brindar un servicio más conveniente en nuestras aplicaciones.
				h4
					| Que información personal recoge Biin?
				p
					| La información que tu nos proporcionas a través del proceso de subscripción al servicio como el nombre, correo electronico, genero, edad. Ademas Biin guarda la información de tu ubicación cuando entras o pasas cerca de locales comerciales que se anuncien en Biin. Todo esto para poder personalizar la experiencia de utilizar la aplicación para hacerla más relevante y conveniente.
				p
					| Para recolectar la información de la ubicación Biin utiliza las tecnologías tales como sensores de GPS, facilidades de los sistemas operativos móviles y la interacción con los sensores Bluetooth Biin instalados en los diferentes locales suscritos a nuestros servicios.
				h4
					| Cómo se comparte mi información?
				p
					| Biin no vende, alquila o comparte tu información personal con ningún ente externo. Los negocios inscritos a Biin podrán tener acceso a información agregada sobre la interacción de las personas con sus negocios, incluyendo las visitas a sus locales pero no acceso a la información personal a menos que la persona voluntariamente se suscriba a los planes de fidelización presentes en Biin.
				h4
					| ¿Seguridad de mi información personal?
				p
					| La información personal de tu cuenta de Biin está protegida por una contraseña para tu privacidad y seguridad. Debes evitar el acceso no autorizado a tu cuenta e información personal mediante la selección y protección adecuada de tu contraseña y limitando el acceso a tu computadora y navegador cerrando tu sesión después de haber terminado de acceder a tu cuenta.
				p
					| Biin se esfuerza por proteger la información del usuario para asegurarse de que la información de la cuenta del usuario se mantenga privada. Sin embargo, Biin no puede garantizar la seguridad de la información de la cuenta del usuario. El ingreso o uso no autorizados, las fallas de hardware o software y otros factores podrían comprometer la seguridad de la información del usuario en cualquier momento.
				p
					| Los Servicios podrán contener enlaces a otros sitios. Biin no es responsable de las políticas y/o prácticas de privacidad de otros sitios. Al seguir un enlace a otro sitio, debes leer la política de privacidad que aparece en dicho sitio. Esta Política de privacidad solo rige la información recopilada en los Servicios.