extends layout_landing_page_out
block head_scripts
	script(src="/landingPage/js/angular/landing.js")
block content		
	section#support
		.container
			//Section Tittle
			.row.beginningSection
				h1
					| Support
				h3
					| Si tienes alguna consulta o problema con el uso de los servicios de Biin por favor ponte en contacto al correo 
					a(href="mailto:contact@biin.io?Subject=contact" target="_top") contact@biin.io
					|, dejanos tu información de contacto y te estaremos contactando lo antes posible 