extends layout_landing_page_out
block head_scripts
	script(src="/landingPage/js/angular/landing.js")
block content		
	section#termsAndConditions
		.container
			//Section Tittle
			.row
				h1
					| Biin términos para la orden anticipada y términos de uso.
				h2
					|Quienes somos y que es Biin?
				p
					|Biin y BiinApp son marcas de In Computers S.A. de Costa Rica.
				p
					|Biin es un startup tecnol&oacute;gico dedicado a construir la primera experiencia digital completa con contexto del mundo real. Desarrollamos las aplicaciones y los sensores para que los espacios f&iacute;sicos cotidianos puedan contar una historia que sea &uacute;til para las personas.<br/> Creamos programas que mejoren la relaci&oacute;n de diferentes lugares con sus visitantes mejorando la forma de comprar, entretenerse, adquirir un servicio o informarse sobre el mundo que nos rodea.
				p
					|La plataforma Biin para mercadeo e informaci&oacute;n est&aacute; compuesta de un set de programas web, aplicaciones m&oacute;viles y los dispositivos Biin Beacons que ayuda a empresas e instituciones a informar mejor a sus clientes y visitantes por medio de la aplicacion m&oacute;vil Biin y el contenido mostrado con contexto por medio de los Biin Beacons, ademas de contener un programa para beneficios comerciales y un programa digital de lealtad de clientes.
				h2
					|Condiciones de pre-compra de los servicios de Biin.
				p
<<<<<<< HEAD
					|Los servicios de la plataforma de software y el hardware de los Biin Beacons pueden ser pre ordenados por medio de la página web de Biin, los clientes que pre-ordenen los paquetes de Biin serán contactados para validar su interés en la plataforma y coordinar las condiciones de pago y entrega.
					|Ademas lo ayudaremos a aclarar las instrucciones de instalación y operación de la plataforma Biin.
					|Los clientes que se suscriban a la pre-compra, aceptan las condiciones de precio y las características de los servicios y el hardware de Biin a la hora de la compra y se comprometen a concretar la transacción.
				h2
					|Pago
				p
					|Los clientes que acepten la precompra de la suscripción y los Biin Beacons se comprometen a efectuar el pago completo correspondiente a la suscripción a la plataforma y al hardware de los Biin Beacons en las condiciones que se negocien de acuerdo a las posibilidades tecnológicas ofrecidas por Biin para recolectar el cargo, que pueden incluir, transferencias bancarias, recolección de cheque, pago por medio de tarjeta de credito o debito o pago en efectivo.
=======
					|Los servicios de la plataforma de software y el hardware de los Biin Beacons pueden ser pre ordenados por medio de la p&aacute;gina web de Biin, los clientes que pre-ordenen los paquetes de Biin ser&aacute;n contactados para validar su inter&eacute;s en la plataforma y coordinar las condiciones de pago y entrega.
					|Ademas de aclarar las instrucciones de instalaci&oacute;n y operaci&oacute;n de la plataforma Biin.
					|Los clientes que se suscriban a la pre-compra, aceptan las condiciones de precio y las caracter&iacute;sticas de los servicios y el hardware de Biin a la hora de la compra y se comprometen a concretar la transacci&oacute;n.
				h2
					|Pago
				p
					|Los clientes que acepten la precompra de la suscripci&oacute;n y los Biin Beacons se comprometen a efectuar el pago completo correspondiente a la suscripci&oacute;n a la plataforma y al hardware de los Biin Beacons en las condiciones que se negocien de acuerdo a las posibilidades tecnol&oacute;gicas ofrecidas por Biin para recolectar el cargo, que pueden incluir, transferencias bancarias, recolecci&oacute;n de cheque, pago por medio de tarjeta de credito o debito.
>>>>>>> b32bab739a753bea2f3f4f7bb29581aedd3775e9
				h2
					|Envio de los Beacons
				p
					|Biin har&aacute; el env&iacute;o correspondiente a una orden cuando los Biin Beacons est&eacute;n disponibles y se haya recibido el pago correspondiente. Biin podr&aacute; decidir discrecionalmente hacer un env&iacute;o de una orden previo a la recepci&oacute;n del pago.
				p
<<<<<<< HEAD
					|Para envíos fuera de Costa Rica, el cliente es responsable por todos los cargos que se incurran a partir de las formalidades de importación, deberes, impuestos y otros cargos de la importación.Las fechas de entrega son estimadas y Biin no es responsable por pérdida o daño sufrido durante el envío.  
					|Si alguno de los productos de software o hardware de Biin no funcionan de acuerdo a las expectativas del cliente, el cliente podrá ponerse en contacto con biin al correo contact@biinapp.com en los siguientes 15 días del dia de entrega o de la suscripción para solicitar algún cambio o bien la devolución de dinero dentro de un periodo razonable de tiempo. Biin hará la devolución de dinero restando los costos de envio.
					|Si el cliente no contacta a Biin dentro de los 15 días posteriores a la recepción o suscripción del producto, se dará por aceptado y 
=======
					|Para env&iacute;os fuera de Costa Rica, el cliente es responsable por todos los cargos que se incurran a partir de las formalidades de importaci&oacute;n, deberes, impuestos y otros cargos
					|de la importaci&oacute;n. Las fechas de entrega son estimadas y Biin no es responsable por p&eacute;rdida o da&ntilde;o sufrido durante el env&iacute;o  
					|Aceptaci&oacute;n de los productos y pol&iacute;ticas de devoluci&oacute;n 
					|Si alguno de los productos de software o hardware de Biin no funcionan de acuerdo a las expectativas del cliente, el cliente podr&aacute; ponerse en contacto con biin al correo contact@biinapp.com en los siguientes 15 d&iacute;as del dia de entrega o de la suscripci&oacute;n para solicitar alg&uacute;n cambio o bien la devoluci&oacute;n de dinero dentro de un periodo razonable de tiempo. Biin har&aacute; la devoluci&oacute;n de dinero restando los costos de envio.
					|Si el cliente no contacta a Biin dentro de los 15 d&iacute;as posteriores a la recepci&oacute;n o suscripci&oacute;n del producto, se dar&aacute; por aceptado y 
>>>>>>> b32bab739a753bea2f3f4f7bb29581aedd3775e9
				h2
					|T&eacute;rminos de uso de la plataforma Biin 
				p
					|IMPORTANTE— Leer cuidadosamente, al crear una cuenta o al utilizar los servicios o productos de Biin, Usted acuerda respetar estos t&eacute;rminos y condiciones
				p
<<<<<<< HEAD
					|Gracias por elegir los servicios y productos de Biin (colectivamente “Servicio”), el uso del servicio está sujeto a los términos expuestos en este documento y representan un acuerdo legal entre Usted y in Computer SA de Costa Rica como compañía dueña de la marca Biin, BiinApp y Biin Beacons. “Usted” se refiere a cualquier persona que crea una cuenta con Biin o en el caso de que se cree en nombre de una entidad o empresa, “Usted” se referirá a dicha empresa. Si Usted accede al servicio como empleado, Usted representa y garantiza que tiene la autorización para aceptar estos términos en representación de su empleador. Si no está de acuerdo con estos términos, por favor abstenerse de usar el Servicio. Biin se reserva el derecho de actualizar y cambiar los términos sin notificación o aceptación de su parte. Al aceptar estos términos usted acepta irrevocablemente el acuerdo y los términos. El software y el hardware de Biin están cubiertos por las leyes internacionales de derechos de autor.
=======
					|Gracias por elegir los servicios y productos de Biin (colectivamente “el servicio”), el uso del servicio est&aacute; sujeto a los t&eacute;rminos expuestos en este documento y representan un acuerdo legal entre Usted y in Computer SA de Costa Rica como compa&ntilde;&iacute;a due&ntilde;a de la marca Biin, BiinApp y Biin Beacons. “Usted” se refiere a cualquier personas que crea una cuenta con Biin o en el caso de que se cree en nombre de una entidad o empresa, “Usted” se referir&aacute; a dicha empresa. Si Usted accede al servicio como empleado, Usted representa y garantiza que tiene la autorizaci&oacute;n para aceptar estos t&eacute;rminos en representaci&oacute;n de su empleador. Si usted no est&aacute; de acuerdo con estos t&eacute;rminos, por favor abst&eacute;ngase de usar el servicio.Biin se reserva el derecho de actualizar y cambiar los t&eacute;rminos sin notificaci&oacute;n o aceptaci&oacute;n de su parte.Al aceptar estos t&eacute;rminos usted acepta irrevocablemente el acuerdo y los t&eacute;rminos. El software y el hardware de Biin est&aacute;n cubiertos por las leyes internacionales de derechos de autor.
>>>>>>> b32bab739a753bea2f3f4f7bb29581aedd3775e9
				h2
					|Descripci&oacute;n del servicio	
				p
					|El servicio incluye y est&aacute; limitado a un servicio, un sitio web, una aplicaci&oacute;n m&oacute;vil y el hardware Biin beacons que le permite acceder y usar una cuenta de Biin. Biin es una herramienta para mercadeo digital, programa de lealtad y plataforma informativa. El servicio podr&aacute; contener informaci&oacute;n, datos, texto, fotograf&iacute;as, videos, clips de audio, comentarios escritos, gr&aacute;ficos y contenido interactivo, generado o hecho accesible por medio del uso del servicio (colectivamente “Contenido”), que estar&aacute; sujeto a estos t&eacute;rminos de servicio. Biin garantiza a Usted y a cada usuario del servicio una licencia no-transferible, no-exclusiva y no sub-arrendable para usar (descargar, modificar o distribuir) Contenido exclusivamente con prop&oacute;sitos de usar el Servicio. El uso reproducci&oacute;n, modificaci&oacute;n o almacenamiento de cualquier Contenido para prop&oacute;sitos diferentes a los del Servicio estar&aacute; expresamente prohibido sin permiso previo escrito por parte de Biin.
					|El Servicio no est&aacute; dise&ntilde;ado para operar en ambientes peligrosos, que requieran controles de fallo, incluidos pero no limitados a plantas nucleares, sistemas de navegaci&oacute;n de aviones, sistemas de comunicaci&oacute;n, control de trafico, armas o sistemas de soporte vital.
				p
					|A menos que expl&iacute;citamente se omita, cualquier mejora al Servicio incluyendo nuevos productos, herramientas o recursos, estar&aacute;n cubiertos por este acuerdo. Para acceder a estos servicios Usted tendr&aacute; que tener acceso a la red global de Internet, as&iacute; mismo Usted deber&aacute; procurarse el acceso de todos los recursos necesarios como computadoras, m&oacute;dems o dispositivos de acceso. 
					|Usted acepta accesar los servicios de Biin &uacute;nicamente por medio de los medios e interfaces otorgados por Biin.Biin podr&iacute;a modificar las caracter&iacute;sticas de acceso al servicio sin previo aviso.
				h2
					|Registro
				p
<<<<<<< HEAD
					|Para registrarse al servicio, Usted debe tener una Cuenta válida. Para adquirir una Cuenta para el Servicio, Usted debe proporcionar un correo electrónico válido y otra información (Datos de Registro) Usted es responsable por mantener la confidencialidad de los Datos de su Cuenta y es responsable por todas las actividades que ocurran bajo su cuenta. Usted está de acuerdo en notificar inmediatamente a Biin cualquier uso no autorizado de su cuenta o cualquier brecha de seguridad y asegurarse de salir de su cuenta al final de cada sesión. Biin no puede hacerse responsable por ningún daño o pérdida causado por un error suyo en cumplir con esta sección
					|En consideración al uso del Servicio usted está de acuerdo en: 1.proveer información veraz, vigente y completa acerca de su persona cuando se le solicite en el formulario de registro, 2.Mantener la información actualizada, vigente y completa. Biin no asume ninguna responsabilidad de verificar dicha información. Si Usted provee cualquier información que sea falsa, imprecisa o no vigente, Biin tendrá el derecho razonable de suspender o eliminar su Cuenta y denegar cualquier uso futuro del Servicio.
					|Al usar el servicio Usted garantiza que es mayor de 18 años. Nadie menor a 18 años debe usar el servicio. Biin se reserva el derecho de ofrecer el servicio a cualquier persona o entidad y a cambiar los criterios de elegibilidad en cualquier momento. Usted es responsable de asegurarse de que estos términos de Servicio cumplan con las leyes, regulaciones aplicables.
=======
					|Para registrarse al servicio, Usted debe tener una Cuenta v&aacute;lida. Para adquirir una Cuenta para el Servicio, Usted debe proporcionar un correo electr&oacute;nico v&aacute;lido y otra informaci&oacute;n (Datos de Registro) Usted es responsable por mantener la confidencialidad de los Datos de su Cuenta y es responsable por todas las actividades que ocurran bajo su cuenta. Usted est&aacute; de acuerdo en notificar inmediatamente a Biin cualquier uso no autorizado de su cuenta o cualquier brecha de seguridad y asegurarse de salir de su cuenta al final de cada sesi&oacute;n. Biin no puede hacerse responsable por ning&uacute;n da&ntilde;o o p&eacute;rdida causado por un error suyo en cumplir con esta secci&oacute;n
					|En consideraci&oacute;n al uso del Servicio usted est&aacute; de acuerdo en: 1.proveer informaci&oacute;n veraz, vigente y completa acerca de su persona cuenco se le solicite en el formulario de registro,2.Mantener la informaci&oacute;n actualizada, vigente y completa. Biin no asume ninguna responsabilidad de verificar dicha informaci&oacute;n. Si Usted provee cualquier informaci&oacute;n que sea falsa, imprecisa o no vigente, Biin tendr&aacute; el derecho razonable de suspender o eliminar su Cuenta y denegar cualquier uso futuro del Servicio.
					|Al usar el servicio Usted garantiza que es mayor de 18 a&ntilde;os. Nadie menor a 18 a&ntilde;os debe usar el servicio. Biin se reserva el derecho de ofrecer el servicio a cualquier persona o entidad y a cambiar los criterios de elegibilidad en cualquier momento. Usted es responsable de asegurarse de que estos t&eacute;rminos de Servicio cumplan con las leyes, regulaciones aplicables.
>>>>>>> b32bab739a753bea2f3f4f7bb29581aedd3775e9
				h2
					|T&eacute;rminos de pago y facturaci&oacute;n
				p
					|Caracter&iacute;sticas a Biin podr&iacute;an ser a&ntilde;adidas al Servicio y hechas disponibles para Usted como mejoras pagadas en el (“Plan Pagado”). Si usted decide suscribirse a un Plan Pagado, Usted deber&aacute; pagar las tarifas acordadas y descritas en este documento. Usted proveer&aacute; a Biin la informaci&oacute;n de facturaci&oacute;n y cobro necesaria (“Informaci&oacute;n de Pago”)
				p
					|Biin aceptar&aacute; pagos por concepto de (“Cuota de Suscripci&oacute;n”) o por Biin Beacons  por medio de  transferencia bancaria, efectivo o cheque mientras se implementan las capacidades  de pago por tarjeta de cr&eacute;dito.Los precios son referenciados en d&oacute;lares estadounidenses. Biin aceptar&aacute; pagos suscripciones mensuales o semestrales.
				p
<<<<<<< HEAD
					|Si Usted selecciona un Plan Pagado, debe proporcionar los datos completos y vigentes de la Información de pago.
				h2
					|Terminacion, suspensión o cancelación de una cuentan.
				p
					|Si su pago mensual está retrasado, Biin deshabilitará su acceso a el Servicio. Biin podrá si así lo dispone terminar el servicio y este acuerdo, o suspender o eliminar su cuenta.
				h2
					|Devoluciones
				p
					|Biin proveerá medios para cancelar el Plan Pagado en la pagina web de Biin.Si cancela su cuenta dentro de los 30 días calendario de la fecha de subscripción, y solicita una devolución, Biin reembolsará todos los pagos hechos en los 30 días calendario previos a la cancelación y la solicitud de devolución.
				h2
					|Derechos de propiedad intelectual.
				p
					|Biin retiene toda la propiedad intelectual del Servicio, y las marcas asociadas y mostradas en el Servicio. Usted no podrá usurpar ninguna de las marcas de Biin. Usted no hará ingeniería inversa, compilación inversa o reducir a ninguna forma humanamente legible ningún software de Biin.
				h2
					|Uso no adecuado
				p
					|Biin no reclamará poder sobre ningún contenido generado por el usuario y subido al Servicio. El contenido le pertenece a usted. Sin embargo al subir el contenido al Servicio, Usted está de acuerdo en que Biin guarde y despliegue el contenido solo a usuarios de la aplicación movil de Biin. La administración de los parámetros para compartir la información quedan bajo su responsabilidad.
				p
					|Usted acepta que el único responsable del Contenido subido a Biin es Usted.Biin no controla el contenido subido al servicio y por lo tanto no garantiza su correctitud, integridad o calidad. Usted acepta que mediante el uso del servicio podrá estar expuesto a Contenido que puede ser ofensivo u objetable. Bajo ninguna circunstancia Biin será responsable de ninguna forma por el contenido de algún usuario de Biin, incluidos pero no limitados a errores, omisiones, pérdidas o daño a información compartida y hecha pública a través del Servicio de BIin. Usted entiende que Biin no revisa el contenido pero que Biin está en su derecho de no publicar o modificar Contenido que esté disponible en el Servicio o de eliminar contenido que viole este acuerdo o contenido que sea objetable. Usted entiende que debe evaluar todos los riesgos asociados a la publicación de cualquier contenido, incluida la completitud, precisión o usabilidad del contenido .Además entiende que el contenido subido a Biin debe contemplar y cumplir con:
				p
					|a. Cumplir con las leyes.
					|b. Reforzar este acuerdo.
					|c. Responder a quejas correspondientes a violaciones a derechos de terceros.
					|d. Proteger los derechos, propiedad o seguridad personal de Biin, sus usuarios y el público.
				p
					|Si Biin tiene que compartir algún Contenido para responder a un proceso legal o alguna solicitud de un usuario por violación de algún derecho, Biin lo notificará de manera expedita y cooperará razonablemente para buscar protegerlo y cuestionar dicha petición de información.
					|Usted entiende que el procesamiento técnico del Servicio, incluyendo su Contenido, puede requerir la transmisión sobre varias redes, o cambios para adaptarse a requerimientos técnicos de conectarse a diferentes dispositivos.
					|Si existieran reportes de Contenido de usuario que viole alguno de los siguientes, pero no limitado a , Usted acepta el no:
					|a. Subir, postear, transmitir o hacer disponible Contenido que sea peligroso, amenazador, abusivo, acosador, difamatorio, vulgar, obsceno, irrespetuoso de la privacidad de otras personas (incluyendo pero no limitado a correo electrónico, teléfonos, u otra información personal sin la aprobación escrita), contenido racista o de alguna manera objetable.
					|b. Que dañe o amenace a alguna minoría.
					|c. Que suplante la identidad de alguna persona o entidad.
					|d. Transmitir Contenido para el cual usted no tiene los derechos de transmitir, como información protegida por propiedad intelectual, información confidencial o que sea parte de algún contrato de confidencialidad.
					|e. Subir contenido que infrinja alguna patente, marca registrada, derechos de autor, derechos de privacidad, u otros derechos propietarios de cualquier persona o entidad.
					|f. Subir o transmitir información comercial no solicitada “spam”, Incluyendo mercadeo, anuncios o cualquier otra práctica abusiva de mercadeo.
					|g. Subir contenido que contenga virus de computadora o cualquier código, archivo o programa diseñado para interrumpir, destruir, o limitar la funcionalidad de cualquier software o hardware.
					|h. Intencional o no intencionalmente violar cualquier ley, local, nacional o internacional.
					|i. Promover o proveer instrucciones par cualquier actividad ilegal, promover cualquier daño físico, promover crueldad contra cualquier grupo o individuo o crueldad animal.
					|j. Ofrecer o vender cualquier bien o servicio que viole cualquier ley o regulación local o internacional.
					|k. Exceder los alcances del Plan Pagado que usted haya seleccionado,como compartir accesos, manipular, cambiar, borrar el contenido creado por otras personas. Biin retiene el derecho de terminar la cuenta de un usuario que se reporte violando estos términos.
				h2
					|Términos para la Aplicación en dispositivos Apple.
				p
					|Si Usted acceda el servicio en un dispositivo apple los siguiente aplica:
					|Usted y Biin entienden que estos términos de uso en entre Usted y Biin, y no con Apple, Apple no es responsable por el contenido de la Aplicación. La Aplicación es licenciada a Usted en una forma limitada, no-exclusiva, no transferible, no sub-arrendable, de uso no comercial,sujeta a los términos y condiciones de este documento.
					|Usted entiende y acepta que Apple no tiene ninguna obligación de hacer ningún mantenimiento ni soporte sobre los Servicios de la Aplicación.
					|En el evento de alguna fallas de la Aplicación, y en conformidad con cualquier garantía, incluyendo aquellas que indique la Ley, usted podrá notificar a Apply quien tendrá como única responsabilidad hacer el reembolso del costo de la aplicación si hubiera alguno. 
					|Usted entiende que Biin y no Apple es responsable por cualquier reclamo.	
				p
					|Si usted tiene comentarios o dudas sobre este documento por favor diríjase a Biin o In Computers SA. como dueña de las marcas Biin,BiinApp y Biin Beacons.
				p
					|In Computers SA, San Jose, Costa Rica
				p
					|Última revisión: 18 de Octubre, 2014.
=======
					|Si Usted selecciona un Plan Pagado, debe proporcionar los datos completos y vigentes de la Informaci&oacute;n de Pago como direccion de cobro.					
>>>>>>> b32bab739a753bea2f3f4f7bb29581aedd3775e9
			.row
				a.btn.btn-theme.btn-termsAccept(href='/'+backPage+"/accept") Aceptar