extends layout_landing_page_out
block head_scripts
	script(src="/landingPage/js/angular/landing.js")
block content		
	section#termsAndConditions
		.container
			//Section Tittle
			.row
				h1
					| Biin Pre-orden terminos de Venta y Condiciones
				h2
					|Qui&eacute;nes somos y que es Biin?
				p
					|Biin es marca de In Computers S.A. de Costa Rica.
				p
					|Biin es un startup tecnol&oacute;gico dedicado a construir la primera experiencia digital completa con contexto del mundo real. Desarrollamos las aplicaciones y los sensores para que los espacios f&iacute;sicos cotidianos puedan contar una historia que sea &uacute;til para las personas.<br/> Creamos programas que mejoren la relaci&oacute;n de diferentes lugares con sus visitantes mejorando la forma de comprar, entretenerse, adquirir un servicio o informarse sobre el mundo que nos rodea.
				p
					|La plataforma Biin para mercadeo e informaci&oacute;n est&aacute; compuesta de un set de programas web, aplicaciones m&oacute;viles y los dispositivos Biin Beacons que ayuda a empresas e instituciones a informar mejor a sus clientes y visitantes por medio de la aplicacio&oacute;n m&oacute;vil Biin y el contenido mostrado con contexto por medio de los Biin Beacons, adem&aacute;s de contener un programa para beneficios comerciales y un programa digital de lealtad de clientes.
				h2
					|Condiciones de pre-compra de los servicios de Biin
				p
					|Los servicios de la plataforma de software y el hardware de los Biin Beacons pueden ser pre ordenados por medio de la p&aacute;gina web de Biin, los clientes que pre-ordenen los paquetes de Biin ser&aacute;n contactados para validar su inter&eacute;s en la plataforma y coordinar las condiciones de pago y entrega.
					|Adem&aacute;s de aclarar las instrucciones de instalaci&oacute;n y operaci&oacute;n de la plataforma Biin.
					|Los clientes que se suscriban a la pre-compra, aceptan las condiciones de precio y las caracter&iacute;sticas de los servicios y el hardware de Biin a la hora de la compra y se comprometen a concretar la transacci&oacute;n.
				h2
					|Pago
				p
					|Los clientes que acepten la precompra de la suscripci&oacute;n y los Biin Beacons se comprometen a efectuar el pago completo correspondiente a la suscripci&oacute;n a la plataforma y al hardware de los Biin Beacons en las condiciones que se negocien de acuerdo a las posibilidades tecnol&oacute;gicas ofrecidas por Biin para recolectar el cargo, que pueden incluir, transferencias bancarias, recolecci&oacute;n de cheque, pago por medio de tarjeta de cr&eacute;dito o d&eacute;bito.
				h2
					|Env&iacute;o de los Beacons
				p
					|Biin har&aacute; el env&iacute;o correspondiente a una orden cuando los Biin Beacons est&eacute;n disponibles y se haya recibido el pago correspondiente. Biin podr&aacute; decidir discrecionalmente hacer un env&iacute;o de una orden previo a la recepci&oacute;n del pago.
				p
					|Para env&iacute;os fuera de Costa Rica, el cliente es responsable por todos los cargos que se incurran a partir de las formalidades de importaci&oacute;n, deberes, impuestos y otros cargos
					|de la importaci&oacute;n. Las fechas de entrega son estimadas y Biin no es responsable por p&eacute;rdida o da&ntilde;o sufrido durante el env&iacute;o 
				h2 	Aceptaci&oacute;n de los productos y pol&iacute;ticas de devoluci&oacute;n 
				p
					|Si alguno de los productos de software o hardware de Biin no funcionan de acuerdo a las expectativas del cliente, el cliente podr&aacute; ponerse en contacto con biin al correo contact@biin.io en los siguientes 15 d&iacute;as del dia de entrega o de la suscripci&oacute;n para solicitar alg&uacute;n cambio o bien la devoluci&oacute;n de dinero dentro de un per&iacute;odo razonable de tiempo. Biin har&aacute; la devoluci&oacute;n de dinero restando los costos de env&iacute;o.
					|Si el cliente no contacta a Biin dentro de los 15 d&iacute;as posteriores a la recepci&oacute;n o suscripci&oacute;n del producto, se dar&aacute; por aceptado.  
				h2
					|T&eacute;rminos de uso de la plataforma Biin 
				p
					|IMPORTANTE— Leer cuidadosamente, al crear una cuenta o al utilizar los servicios o productos de Biin, Usted acuerda respetar estos t&eacute;rminos y condiciones.
				p
					|Gracias por elegir los servicios y productos de Biin (colectivamente “el servicio”), el uso del servicio est&aacute; sujeto a los t&eacute;rminos expuestos en este documento y representan un acuerdo legal entre Usted y In Computer S.A. de Costa Rica como compa&ntilde;&iacute;a due&ntilde;a de la marca Biin Dashboard, Biin M&oacute;vil y Biin Beacons. “Usted” se refiere a cualquier persona que crea una cuenta con Biin o en el caso de que se cree en nombre de una entidad o empresa, “Usted” se referir&aacute; a dicha empresa. Si Usted accede al servicio como empleado, Usted representa y garantiza que tiene la autorizaci&oacute;n para aceptar estos t&eacute;rminos en representaci&oacute;n de su empleador. Si usted no est&aacute; de acuerdo con estos t&eacute;rminos, por favor abst&eacute;ngase de usar el servicio.Biin se reserva el derecho de actualizar y cambiar los t&eacute;rminos sin notificaci&oacute;n o aceptaci&oacute;n de su parte.Al aceptar estos t&eacute;rminos usted acepta irrevocablemente el acuerdo y los t&eacute;rminos. El software y el hardware de Biin est&aacute;n cubiertos por las leyes internacionales de derechos de autor. 
				h2
					|Descripci&oacute;n del servicio	
				p
					|El servicio solamente incluye, un sitio web, una aplicaci&oacute;n m&oacute;vil y el hardware Biin beacons que le permite acceder y usar una cuenta de Biin.
					|El Servicio no est&aacute; dise&ntilde;ado para operar en ambientes peligrosos, que requieran controles de fallo, inclu&iacute;dos pero no limitados a plantas nucleares, sistemas de navegaci&oacute;n de aviones, sistemas de comunicaci&oacute;n, control de tr&aacute;fico, armas o sistemas de soporte vital.
				p
					|A menos que expl&iacute;citamente se omita, cualquier mejora al Servicio incluyendo nuevos productos, herramientas o recursos, estar&aacute;n cubiertos por este acuerdo. Para acceder a estos servicios Usted tendr&aacute; que tener acceso a la red global de internet, as&iacute; mismo Usted deber&aacute; procurarse el acceso de todos los recursos necesarios como computadoras, m&oacute;dems o dispositivos de acceso. 
					|Usted acepta accesar por a los servicios de Biin &uacute;nicamente a travez de los medios e interfaces otorgados por Biin. Biin podr&iacute;a modificar las caracter&iacute;sticas de acceso al servicio sin previo aviso.
				h2
					|Registro
				p
					|Para registrarse al servicio, Usted debe tener una Cuenta v&aacute;lida. Para adquirir una Cuenta para el Servicio, Usted debe proporcionar un correo electr&oacute;nico v&aacute;lido y otra informaci&oacute;n (Datos de Registro) Usted es responsable por mantener la confidencialidad de los Datos de su Cuenta y es responsable por todas las actividades que ocurran bajo su cuenta. Usted est&aacute; de acuerdo en notificar inmediatamente a Biin cualquier uso no autorizado de su cuenta o cualquier brecha de seguridad y asegurarse de salir de su cuenta al final de cada sesi&oacute;n. Biin no puede hacerse responsable por ning&uacute;n da&ntilde;o o p&eacute;rdida causado por un error suyo en cumplir con esta secci&oacute;n
					|Al usar el servicio Usted garantiza que es mayor de 18 a&ntilde;os. Nadie menor a 18 a&ntilde;os debe usar el servicio. Biin se reserva el derecho de ofrecer el servicio a cualquier persona o entidad y a cambiar los criterios de elegibilidad en cualquier momento. Usted es responsable de asegurarse de que estos t&eacute;rminos de Servicio cumplan con las leyes, regulaciones aplicables.
				h2
					|T&eacute;rminos de pago y facturaci&oacute;n
				p
					|Caracter&iacute;sticas a Biin podr&iacute;an ser a&ntilde;adidas al Servicio y hechas disponibles para Usted como mejoras pagadas en el (“Plan Pagado”). Si usted decide suscribirse a un Plan Pagado, Usted deber&aacute; pagar las tarifas acordadas y descritas en este documento. Usted proveer&aacute; a Biin la informaci&oacute;n de facturaci&oacute;n y cobro necesaria (“Informaci&oacute;n de Pago”)
				p
					|Biin aceptar&aacute; pagos por concepto de (“Cuota de Suscripci&oacute;n”) o por Biin Beacons  por medio de  transferencia bancaria, efectivo o cheque mientras se implementan las capacidades  de pago por tarjeta de cr&eacute;dito.Los precios son referenciados en d&oacute;lares estadounidenses. Biin aceptar&aacute; pagos suscripciones mensuales o semestrales.
				p
					|Si Usted selecciona un Plan Pagado, debe proporcionar los datos completos y vigentes de la Informaci&oacute;n de Pago como direccion de cobro.					
			.row
				a.btn.btn-theme.btn-termsAccept(href='/'+backPage+"/accept") Aceptar