<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Biin Contact</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<table id="emailWrapper"  border="0" cellpadding="0" cellspacing="0" width="600px" height="700px"; style="font-family:'Lato',sans-serif; font-weight: 300;">
		<tr id="emailHeader" style="background-color: #00ADEF;">
			<td width="100%" height="107px" >	
				<table border="0" cellpadding="0" cellspacing="0" height="107px">
					<tr>
						<td width="50px">							
						</td>
						<td width="420px">							
							<img src="http://biinapp.herokuapp.com/landingPage/templates/img/biinEmailIcon.png"/>
						</td>
						<td width="80px" style="background-color:#3D3D3D; color:#ffffff; text-align:center" >
							<p>Discover<br>Engage<br>Enjoy</p>
						</td>					
					</tr>
					<!--Space TR-->				
					<tr>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td heigth="400px">
				<!--Body-->
				<table border="0" cellpadding="0" cellspacing="0"   height="700px">
					<tbody border="0" cellpadding="0" cellspacing="0" style="display: inline;">
						<tr>
							<td width="30px;">
							</td>						
							<td>
								<table style="background-color:#F1F1F2;" border="0" cellpadding="0" cellspacing="0" >
									<tr>
										<td width="30px">
										</td>
										<td width="80px" >	
											<img src="http://biinapp.herokuapp.com/landingPage/templates/img/welcomeBiinie.png"/>
										</td>						
										<td>
											<h1 style="color:#00ADEF; font-size: 30px; font-weight: 200;">Hola [[name]]</h1>
											<p style="color:#3D3D3D;font-weight: 400; font-size: 15px;"><i> Gracias por realizar pre-orden de Biin y felicitaciones por integrarse a la nueva era del contexto.</i></p>							
										</td>
										<td  width="30px">
											
										</td>
									</tr>	
										<!--Space-->		
									<tr>
										<td height="10px"></td>
									</tr>	
									<tr>
										<td height="30px"></td>
										<td colspan="2">
											<p style="font-family: 'Lato', sans-serif; font-weight: 300;">Estamos trabajando fuerte para poder crear la primera experiencia completa de informaci&oacute;n y beneficios con contexto que creemos cambiar&aacute; el modo de relacionarnos con los lugares y objetos que visitamos cotidianamente.
											</p>
											<p style="font-family: 'Lato', sans-serif; font-weight: 300;">
												En los pr&oacute;ximos d&iacute;as nos pondremos en contacto con usted para informarlo sobre detalles importantes de la plataforma, as&iacute; como para brindarle informaci&oacute;n relevante que lo prepare para la implementaci&oacute;n de Biin en su empresa o instituci&oacute;n.
											</p>								
										</td>
										<td height="30px">
											
										</td>
									</tr>
									<!--Sign section-->
									<tr>
										
									</tr>
										<td height="25px"></td>
									<tr>
										<td><p>  </p></td>
										<td colspan="3">
											<p><strong>Saludos cordiales</strong>
												<br>C&eacute;sar Arce<br>CEO @ Biin</p>
												<div id="links" style="z-index: 9999;">
													<a href="https://www.facebook.com/biinapp" style="text-decoration: none;">
														<img  id="faceIcon" src="http://biinapp.herokuapp.com/landingPage/templates/img/facebookEmailIcon.png" style="height:25px; width:auto;"/>
													</a>
													<a href="https://twitter.com/biinApp" style="text-decoration: none;">
														<img id="twitterIcon" src="http://biinapp.herokuapp.com/landingPage/templates/img/twitterEmailIcon.png"/>
													</a>														
													<a href="https://plus.google.com/109091530668660855400" style="text-decoration: none;">
														<img id="googlePlusIcon" src="http://biinapp.herokuapp.com/landingPage/templates/img/googlePlusEmailIcon.png"/>
													</a>
												</div>
										</td>
									</tr>
									<tr>
										<td colspan="4">
											<table>								
												<tr>
													<td width="45px">
													</td>
													<td>
														<img id="googlePlusIcon" src="http://biinapp.herokuapp.com/landingPage/templates/img/cityEmail.png"/>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>						
							</td>
							<td width="30px">
							</td>
						</tr>
						<tr>
							<td width="30px">
							</td>
							<td style="background-color:#000000; height:60px; text-align:center; color:#fff;font-size:10px; ">						
								<p>Copyright &copy;Biin, All rights reserved</p>
								<p>You received this message because you are subscribed to biin on <a href="https://biin.io">biin.io</a></p>
								<p>Biin San Cristobal Sur, San Jos&eacute;, Costa Rica</p>							
							</td>
							<td width="30px">
							</td>
						</tr>
					</tbody>
				</table>				
			</td>
		</tr>
	</table>
</body>
</html>