extends ../layout_dashboard
block head_scripts
	script(src="/javascripts/angular/organizationsController.js")
block content	
	#sectionContent(ng-app="biinAppOrganizations" ng-controller="organizationsController" drop-files="")
		#wrapperContent
			.left-section-content
				.container-fluid
					.row
						.col-md-12(style='padding:8px;')
							button.btn.btn-default.btn-block(ng-click='create()') ADD NEW ORGANIZATION

				.container-fluid(style='padding:5px;')
					.row
						.col-xs-4.col-sm-12.col-md-12.col-lg-6.nopadding(ng-repeat="item in organizations | filter: query" ng-click="edit(organizations.indexOf(item))")
							.moduleWrapper.contentHideButtons(ng-class="{active: organizations.indexOf(item) == selectedOrganization}")
								.moduleTitle {{item.name}}
								img(ng-src="{{item.media[0].imgUrl}}" style="max-width: 250px;height: auto;" pending-indicator)
								//img(ng-if="item.media.length == 0" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+", alt='')
								//img(ng-if="item.media.length>0" ng-src="{{item.media[0].imgUrl}}" style="max-width: 250px;height: auto;" pending-indicator)
								.btnShowcasePreview.icon-round-control.btnDelete.btn-on-hover(ng-click="removeOrganizationAt(organizations.indexOf(item))")
									.icon.icon-bin-2


					.boton-Controls
						#organizationListGuide.user-guide-wrapper(guide)
							.guide-header
								span Adding organizations
								.close-guide
									.icon.icon-delete-1-1
							.guide-body
								p Click on the plus button to add a new organization to your account. You can also click on the organization button to edit.
								p Remember to save your changes
						input.form-control.search-box.max-width.center(ng-model="query" placeholder="Search" autofocus)

			.right-section-content
				div(ng-if="selectedOrganization!=null")
					.animate-switch.max-height
						ul.workAreaHeader.nav.nav-tabs
							li(ng-class="{active:activeTab == 'details'}" class='first')
								a(ng-click="changeTabTo('details')") Details
						.row.workArea.max-height(ng-switch="activeTab")
							//Workign Area
							.col-md-7.col-sm-7.colPreview.max-height.colAppend(ng-if='!organizations[selectedOrganization].isNew')
								.row.max-height
									div(slimscroll="" slimscroll-option="{height:'auto'}")
										a.col-md-1.moduleImage(ng-repeat="item in organizations[selectedOrganization].media" ng-if="organizations[selectedOrganization].media.length>0")
											.moduleImageWrapper.contentHideButtons
												img(ng-src="{{item.imgUrl}}" pending-indicator)
												.btnShowcasePreview.icon-round-control.btnDelete.btn-on-hover(ng-click="removeMediaAt(organizations[selectedOrganization].media.indexOf(item))")
													.icon.icon-bin-2
										a.col-md-1.moduleImage.drop-images(ng-if="organizations[selectedOrganization].media.length<=0")
											p Drop Images Here or Click to Upload...
							.col-md-5.col-sm-5.max-height(ng-switch-when='details')
								.mainWrapperShowcase(slimscroll="" slimscroll-option="{height: 'auto'}" slimscroll-obj="showCasePreviewScroll")
									form(name="frmOrganizations " novalidate)
										.row
											h1 Organization Information
										.row
											p Add all your organization information here. Information that will be shown on the mobile app is mark with **
										.row
											input.form-control(type="text" name="name" ng-model="organizations[selectedOrganization].name" placeholder='Name **' required)
											span(class="error" ng-show="frmOrganizations.name.$error.required") The name field is required
										.row
											input.form-control(type="text" name="brand" ng-model="organizations[selectedOrganization].brand"  placeholder='Brand name **' required)
											span(class="error" ng-show="frmOrganizations.brand.$error.required") The brand field is required													
										.row
											input.form-control(type="text" name="description" ng-model="organizations[selectedOrganization].description"  placeholder='Description **' required)
											span(class="error" ng-show="frmOrganizations.description.$error.required") The description field is required																										
										.row
											input.form-control(type="text" ng-model="organizations[selectedOrganization].extraInfo"  placeholder='Extra Information')												
										.row(ng-if="!organizations[selectedOrganization].isNew")
											label Organization Id: {{organizations[selectedOrganization].identifier}}																	
										.row
											button.btn.btn-default.btn-save(ng-click="save()" ng-disabled="frmOrganizations.$invalid") SAVE
											button.btn.btn-default.btn-save(ng-click="removeOrganizationAt(organizations.indexOf(organizations[selectedOrganization]))")
												span.icon-bin-2