extends ../layout_dashboard
block head_scripts
	script(src="/javascripts/angular/organizationsController.js")
block content	
	#sectionContent.max-height(ng-app="biinAppOrganizations" ng-controller="organizationsController")
		#wrapperHeader.row
		#wrapperContent.row.max-height
			.max-height
				.row.max-height
					.col-lg-4.col-md-3.col-sm-3.col-list.max-height
						.row.max-height(ng-class="{'max-height':selectedOrganization==null}")
							// ---------- Organizations  List ----------
							div(slimscroll="" slimscroll-option="{height: 'auto'}" )
								a.col-md-1.max-width(ng-click="create()")
									button.btn.btn-default.btn-save.max-width
										span ADD NEW ORGANIZATION
								a.col-md-1.module(ng-repeat="item in organizations | filter: query" ng-click="edit(organizations.indexOf(item))")
									.moduleWrapper.contentHideButtons(ng-class="{active: organizations.indexOf(item) == selectedOrganization}")
										img.img-responsive(ng-src="{{item.media[0].imgUrl}}" style="max-width: 250px;height: auto;" pending-indicator)
										.btnShowcasePreview.icon-round-control.btnDelete.btn-on-hover(ng-click="removeOrganizationAt(organizations.indexOf(item))")
											.icon.icon-bin-2
						.boton-Controls
							#organizationListGuide.user-guide-wrapper(guide)
								.guide-header
									span Adding organizations
									.close-guide
										.icon.icon-delete-1-1
								.guide-body
									p Click on the plus button to add a new organization to your account. You can also click on the organization button to edit.
									p Remember to save your changes
							input.form-control.search-box.max-width.center(ng-model="query" placeholder="Search" autofocus)
					.col-lg-8.col-md-9.col-sm-9.colOptions.max-height(ng-if="selectedOrganization!=null")
						.animate-switch.max-height
							ul.workAreaHeader.nav.nav-tabs
								li(ng-class="{active:activeTab == 'details'}" class='first')
									a(ng-click="changeTabTo('details')") Details
								li(ng-class="{active:activeTab == 'gallery'}" class='second')
									a(ng-click="changeTabTo('gallery')" ng-if='!organizations[selectedOrganization].isNew') Gallery									
							.row.workArea.max-height(ng-switch="activeTab" drop-files)
								//Workign Area
								.col-md-7.col-sm-7.colPreview.max-height.colAppend(ng-if="!organizations[selectedOrganization].isNew" drop )
									.row.max-height
										.div(slimscroll="" slimscroll-option="{height:'90%'}")
											a.col-md-1.moduleImage(ng-repeat="item in organizations[selectedOrganization].media")
												.moduleImageWrapper.contentHideButtons
													img(ng-src="{{item.imgUrl}}" pending-indicator)
													.btnShowcasePreview.icon-round-control.btnDelete.btn-on-hover(ng-click="removeMediaAt(organizations[selectedOrganization].media.indexOf(item))")
														.icon.icon-bin-2
								.col-md-5.col-sm-5.max-height(ng-switch-when='details')
									.mainWrapperShowcase(slimscroll="" slimscroll-option="{height: 'auto'}" slimscroll-obj="showCasePreviewScroll")
										form(novalidate)
											.row
												h1 Organization Information
											.row
												p Add all your organization information here. Information that will be shown on the mobile app is mark with **
											.row
												input.form-control( ng-model="organizations[selectedOrganization].name" placeholder='Name **' required)
											.row
												input.form-control( ng-model="organizations[selectedOrganization].brand"  placeholder='Brand name **' required)
											.row
												input.form-control( ng-model="organizations[selectedOrganization].description"  placeholder='Description **' required)
											.row
												input.form-control( ng-model="organizations[selectedOrganization].extraInfo"  placeholder='Extra Information')												
											.row(ng-if="!organizations[selectedOrganization].isNew")
												label Organization Id: {{organizations[selectedOrganization].identifier}}																	
											.row
												button.btn.btn-default.btn-save(ng-click="save()") SAVE
												button.btn.btn-default.btn-save(ng-click="removeOrganizationAt(organizations.indexOf(organizations[selectedOrganization]))")
													span.icon-bin-2
								//Gallery Tab
								.col-md-5.col-sm-5.max-height.col-splitter(ng-switch-when='gallery')
									include ../_partials/galleryWidget