extends ../layout_dashboard
block head_scripts
	script(src="/javascripts/angular/organizationsController.js")
block content	
	#sectionContent.max-height(ng-app="biinAppOrganizations" ng-controller="organizationsController")
		#wrapperHeader.row
		#wrapperContent.row.max-height
			.max-height
				.row.max-height
					.col-lg-4.col-md-3.col-sm-3.col-list.max-height
						.row.max-height(ng-class="{'max-height':selectedOrganization==null}")
							// ---------- Organizations  List ----------
							div(slimscroll="" slimscroll-option="{height: 'auto'}" )
								.col-md-1.max-width
									input.form-control.search-box.center(ng-model="query" placeholder="Search" autofocus)
								a.col-md-1.module(ng-click="create()")				
									.moduleWrapper.remove-module
										.btn-rounded.center.icon.icon-add-1							
								a.col-md-1.module(ng-repeat="item in organizations | filter: query" ng-click="edit(organizations.indexOf(item))")
									.moduleWrapper.contentHideButtons(ng-class="{active: organizations.indexOf(item) == selectedOrganization}")
										img.img-responsive(ng-src="{{item.media[0].imgUrl}}" style="max-width: 250px;height: auto;" pending-indicator)
										.btnShowcasePreview.icon-round-control.btnDelete.btn-on-hover(ng-click="removeOrganizationAt(organizations.indexOf(item))")
											.icon.icon-bin-2
					.col-lg-8.col-md-9.col-sm-9.colOptions.max-height(ng-if="selectedOrganization!=null")
						.animate-switch.max-height
							ul.workAreaHeader.nav.nav-tabs
								li(ng-class="{active:activeTab == 'details'}")
									a(ng-click="changeTabTo('details')") Details
								li(ng-class="{active:activeTab == 'gallery'}")
									a(ng-click="changeTabTo('gallery')") Gallery									
							.row.workArea.max-height(ng-switch="activeTab" drop-files)
								.col-md-6.col-sm-6.colPreview.max-height.colAppend(drop)
									.row.max-height
										button.center.form-group.btn.btn-default.btn-save.form-control(ng-click="save()") SAVE
										.div(slimscroll="" slimscroll-option="{height:'90%'}")
											a.col-md-1.module(ng-repeat="item in organizations[selectedOrganization].media")
												.moduleWrapper.moduleWrapper-inverse.contentHideButtons
													img.img-responsive(ng-src="{{item.imgUrl}}" pending-indicator)
													.btnShowcasePreview.icon-round-control.btnDelete.btn-on-hover(ng-click="removeMediaAt(organizations[selectedOrganization].media.indexOf(item))")
														.icon.icon-bin-2
								.col-md-6.col-sm-6.colPreview.max-height(ng-switch-when='details')
									.mainWrapperShowcase(slimscroll="" slimscroll-option="{height: 'auto'}" slimscroll-obj="showCasePreviewScroll")
										.row
											label Name:
										.row
											input.form-control( ng-model="organizations[selectedOrganization].name")
										.row
											label Brand:
										.row
											input.form-control( ng-model="organizations[selectedOrganization].brand")
										.row
											label Description:
										.row
											input.form-control( ng-model="organizations[selectedOrganization].description")
										.row(ng-if="!organizations[selectedOrganization].isNew")
											label UUIID
										.row(ng-if="!organizations[selectedOrganization].isNew")
											p {{organizations[selectedOrganization].identifier}}																	
								//Gallery Tab
								.col-md-6.col-sm-6.colPreview.max-height.col-splitter(ng-switch-when='gallery')
									include ../_partials/galleryWidget							