extends ../layout_dashboard
block head_scripts
	script(src="/javascripts/angular/organizationsController.js")
block content	
	#sectionContent.max-height(ng-app="biinAppOrganizations" ng-controller="organizationsController")
		#wrapperHeader.row
		#wrapperContent.row.max-height
			.max-height
				.row.max-height
					.col-lg-4.col-md-3.col-sm-3.col-list.max-height
						.row.max-height(ng-class="{'max-height':selectedOrganization==null}")
							// ---------- Organizations  List ----------
							div(slimscroll="" slimscroll-option="{height: 'auto'}" )
								.col-md-1.max-width
									input.form-control.search-box.center(ng-model="query" placeholder="Search" autofocus)
								a.col-md-1.module(ng-click="create()")				
									.moduleWrapper.remove-module
										.btn-rounded.center.icon.icon-add-1							
								a.col-md-1.module(ng-repeat="item in organizations | filter: query" ng-click="edit(organizations.indexOf(item))")
									.moduleWrapper.contentHideButtons(ng-class="{active: organizations.indexOf(item) == selectedOrganization}")
										img.img-responsive(ng-src="{{item.imgUrl}}" style="max-width: 250px;height: auto;" pending-indicator)
										.btnShowcasePreview.icon-round-control.btnDelete.btn-on-hover(ng-click="removeOrganizationAt(organizations.indexOf(item))")
											.icon.icon-bin-2
					.col-lg-8.col-md-9.col-sm-9.colOptions.max-height(ng-if="selectedOrganization!=null && selectedSite==null")
						.animate-switch.max-height
							ul.workAreaHeader.nav.nav-tabs
								li.activeTab
									a Details
							.row.workArea.showcaseWorkArea.max-height
								.col-md-6.col-sm-6.colPreview.max-height
									.mainWrapperShowcase(slimscroll="" slimscroll-option="{height: 'auto'}" slimscroll-obj="showCasePreviewScroll")
										.previewShowcaseWrapper
											#wrapperOrganization.copperEditor(data-image-src="{{organizations[selectedOrganization].imgUrl}}" image-cropper)
											input#organizationImage.hidden(ng-model="organizations[selectedOrganization].imgUrl" input-change="")							
								.col-md-6.col-sm-6.colPreview.max-height
									.mainWrapperShowcase(slimscroll="" slimscroll-option="{height: 'auto'}" slimscroll-obj="showCasePreviewScroll")
										.row
											label Name:
										.row
											input.form-control( ng-model="organizations[selectedOrganization].name")
										.row
											label Brand:
										.row
											input.form-control( ng-model="organizations[selectedOrganization].brand")
										.row
											label Description:
										.row
											input.form-control( ng-model="organizations[selectedOrganization].description")
										.row(ng-if="!organizations[selectedOrganization].isNew")
											label UUIID
										.row(ng-if="!organizations[selectedOrganization].isNew")
											p {{organizations[selectedOrganization].identifier}}												
										.row
											button.form-group.btn.btn-default.form-control(ng-click="save()") SAVE																	
					.col-lg-8.col-md-9.col-sm-9.colOptions.max-height(ng-if="selectedOrganization!=null && selectedSite!=null")
						.animate-switch.max-height
							.row
								ul.workAreaHeader.nav.nav-tabs
									li(ng-class="{active:activeTabBiins == 'details'}")
										a(ng-click="activeTabBiins='details'") Details
									li(ng-class="{active:activeTabBiins == 'biins'}")
										a(ng-click="activeTabBiins='biins'") Biins					
							.row.workArea.max-height.showcaseWorkArea
								.col-md-6.col-sm-6.colPreview.max-height
									button.form-group.btn.btn-default.form-control(ng-click="save()") SAVE
									.mainWrapperShowcase
										.mediaImage(ng-repeat="siteMedia in organizations[selectedOrganization].sites[selectedSite].media")
											img(ng-src="siteMedia.imgUrl" pending-indicator)
										.dropImageMedia.center(ng-repeat="it in mediaMissing()")
											p drop media here {{it}}
								.col-md-6.col-sm-6.colPreview.max-height
									.mainWrapperShowcase
										.row
											label Name:
										.row
											input.form-control( ng-model="organizations[selectedOrganization].sites[selectedSite].name")
										.row
											label Description:
										.row
											input.form-control( ng-model="organizations[selectedOrganization].sites[selectedSite].description")									