/****
	Body Principal Style
	***/

	body{

	}

	h1{
		font-size: 15px;
	}

	.form-control {
		height: 33px;
		width: 95%;
	}

	.search-box{
		height: 25px;
	}
/****
	Panels and Nav-var Custom Style
	***/

	.panel-default{
		border-style: none;
	}	

	.panel-default>.panel-heading{
		color: #333;
		background-color:initial;
		border-color: initial;
		border:none;
		margin-top: -15px;
	}

	.panel-heading label{
		margin-right: 10px;
	}

	.panel-body {
		padding: 0px;
		margin-left: -25px;
	}	

	.moduleWrapper{
		height: 125px;
		width: 125px;
		background-color: #fff;
		border-radius: 7px;
		margin-top: 5px;
		margin-left: auto;
		margin-right: auto;
	}

	.moduleWrapper img{
	    height: auto;
	    max-height: 125px;
	    max-width: 125px;
		margin-left: auto;
		margin-right: auto;    
		width: 100%;
		padding-left: 7px;
		padding-right: 7px;
		padding-top: 7px;
		padding-bottom: 7px;
	}

	.module{
		margin-right: 7px;
		min-height: 125px;
		min-width: 125px;
	}

/****
	Nav Var Header Style
	***/

	.navbar {
		 padding: 0px 0px;
	}

	.navbar-brand img {
		height: 50px;
	}

	.avatar{
		height: 30px;
		margin-right: 10px;
		border: solid;
		border-width: 1px;
	}

	.avatarSettings{
		height: 23px;
		margin-left: 10px;
	}

	.notificationIcon img{
		height: 30px;
	}
	.notificationIcon .badge{
		min-width: 5px;
		font-size: 8px;
		padding-bottom: 5px;
		padding-top: 5px;
		position: relative;
		top: -8px;
		left: -15px;
		
	}

	.notificationIcon .badge.chat{
		background-color: rgb(22, 218, 6);
	}

	.notificationIcon .badge.message{
		background-color: rgb(255, 0, 0);
	}

	.navbar-left.notifications > li > a {
		margin-right: -11px;
		margin-left: -5px;
	}

	.body-list {
	    margin-left: -25px;
	}

	.col-list{
		background-color:  #ECEDEE;
	}

	.colOptions{	
		padding-right: 0px;
		padding-left: 0px;
	}

	.main {
		padding-left: 0px;
		padding-right: 0px;
	}

	@media (min-width: 768px){
		.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
			margin-right: 50px;
			margin-left: 30.5px;
			margin-top: -3px;
		}
		.navbar-nav>li>a {
			padding-top: 0px; 
			padding-bottom: 0px; 
		}
	}

/****
	Buttons
	***/
	
	.roundedOptionsForm{
		margin-top: -28px
	}

	.btn-rounded{
		border-radius: 50%;
		font-size: 25px;
		margin-top: 0px;
		font-weight: -3;
		margin-left: -2px;
		background-color: #069FCE;
		height: 30px;
		width: 30px;
	}

	.btn-rounded i{
		font-size: 31px;
		margin-left: -7.3px;
		color: #fff;
		position: relative;
		top: -17px;
		font-weight: 100;
	}
	.btn-default
	{
		background-color: #069FCE;
		color: #fff;
		border-color: none;
	}

/****
	Modules
	***/
	.moduleWrapper.active{
		background-color: #069FCE;
	}

	.moduleWrapperElement {
		margin-left: auto;
		margin-right: auto;
		height: 160px;
		width: 290px;
		background-color: #fff;

	}
	.row.elementList{
		margin-left: auto;
		margin-right: auto;
	}
/****
	Tabs
	***/

	.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
		color: #fff;
		background-color: #000;
		border: 1px solid #000;
		cursor:pointer;
		border-radius: 0;
		min-width: 100px;
	}
	.nav-tabs{
		background-color: #069FCE;
	}

	.nav-tabs>li>a {
		margin-right: 2px;
		border-radius: 4px 4px 0 0;
		color: #fff;
		min-width: 100px;
	}
	.nav-tabs>li {
	 float: left;
	 margin-bottom: 0px; 
	}

	.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
		color: #fff;
		background-color: #000;
		border: 1px solid #000;
		cursor: pointer;
		border-radius: 0;
		min-width: 100px;
	}
	.nav>li>a:hover, .nav>li>a:focus {
		text-decoration: none;
		background-color: #00adef;
		cursor: pointer;
	}

	.nav-tabs>li>a:hover {
		border-color: #00adef #00adef #00adef;
	}

	.searchElements{
		height: auto;
	}
/****
	Images
	****/
	.imgPreview{
		height: 290px;
		width: 290px;
		margin-right: auto;
		margin-left: auto;
	}

	.imgElementPreview{
		height: 160px;
		min-width: 290px;
		max-height:290px;
	}

	.colPreview{
		padding-left: 0px; 
		padding-right: 0px; 
	}
/**** 
	Bootstrap
	****/

	.container-fluid {
	 padding-left: 0px; 
	 padding-right: 0px; 
	}

	.row 
	{
	 margin-left: 0px; 
	 margin-right: 0px; 
	}

/****
	Image Crooper
	****/

/*Cropper editor size*/
.copperEditor {
	position:relative; /* or fixed or absolute */
	width: 300px;
	height: 300px;
    overflow: hidden;
}

/****
	Spectrum Color Picker Override
	****/
.sp-replacer{
	background-color:inherit;
	border-radius: 50%;
	border-color: #ECEDEE;
	padding: 2px;
}
.sp-preview {
	height: 18px;
	width: 18px;
	margin-right: 0px;
	border-radius: 50%;
	border-color: transparent;
}
.sp-dd{
	display: none;
}
.sp-preview-inner{
	border-radius: 50%;	
	border-color: transparent;
}

/****
	Form Picker
	****/
.form-picker{
	position: relative;
}

.form-picker input{
	border: none;
	z-index: 2;
	position: absolute;
	display: block;
	top: 5px;
	width: 61%;
	left: 11px;
}

.form-picker input:hover{
	border: none;
}

.form-picker span.separator {
	position: absolute;
	border-left: solid;
	border-left: 1px solid #ccc;
	height: 100%;
	top: 0px;
	right: 47px;
}

.form-picker textarea:focus, input:focus{
    outline: 0;
}

.form-picker .picker{
	position: absolute;
	right: 48px;
	top: 4px;
	z-index: 2;
}

.form-picker select{

	border: none;  
    background: none; 
    outline: none;     
    -webkit-appearance: none;  
    -moz-appearance:none;
    filter: alpha(opacity=0);  
    -moz-appearance:window;

	position: absolute;
	right: 0;
	top: 0px;
	z-index: 2;
	outline: 0;
	height: 30px;
	width: 45px;
}

.form-picker .caret{
	position: absolute;
	right: 7px;
	height: 4px;
	width: 10px;
	border-top-width: 5px;
	border-right-width: 5px;
	border-left-width: 5px;
	top: 20px;
}


.form-picker .caret-reversed{
	height: 4px;
    position: absolute;
    right: 7px;
    top: 6px;
    width: 10px;
}

.caret-reversed {
	border-top-width: 0px;
	border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-bottom: 5px solid #555555;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
    height: 4px;
	width: 10px;
}
/**** Preview style
****/
.previewLabel{
	position: absolute;
	left: 30px;
	overflow: hidden;
	max-height: 39px;
	max-width: 270px;
}

.previewLabel.title1{
	bottom: 100px;
}

.previewLabel.title2{
	bottom: 70px;
}

.previewLabel.title3{
	bottom: 40px;
}