/* ------------------------------------------------------
			Main CSS Style for Biin App CMS
   ------------------------------------------------------*/
@import "variables";
/*------------------------------------------*/
/*	Body Principal Style
/*------------------------------------------*/

html,body {
	height: 100%;
}

h1 {
	font-size: 15px;
}

a.module:hover{ 
	text-decoration:none; 
}

p{
	font-size: 8px;
	color: #b9babb;
}

.form-control {
	height: 33px;
	width: 95%;
}

.search-box { 
	height: 25px;
}

.search-control input{
	display: table-cell;
}

.search-control .icon{
	margin-left: -20px;
	padding-top: 15px;
}

.boton-Controls{
	position: absolute;
	bottom: 5px;
	width: 85%;
}

/*------------------------------------------*/
/*	Main Containers
/*------------------------------------------*/

.main-container {
	height: 100%;
}

.main-container-row {
	height: 100%;
}

/*------------------------------------------*/
/*	Panels and Navbar Custom Style
/*------------------------------------------*/

.navbar{
	margin-bottom: 0px;
}
.panel-heading{
	height: 4%;
}

.body-list{
	height: 96%;
}

.panel-default {
	border-style: none;
}	

.panel-default>.panel-heading {
	background-color:initial;
	border-color: initial;
	border:none;
	margin-top: 0px;
}

.panel-heading label {
	margin-right: 10px;
}

.panel-body {
	padding: 0px;
	margin-left: -25px;
}	

.moduleWrapper {
	height: 125px;
	width: 125px;
	background-color: @secondColor;
	border-radius: 7px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	position: relative;

	//Wrapper Image
	img {
		height: auto;
		max-height: 125px;
		max-width: 125px;
		margin-left: auto;
		margin-right: auto;    
		width: 100%;
		padding-left: 7px;
		padding-right: 7px;
		padding-top: 7px;
		padding-bottom: 7px;
	}

	//Module Title
	.moduleTitle{
		position: absolute;
		top: 0px;
	}

}

.moduleWrapper.disabled{
	background-color: red;
}

.moduleWrapper.activeShowcase{
	background-color: green;
}

.moduleWrapper-inverse{
	.moduleWrapper;
	background-color: @forthColor;
}

.moduleWrapperShowcaseElement {
	position: relative;
	margin-left: 0px;
	max-width: @elementWidth;
}

.module {
	margin-right: 7px;
	min-height: 125px;
	min-width: 125px;
}

//Remove Element of Grids
.moduleWrapper.remove-module {
	background-color:  @firstColor;
	padding-top: 47.4px;

	//Button Module
	.btn-rounded {
		background-color: @secondColor;
		padding: initial;
		text-align: center;
		line-height: 36px;

		//Rounded button icon of remove
		.icon {
			color: @firstColor;
		}
	}
}

//User guide main style
.user-guide-wrapper{
	.guide-header{
		
		padding-left: 5px;
		padding-top: 5px;
		position: relative;
		background-color: @firstColor;
		height: 30px;
		border-top-left-radius: @controlsRadius;
		border-top-right-radius: @controlsRadius;
		color: @secondColor;

		.close-guide{			
			position: absolute;
			top: 2px;
			right: 5px;
			background-color: @fifthColor;
			height: 25px;
			width: 25px;
			opacity: initial;
			border-radius: @controlsRadiusRounded;
			cursor: pointer;

			.icon:before{
				font-size: 10px;
				font-weight: bolder!important;
				position: absolute;
				left: 7px;
				top: 8px;
			}
		}
	}
	.guide-body{
		border-bottom-right-radius: @controlsRadius;
		border-bottom-left-radius: @controlsRadius;
		background-color: @secondColor;
		padding-top: @standardPadding;
		padding-left: @standardPadding;
		padding-right: @standardPadding;
		padding-bottom: @standardPadding;
	}
	margin-bottom: @standardPadding;
}

.body-list {
	margin-left: -0px;
}

.col-list {
	background-color: @forthColor;
}

.colOptions {	
	padding-right: 0px;
	padding-left: 0px;
}

.col-splitter{
	border-left-style: solid;
	border-left-color: @forthColor;
	border-left-width: thin;
	padding-left: @standardPadding!important;
}

.quarter-heigth{
	height: 25% !important;
}

.middle-heigth {
	height: 50% !important;
}

.middle-quarter-heigth {
	height: 40% !important;
}

.max-height {
	height: 100% !important;
}

.max-width {
	width: 100%!important;
}

.max-elementWidth{
	max-width: @elementWidth;
}

.max-elementWidth-OverFlow{
	max-width: @elementWidth+25px;	
}

.center {
	margin-left: auto!important;
	margin-right: auto!important;
	display: block;
}

.main {
	padding-left: 0px;
	padding-right: 0px;
	height: 100%;
}

/*------------------------------------------*/
/*	Buttons
/*------------------------------------------*/

.roundedOptionsForm {
	margin-top: -28px
}

.btn-rounded {
	border-radius: @controlsRadiusRounded;
	font-size: 25px;
	margin-top: 0px;
	font-weight: -3;
	margin-left: -2px;
	background-color: @firstColor;
	height: 30px;
	width: 30px;

	i {
		font-size: 31px;
		margin-left: -7.3px;
		color: @secondColor;
		position: relative;
		top: -17px;
		font-weight: 100;
	}
}

.btn-default {
	background-color: @firstColor;
	color: @secondColor;
	border-color: none;
}

.colPreview{

	.btn-save{
		margin-top: @standardPadding;
		//margin-bottom: @standardPadding;
	}

	.preview-title-division{
		height: 15%;
		min-height: 20px;
		max-height: 35px;
		background-color: @firstColor;
		color: @secondColor;
		position: relative;
		h5{			
			position: absolute;
			bottom:0px;
			left: 20px;
		}
	}

	.preview-row-division{
		margin-top: -10px
	}
}

.contentHideButtons .btn-on-hover {
	display: none;
}

.contentHideButtons:hover .btn-on-hover {
	display: block;
}

.btnShowcasePreview {
	position: absolute;
	top: 20px;
	left: 10px;
}

.btnShowcasePreview.down {
	top: initial;
	bottom: 20px;
	left: initial;
	right: 10px;   
}   

.btnShowcasePreview.up {
	top:20px;
	left: @elementWidth - 40px;
}

.moduleWrapper .btnShowcasePreview.btnDelete {
	position: absolute;
	top: 20px;
	left: 95px;	
}

.icon-round-control {
	height: 30px;
	width: 30px;
	border-radius: @controlsRadiusRounded;
	background-color: @firstColor;
	opacity: 0.7;
	border: none;
	text-align: center;

	.icon {
		position: relative;
		display: block;
		color: @secondColor;
		margin-top: 25%;
		margin-bottom: 25%;
		margin-left: auto;
		margin-right: auto;
		cursor: pointer;
	}	
}

/*------------------------------------------*/
/*	Modules
/*------------------------------------------*/	

.moduleWrapper.active {
	background-color: @firstColor;
}

.moduleWrapperElement {
	margin-left: auto;
	margin-right: auto;
	height: @elementHeight;
	width: @elementWidth;
	background-color: @secondColor;
}

.moduleWrapperBiin {
	height: 100px;
	width: 100px;
	background-color:@secondColor;
	margin-top: 10px;
	margin-bottom: 10px;
}

.row.elementList {
	margin-left: auto;
	margin-right: auto;
}

/*------------------------------------------*/
/*	Tabs
/*------------------------------------------*/

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	color:@secondColor;
	background-color: @sixthColor!important;
	border: 1px solid @sixthColor!important;
	cursor:pointer;
	border-radius: @controlsRadiusDisable;
	border-top-right-radius: @navItemRadius!important;
	min-width: 132px;
}

.nav-tabs {
	background-color: @firstColor;
	position: relative;
}

.nav-tabs>li>a {
	margin-right: 2px;
	border-radius: 4px 4px 0 0;
	border-top-right-radius: @navItemRadius!important;
	color: @secondColor;
	min-width: 100px;
	height: 30px;
	position: relative;
	bottom: 0px;
	text-align: center;
	background-color: @seventhColor;
	padding-left: 10px;
}

.nav-tabs>li {
	border-top-color: black!important;
	border-bottom-right-radius: 10px!important;
	min-width: 132px!important;
	float: left;
	margin-bottom: 0px; 
	height: 30px;
	position: relative;
	bottom: -9px;
}

.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	background-color: @firstLigthColor;
	cursor: pointer;
}

.nav-tabs>li>a:hover {
	border-color: @firstLigthColor @firstLigthColor @firstLigthColor;
}

//Shild tabs
li>.nav{
	padding-left: 40px;
}

.searchElements {
	height: auto;
}

.workAreaHeader.nav.nav-tabs{
	position: absolute;
	width: 100%;
	height: 40px;
}

.workArea{
	padding-top: 42.222px;
}

/*------------------------------------------*/
/*	Images
/*------------------------------------------*/

#wrapperShowcase img {
	height: @elementHeight;
	width: @elementWidth;
}

.imgPreview {
	height: @elementHeight;
	width: @elementWidth;
	margin-right: auto;
	margin-left: auto;
}

.imgElementPreview {
	height: @elementHeight;
	min-width: @elementWidth;
	max-width: @elementWidth;
	max-height:@elementHeight;
}

.colPreview {
	padding-left: 0px; 
	padding-right: 0px; 
}

.dropImageMedia{
	border-style: dashed;
	border-color:@firstColor;
	height: @elementHeight/2;
	width: @elementWidth;
	margin-bottom: @standardPadding;
	margin-top: @standardPadding;
}

/*------------------------------------------*/
/*	Bootstrap
/*------------------------------------------*/

.container-fluid {
	padding-left: 0px; 
	padding-right: 0px; 
}

.row {
	margin-left: 0px; 
	margin-right: 0px; 
}

/*------------------------------------------*/
/*	Preview style
/*------------------------------------------*/

.previewShowcaseWrapper {
	position: relative;
}

.previewLabel {
	position: absolute;
	left: 30px;
	overflow: hidden;
	max-height: 39px;
	max-width: 270px;

	.title1 {
		bottom: 100px;
	}

	.title2 {
		bottom: 70px;
	}

	.title3 {
		bottom: 40px;
	}
}

.dropColumn {
	background-color: @firstLigthColor;
	width: @elementWidth;
	height: 10px;
}

@import "controls";