/* ------------------------------------------------------
			Main CSS Style for Biin App CMS
   ------------------------------------------------------*/


/*------------------------------------------*/
/*	Variables
/*------------------------------------------*/

@firstColor: #00adef; //Navigation var and  Buttons color 
@firstLigthColor:#069fce;; //Buttons over color #00adef
@secondColor: #fff; //Buttons and Contrast Wrapper
@thirthColor: #000;//Top Navigation bar and selected Button
@forthColor:#ECEDEE;//Contrast List Color grey

@formControlBorderColor:#ccc;
@colorChat:#16da06;
@colorMessage:#f00;


//Measures

@elementHeight:320px;
@elementWidth:320px;

//Padding
@standardPadding:10px;

//Radius
@controlsRadius:4px;
@controlsRadiusDisable:0px;
@controlsRadiusRounded:50%;

/*------------------------------------------*/
/*	Body Principal Style
/*------------------------------------------*/

html,body {
	height: 100%;
}

body {

}

h1 {
	font-size: 15px;
}

.form-control {
	height: 33px;
	width: 95%;
}

/*.form-control input.reset{
	border: none;
}*/

.search-box { 
	height: 25px;
}

.search-control input{
	display: table-cell;
}

.search-control .icon{
	margin-left: -20px;
	padding-top: 15px;
}

/*------------------------------------------*/
/*	Main Containers
/*------------------------------------------*/

.main-container {
	height: 100%;
}

.main-container-row {
	height: 100%;
}

/*------------------------------------------*/
/*	Panels and Nav-var Custom Style
/*------------------------------------------*/

.panel-default {
	border-style: none;
}	

.panel-default>.panel-heading {
	background-color:initial;
	border-color: initial;
	border:none;
	margin-top: -15px;
	min-height: 50px;
}

.panel-heading label {
	margin-right: 10px;
}

.panel-body {
	padding: 0px;
	margin-left: -25px;
}	

.moduleWrapper {
	height: 125px;
	width: 125px;
	background-color: @secondColor;
	border-radius: 7px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;

	//Wrapper Image
	img {
		height: auto;
		max-height: 125px;
		max-width: 125px;
		margin-left: auto;
		margin-right: auto;    
		width: 100%;
		padding-left: 7px;
		padding-right: 7px;
		padding-top: 7px;
		padding-bottom: 7px;
	}
}

.moduleWrapperShowcaseElement {
	position: relative;
	margin-left: 0px;
	max-width: @elementWidth;
}

.module {
	margin-right: 7px;
	min-height: 125px;
	min-width: 125px;
}

//Remove Element of Grids
.moduleWrapper.remove-module {
	background-color:  @firstColor;
	padding-top: 47.4px;

	//Button Module
	.btn-rounded {
		background-color: @secondColor;
		padding: initial;
		text-align: center;
		line-height: 36px;

		//Rounded button icon of remove
		.icon {
			color: @firstColor;
		}
	}
}

/*------------------------------------------*/
/*	Nav Var Header Style
/*------------------------------------------*/

.navbar {
	padding: 0px 0px;
}

.navbar-brand img {
	height: 50px;
}

.avatar {
	height: 30px;
	margin-right: 10px;
	border: solid;
	border-width: 1px;
}

.avatarSettings {
	height: 23px;
	margin-left: 10px;
}

.notificationIcon {
	img {
		height: 30px;
	}

	.icon {
		position: relative;
		margin-top: 6px;
		margin-left: 1px;
		font-size: 30px;
		color: @secondColor;
	}

	.badge {
		min-width: 5px;
		font-size: 6px;
		padding-bottom: 5px;
		padding-top: 5px;
		position: relative;
		top: -20px;
		left: -9px;	
	}

	.chat {
		background-color: @colorChat;
	}

	.message {
		background-color: @colorMessage;
	}	
}

.navbar-left.notifications > li > a {
	margin-right: -11px;
	margin-left: -5px;
}

.body-list {
	margin-left: -25px;
}

.col-list {
	background-color: @forthColor;
}

.colOptions {	
	padding-right: 0px;
	padding-left: 0px;
}

.col-splitter{
	border-left-style: solid;
	border-left-color: @forthColor;
	border-left-width: thin;
	padding-left: @standardPadding!important;
}

.middle-heigth {
	height: 50% !important;
}

.max-height {
	height: 100% !important;
}

.max-width {
	width: 100%!important;
}

.max-elementWidth{
	max-width: @elementWidth;
}

.max-elementWidth-OverFlow{
	max-width: @elementWidth+25px;	
}

.center {
	margin-left: auto!important;
	margin-right: auto!important;
	display: block;
}

.main {
	padding-left: 0px;
	padding-right: 0px;
	height: 100%;
}

@media (min-width: 768px) {
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-right: 50px;
		margin-left: 30.5px;
		margin-top: -3px;
	}
	.navbar-nav>li>a {
		padding-top: 0px; 
		padding-bottom: 0px; 
	}
}

/*------------------------------------------*/
/*	Buttons
/*------------------------------------------*/

.roundedOptionsForm {
	margin-top: -28px
}

.btn-rounded {
	border-radius: 50%;
	font-size: 25px;
	margin-top: 0px;
	font-weight: -3;
	margin-left: -2px;
	background-color: @firstColor;
	height: 30px;
	width: 30px;

	i {
		font-size: 31px;
		margin-left: -7.3px;
		color: @secondColor;
		position: relative;
		top: -17px;
		font-weight: 100;
	}
}

.btn-default {
	background-color: @firstColor;
	color: @secondColor;
	border-color: none;
}

.colPreview .btn-save{
	margin-top: @standardPadding;
	margin-bottom: @standardPadding;
}

.contentHideButtons .btn-on-hover {
	display: none;
}

.contentHideButtons:hover .btn-on-hover {
	display: block;
}

.btnShowcasePreview {
	position: absolute;
	top: 20px;
	left: 10px;
}

.btnShowcasePreview.down {
	top: initial;
	bottom: 20px;
	left: initial;
	right: 10px;   
}   

.btnShowcasePreview.up {
	top:20px;
	left: @elementWidth - 40px;
}


.moduleWrapper .btnShowcasePreview.btnDelete {
	position: absolute;
	top: 20px;
	left: 95px;	
}

.icon-round-control {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: @firstColor;
	opacity: 0.7;
	border: none;
	text-align: center;

	.icon {
		position: relative;
		display: block;
		color: @secondColor;
		margin-top: 25%;
		margin-bottom: 25%;
		margin-left: auto;
		margin-right: auto;
		cursor: pointer;
	}	
}

/*------------------------------------------*/
/*	Modules
/*------------------------------------------*/	

.moduleWrapper.active {
	background-color: @firstColor;;
}

.moduleWrapperElement {
	margin-left: auto;
	margin-right: auto;
	height: @elementHeight;
	width: @elementWidth;
	background-color: @secondColor;
}

.moduleWrapperBiin {
	height: 100px;
	width: 100px;
	background-color:@secondColor;
	margin-top: 10px;
	margin-bottom: 10px;
}

.row.elementList {
	margin-left: auto;
	margin-right: auto;
}

/*------------------------------------------*/
/*	Tabs
/*------------------------------------------*/

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	color:@secondColor;
	background-color: @thirthColor;
	border: 1px solid @thirthColor;
	cursor:pointer;
	border-radius: 0;
	min-width: 100px;
}

.nav-tabs {
	background-color: @firstColor;
}

.nav-tabs>li>a {
	margin-right: 2px;
	border-radius: 4px 4px 0 0;
	color: @secondColor;
	min-width: 100px;
}

.nav-tabs>li {
	float: left;
	margin-bottom: 0px; 
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	color: @secondColor;
	background-color: @thirthColor;
	border: 1px solid @thirthColor;
	cursor: pointer;
	border-radius: 0;
	min-width: 100px;
} 

.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	background-color: @firstLigthColor;
	cursor: pointer;
}

.nav-tabs>li>a:hover {
	border-color: @firstLigthColor @firstLigthColor @firstLigthColor;
}

.searchElements {
	height: auto;
}

.workAreaHeader.nav.nav-tabs{
	position: absolute;
	width: 100%;
}

.workArea{
	padding-top: 42.222px;
}

/*------------------------------------------*/
/*	Images
/*------------------------------------------*/

#wrapperShowcase img {
	height: @elementHeight;
	width: @elementWidth;
}

.imgPreview {
	height: @elementHeight;
	width: @elementWidth;
	margin-right: auto;
	margin-left: auto;
}

.imgElementPreview {
	height: @elementHeight;
	min-width: @elementWidth;
	max-height:@elementHeight;
}

.colPreview {
	padding-left: 0px; 
	padding-right: 0px; 
}

/*------------------------------------------*/
/*	Bootstrap
/*------------------------------------------*/

.container-fluid {
	padding-left: 0px; 
	padding-right: 0px; 
}

.row {
	margin-left: 0px; 
	margin-right: 0px; 
}

/*------------------------------------------*/
/*	Image Crooper
/*------------------------------------------*/

.copperEditor {
	position:relative; /* or fixed or absolute */
	width: @elementWidth;
	height: @elementHeight;
	min-height: @elementHeight;
	min-width: @elementWidth;
	padding-bottom: 0px;
}

/*------------------------------------------*/
/*	Spectrum Color Picker Override
/*------------------------------------------*/	

.sp-replacer {
	background-color:inherit;
	border-radius: 50%;
	border-color: @forthColor;
	padding: 2px;
}

.sp-preview {
	height: 18px;
	width: 18px;
	margin-right: 0px;
	border-radius: 50%;
	border-color: transparent;
}

.sp-dd {
	display: none;
}

.sp-preview-inner {
	border-radius: 50%;	
	border-color: transparent;
}

/*------------------------------------------*/
/*	Form Picker
/*------------------------------------------*/	

.form-picker {
	position: relative;

	input {
		border: none;
		z-index: 2;
		position: absolute;
		display: block;
		top: 5px;
		width: 61%;
		left: 11px;
	}

	input:hover {
		border: none;
	}

	span.separator {
		position: absolute;
		border-left: solid;
		border-left: 1px solid @formControlBorderColor;
		height: 100%;
		top: 0px;
		right: 47px;
	}

	textarea:focus, input:focus {
		outline: 0;
	}

	.picker {
		position: absolute;
		right: 48px;
		top: 4px;
		z-index: 2;
	}

	select {
		border: none;  
		background: none; 
		outline: none;     
		-webkit-appearance: none;  
		-moz-appearance:none;
		filter: alpha(opacity=0);  
		-moz-appearance:window;
		
		position: absolute;
		right: 0;
		top: 0px;
		z-index: 2;
		outline: 0;
		height: 30px;
		width: 45px;
	}											

	.caret {
		position: absolute;
		right: 7px;
		height: 4px;
		width: 10px;
		border-top-width: 5px;
		border-right-width: 5px;
		border-left-width: 5px;
		top: 20px;
	}

	.caret-reversed {
		height: 4px;
		position: absolute;
		right: 7px;
		top: 6px;
		width: 10px;
	}
}

.caret-reversed {
	border-top-width: 0px;
	border-left: 5px solid @secondColor;
	border-right: 5px solid @secondColor;
	border-bottom: 5px solid @formControlBorderColor;
	display: inline-block;
	margin-left: 2px;
	vertical-align: middle;
	height: 4px;
	width: 10px;
}

.caret {
	border-top: 5px solid @formControlBorderColor;
}

/*------------------------------------------*/
/*	Preview style
/*------------------------------------------*/

.previewShowcaseWrapper {
	position: relative;
}

.previewLabel {
	position: absolute;
	left: 30px;
	overflow: hidden;
	max-height: 39px;
	max-width: 270px;

	.title1 {
		bottom: 100px;
	}

	.title2 {
		bottom: 70px;
	}

	.title3 {
		bottom: 40px;
	}
}

.dropColumn {
	background-color: @firstLigthColor;
	width: @elementWidth;
	height: 10px;
}

/*------------------------------------------*/
/*	Scroll style
/*------------------------------------------*/

.slimScrollBar{
	background-color: @firstColor!important;
	opacity: 0.7!important;
}

.slimScrollDivContrast{
	background: @forthColor!important;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	padding-bottom: @standardPadding*2;
	padding-top: @standardPadding*2;
	margin-left: @standardPadding;
	margin-right: @standardPadding;
}

.slimScrollRail{
	background: @secondColor!important;
	opacity: 1!important;
}