/* ------------------------------------------------------
			Main CSS Style for Biin App CMS
   ------------------------------------------------------*/
/*------------------------------------------*/
/*	Variables
/*------------------------------------------*/
/*
 * Base structure
 */
/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
/*
 * Sidebar
 */
/* Hide for mobile, show later */
.sidebar {
  display: none;
}
/*-* Start Media style for "Medium devices Desktops and Laptops (1280 x 800)" with 768px or UP *-*/
@media (min-width: 768px) {
  /* Move down content because we have a fixed navbar that is 50px tall */
  body {
    padding-top: 73px;
  }
  .sidebar {
    top: 73px;
    position: fixed;
    width: 115px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #333333;
    border-right: none;
  }
  .sidebar-margin {
    margin-left: 115px;
  }
  .nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
  }
  .nav-sidebar .nav-item {
    text-align: center;
  }
  .nav-sidebar .nav-item a {
    font-size: 10px;
    padding: 3px;
  }
  .nav-sidebar .nav-item a div {
    font-size: 49px;
    color: #999999;
    text-shadow: 5px 2px 5px #231f20;
  }
  .nav-sidebar .nav-item a div:hover {
    font-size: 49px;
    color: #069fce;
    text-shadow: 5px 2px 5px #231f20;
  }
}
/*-* End Media style for "Medium devices Desktops and Laptops (1280 x 800)" with 768px or UP *-*/
/*-* Start Media style for "Large devices Desktops and Laptops (1650 x 1090)" with 1550px or UP *-*/
@media (min-width: 1550px) {
  /* Move down content because we have a fixed navbar that is 50px tall */
  body {
    padding-top: 125px;
  }
  .sidebar {
    top: 125px;
    position: fixed;
    width: 140px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #333333;
    border-right: none;
  }
  .sidebar-margin {
    margin-left: 140px;
  }
  .nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
  }
  .nav-sidebar .nav-item {
    text-align: center;
  }
  .nav-sidebar .nav-item a {
    font-size: 12px;
    padding: 3px;
  }
  .nav-sidebar .nav-item a div {
    font-size: 60px;
    color: #999999;
    text-shadow: 5px 2px 5px #231f20;
  }
  .nav-sidebar .nav-item a div:hover {
    font-size: 60px;
    color: #069fce;
    text-shadow: 5px 2px 5px #231f20;
  }
}
/*-* End Media style for "Large devices Desktops and Laptops (1650 x 1090)" with 1550px or UP *-*/
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #fff;
}
.nav-sidebar > .active > a > div {
  color: #069fce;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #333333;
}
/*
 * Main content
 */
.main {
  padding: 0px;
}
.main .page-header {
  margin-top: 0;
}
/*
 * Placeholder dashboard ideas
 */
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
/**
Side bar icon
**/
.nav-sidebar > li > a {
  color: #fff;
  font-family: 'Lato', sans-serif;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  padding: 7px 15px;
  font-size: 11px;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
ul.menu li a .angle-icon-sidebar {
  position: absolute;
  right: 8px;
  top: 9.5px;
  color: #E2DCDC;
  font-size: 25px;
  font-weight: 100;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}
.navbar {
  min-height: 20px;
  height: 40px;
}
.dropdown-menu.with-triangle {
  top: 90%;
}
.dropdown-menu.square {
  padding: 0;
  border-radius: 0px;
}
.navSearchSection {
  width: 550px;
}
.form-control {
  height: 27px;
}
.nav-user {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 5px;
  right: 50px;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 14px;
    color: #FFF;
  }
}
