
/*------------------------------------------*/
/*	Variables
/*------------------------------------------*/

@firstColor: #00adef; //Navigation var and  Buttons color  (Biin Color)
@firstLigthColor:#069fce; //Buttons over color #00adef
@secondColor: #fff; //Buttons and Contrast Wrapper
@thirthColor: #000;//Top Navigation bar and selected Button
@forthColor:#999999;//Some backgrounds colors
@fifthColor:#fc250c; //'Red Color' close buttons and so on
@sixthColor:#fc6c0c; //Buttons and Nav Items colors
@seventhColor:#0182b3; //
@eigththColor:#878787; //List of items background color and some buttons
@ninthColor:#A9ADB1;//Contrast list color
@formControlBorderColor:#ccc;
@colorChat:#16da06;
@colorMessage:#f00;

//Measures
@elementHeight:250px;
@elementWidth:250px;

//Padding
@standardPadding:10px;

//Radius
@controlsRadius:4px;
@controlsRadiusDisable:0px;
@controlsRadiusRounded:50%;
@navItemRadius:10px;
@colPreviewWidth:360px;

//Biin colors
@colorFocus      : #00adef;
@colorFocusHover : #069fce;
@colorWhite      : #edeeee;
@colorGray       : #bbbdc0;
@colorGrayDark   : #808284;
@colorGrayLight  : #b8b8b8;
@colorGrayLight2 : #9ea1a7;
@colorGrayLight3 : #F0F0F0;
@colorBlack      : #231f20;
@colorBlack2     : #333;
@colorBlueLight  : #69cdf1;
@colorBlue       : #2f83c0;
@colorBlueDark   : #005898;
@colorCyan       : #5fc4bb;
@colorGreen      : #88c53f;
@colorGreenDark  : #0b8943;
@colorYellow     : #fcbc15;
@colorOrange     : #f47a26;
@colorRed        : #ed1c24;
@colorPink       : #ee4775;
@colorPurple     : #9b3393;
@colorPurpleDark : #4b3895;
@colorBeige      : #c6a887;
@colorBrown      : #7b3d1a;
@colorSidebar    : #FBFBFB;
@colorBackground : #999999;
@colorBaseWhite	 : #FFFFFF;	
@colorBaseBlack	 : #000;	

//Buub Sticker colors
@colorRedSticker     : #ed1c24;
@colorYellowSticker  : #fff100;
@colorGreenSticker   : #38b449;
@colorBlueSticker    : #00adef;
@colorBlackSticker   : #000000;
@colorOrangeSticker  : #f7931d;
@colorPurpleSticker  : #86328b;

//Global Vars for "Medium devices Desktops and Laptops (1280 x 800)" with 768px or UP
@screenMdHeader1Height 	 	   		: 38px;
@screenMdHeader2Height 	 	   		: 44px;
@screenMdBodyPaddingTop	 	   		: 0px;
@screenMdSidebarWidth  	 	   		: 65px;
@screenMdSidebarIconSize 	   		: 26px;
@screenMdSidebarFontSize 	   		: 10px;
@screenMdLeftContWidth	 	   		: 24%;
@screenMdLeftContBoxWidth 	   		: 95%;
@screenMdLeftContBoxImgWidth   		: 90%;
@screenMdLeftContBoxImgHeight  		: 22%;
@screenMdLeftContBoxImgMargin  		: 5%;
@screenMdLeftContBoxTitleWidth 		: 85%;
@screenMdLeftContBoxTitleFontSize 	: 12px;
@screenMdLeftContBoxTitleLineHeight : 25px;

//Global Vars for "Large devices Desktops and Laptops (1650 x 1090)" with 1550px or UP
@screenLgHeader1Height 	 	  : 65px;
@screenLgHeader2Height 	 	  : 60px;
@screenLgBodyPaddingTop	 	  : 0px;
@screenLgSidebarWidth  	 	  : 65px;
@screenLgSidebarIconSize 	  : 26px;
@screenLgSidebarFontSize 	  : 12px;
@screenLgLeftContWidth	 	  : 23%;
@screenLgLeftContBoxSize 	  : 175px;
@screenLgLeftContBoxSizeImg	  : 155px;
@screenLgLeftContBoxImgMargin : 10px;

//Global Vars for "All resolutions"
@rightContWidth			: 74%;
@rightContMargingLeft 	: 26%;

