
/*------------------------------------------*/
/*	Variables
/*------------------------------------------*/

@firstColor: #00adef; //Navigation var and  Buttons color 
@firstLigthColor:#069fce;; //Buttons over color #00adef
@secondColor: #fff; //Buttons and Contrast Wrapper
@thirthColor: #000;//Top Navigation bar and selected Button
@forthColor:#ECEDEE;//Contrast List Color grey

@formControlBorderColor:#ccc;
@colorChat:#16da06;
@colorMessage:#f00;


//Measures

@elementHeight:320px;
@elementWidth:320px;

//Padding
@standardPadding:10px;

//Radius
@controlsRadius:4px;
@controlsRadiusDisable:0px;
@controlsRadiusRounded:50%;
