extends ../layout_dashboard
block head_scripts
	script(src="/javascripts/angular/sitesController.js")
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7b1kpDJjJ_cBG3_XPHf8lshevJOR-Dd8")
block content	
	#sectionContent(ng-app="biinAppSites" ng-controller="siteController")
			#wrapperContent(data-organizationId=""+organization.identifier data-organizationName=""+organization.name)
				.left-section-content
					.container-fluid
						.row
							.col-md-12(style='padding:8px;')
								button.btn.btn-default.btn-block(ng-click='create()') ADD NEW SITE
					.container-fluid(style='padding:5px;')
						.row
							.col-xs-4.col-sm-12.col-md-12.col-lg-6.nopadding(ng-repeat="item in sites | filter: query" ng-click="edit(sites.indexOf(item))")
								.moduleWrapper.contentHideButtons(ng-class="{active: sites.indexOf(item) == selectedSite}")
									.moduleTitle Test item {{item.name}}
									img(ng-if="item.media.length == 0" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+", alt='')
									img(ng-if="item.media.length>0" ng-src="{{item.media[0].imgUrl}}" style="max-width: 250px;height: auto;" pending-indicator)
									.btnDelete.icon-round-control.btn-on-hover(ng-click="removeSiteAt(sites.indexOf(item))")
										.icon.icon-bin-2
									.btnShowcasePreview.icon-round-control.btn-on-hover
										.icon.icon-arrange-1
						
				.right-section-content
					div(ng-if="selectedSite!=null")
						.animate-switch.wizard-wrapper
							.wizard-body.wizard(ng-switch="wizardPosition")
								#wizardOption1.wizard(ng-switch-when="1" )										
									include wizardDetails
								#wizardOption2.wizard(ng-switch-when="2")
									span 2. COLOURS
								#wizardOption3.wizard(ng-switch-when="3")
									include wizardLocation
								#wizardOption4.wizard(ng-switch-when="4" )
<<<<<<< HEAD
									include wizardBiins				
=======
									include wizardGallery
>>>>>>> FETCH_HEAD
								#wizardOption5.wizard(ng-switch-when="5" )
									span 5. BIINS			
								#wizardOption6.wizard(ng-switch-when="6" )
									span 5. CATEGORIES
									
							.wizard-options
<<<<<<< HEAD
								row
									.col-md-1
										span space
									.col-md-1
										#option1(ng-click="wizardPosition =1")
											span Details
									.col-md-1												
										#option2(ng-click="wizardPosition =2")
											span Location
									.col-md-1												
										#option3(ng-click="wizardPosition =3")
											span Gallery
									.col-md-1												
										#option4(ng-click="wizardPosition =4")
											span Biins
									.col-md-1												
										#option5(ng-click="wizardPosition =5")
											span Option5
									.col-md-3
										span space by 3
									.col-md-1
										span check
									.col-md-1
										span space
=======
								.container-fluid
									row
										.col-md-1.col-sm-1.nopadding
											.wizard-options-item(ng-click="wizardPosition =1")
												.circle
													.icon.icon-list-1-1
												.textCirle 
													| 1. DETAILS
										.col-md-1.col-sm-1.nopadding												
											.wizard-options-item(ng-click="wizardPosition =2")
												.circle
													.icon.icon-palette
												.textCirle 
													| 2. COLOURS
										.col-md-1.col-sm-1.nopadding												
											.wizard-options-item(ng-click="wizardPosition =3")
												.circle
													.icon.icon-marker-2
												.textCirle 
													| 3. LOCATION
										.col-md-1.col-sm-1.nopadding												
											.wizard-options-item(ng-click="wizardPosition =4")
												.circle
													.icon.icon-photo-1
												.textCirle 
													| 4. IMAGES
										.col-md-1.col-sm-1.nopadding												
											.wizard-options-item(ng-click="wizardPosition =5")
												.circle
													.icon.icon-hotspot-2
												.textCirle 
													| 5. BIINS
										.col-md-1.col-sm-1.nopadding												
											.wizard-options-item(ng-click="wizardPosition =6")
												.circle
													.icon.icon-tag-1
												.textCirle 
													| 6. CATEGORIES
										.col-md-1.col-sm-1.nopadding												
											.wizard-options-item(ng-click="wizardPosition =7")
												.circle
													.icon.icon-arrange-1 
												.textCirle 
													| FINISH
>>>>>>> FETCH_HEAD
