extends ../layout_dashboard
block head_scripts
	script(src="/javascripts/angular/sitesController.js")
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7b1kpDJjJ_cBG3_XPHf8lshevJOR-Dd8")
block content	
	#sectionContent.max-height(ng-app="biinAppSites" ng-controller="siteController")
			#wrapperHeader.row
			#wrapperContent.row.max-height(data-organizationId=""+organization.identifier data-organizationName=""+organization.name)
				.row.max-height
					.col-lg-3.col-md-2.col-sm-2.col-list.max-height.nopadding
						.row.max-height(ng-class="{'max-height':selectedSite==null}")
							//Sites  List
							div(slimscroll="" slimscroll-option="{height: 'auto'}" )
								.col-md-12(style='padding-top:15px;')
									button.btn.btn-default.btn-block(ng-click='create()') ADD NEW SITE
								//.col-md-6

								//.col-md-1.max-width
									input.form-control.search-box.center(ng-model="query" placeholder="Search" autofocus)
								
								//a.col-md-1.module(ng-click="create()")				
									.moduleWrapper.remove-module
										.btn-rounded.center.icon.icon-add-1		

								.col-md-6(ng-repeat="item in sites | filter: query" ng-click="edit(sites.indexOf(item))")
									.moduleWrapper.contentHideButtons(ng-class="{active: sites.indexOf(item) == selectedSite}")
										img.img-responsive(ng-if="item.media.length>0" ng-src="{{item.media[0].imgUrl}}" style="max-width: 250px;height: auto;" pending-indicator)
										p.moduleTitle {{item.name}}
										.btnShowcasePreview.icon-round-control.btnDelete.btn-on-hover(ng-click="removeSiteAt(sites.indexOf(item))")
											.icon.icon-bin-2

					.col-lg-9.col-md-10.col-sm-10.colOptions.max-height(ng-if="selectedSite!=null")
						.animate-switch.max-height.wizard-wrapper
							.wizard-body.wizard(ng-switch="wizardPosition")
								#wizardOption1.wizard(ng-switch-when="1" )										
									include wizardDetails
								#wizardOption2.wizard(ng-switch-when="2")
									include wizardLocation
								#wizardOption3.wizard(ng-switch-when="3" )
									span Wizar 3
								#wizardOption4.wizard(ng-switch-when="4" )
									span Wizar 4				
								#wizardOption5.wizard(ng-switch-when="5" )
									span Wizar 5
							.wizard-options
								row
									.col-md-1
										span space
									.col-md-1
										#option1(ng-click="wizardPosition =1")
											span Details
									.col-md-1												
										#option2(ng-click="wizardPosition =2")
											span Location
									.col-md-1												
										#option3(ng-click="wizardPosition =3")
											span Option3
									.col-md-1												
										#option4(ng-click="wizardPosition =4")
											span Option4
									.col-md-1												
										#option5(ng-click="wizardPosition =5")
											span Option5
									.col-md-3
										span space by 3
									.col-md-1
										span check
									.col-md-1
										span space