extends ../layout_dashboard
block head_scripts
	script(src="/javascripts/angular/sitesController.js")
	script(src="/angular-slider/slider.js")
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7b1kpDJjJ_cBG3_XPHf8lshevJOR-Dd8")
block content	
	#sectionContent(ng-app="biinAppSites" ng-controller="siteController" ngCloack)
			#wrapperContent(data-organizationId=""+organization.identifier data-organizationName=""+organization.name)
				.left-section-content					
					.container-fluid.main-views-list
						.row
							.scroll-vertical-container.scrollbar-inner(scrollbar="scrollbarOptionsStandard")
								.col-xs-12.col-sm-12.col-md-12.col-lg-12.searchBoxList
										.col-md-2
											button.btn.btnAdd(ng-click='create()') &#43;
										.col-md-10
											.searchBox-wrapper
												input.form-control(type="text" placeholder="filter" ng-model="query" autofocus )											
								.col-xs-12.col-sm-12.col-md-12.col-lg-12.nopadding(ng-repeat="item in sites | orderBy : '+title1' | filter: query" ng-click="edit(sites.indexOf(item))")								
									.moduleWrapperList.contentHideButtons(ng-class="{active: sites.indexOf(item) == selectedSite}")
										.col-md-3.thumbListImage
											img(ng-if="item.media.length == 0" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+", alt='')
											img(ng-if="item.media.length>0" ng-src="{{item.media[0].imgUrl}}" pending-indicator)													
										.col-md-9
											label.moduleTitle {{item.title1}}
											br
											label.moduleSubTitle {{item.title2}}
											.btnDelete.icon-round-control.btn-on-hover(ng-click="openConfirmation('sm',sites.indexOf(item))")
												.icon.icon-bin-2
											.btnShowcasePreview.icon-round-control.btn-on-hover
												.icon.icon-arrange-1
					//.container-fluid.searchBox
						.searchBox-wrapper
							input.form-control(type="text" placeholder="search" ng-model="query" autofocus )
				.right-section-content
					div(ng-if="selectedSite!=null")
						.animate-switch.wizard-wrapper
							.wizard-body.wizard(ng-switch="wizardPosition" ng-mouseleave="save()")
								#wizardOption1.wizard(ng-switch-when="1" )
									include wizardDetails
								#wizardOption4.wizard(ng-switch-when="2" )
									include wizardGallery									
								//#wizardOption2.wizard(ng-switch-when="3")
									include wizardColors
								#wizardOption3.wizard(ng-switch-when="3")
									include wizardLocation
								#wizardOption5.wizard(ng-switch-when="4" )
									include wizardBiins				
								#wizardOption6.wizard(ng-switch-when="5" )
									include wizardCategories
							.wizard-options
								.container-fluid
									.row.wizard-options-wrapper
										.col-md-1.col-sm-1.nopadding.option
											#guide-wizard-pointer(ng-class="{'active':wizardPosition ==1}")
											.wizard-options-item(ng-click="changeWizardTab(1)")
												.circle(ng-class="{'active':wizardPosition ==1,'valid':wizard1IsValid}")
													.icon.icon-list-1-1
												.textCirle 
													| 1. DETALLES
										.col-md-1.col-sm-1.nopadding.option
											#guide-wizard-pointer(ng-class="{'active':wizardPosition ==2}")
											.wizard-options-item(ng-click="changeWizardTab(2)")
												.circle(ng-class="{'active':wizardPosition ==2,'disabled':!wizard1IsValid,'valid':wizard2IsValid}")
													.icon.icon-photo-1
												.textCirle 
													| 2. IMAGENES													
										//.col-md-1.col-sm-1.nopadding.option												
											#guide-wizard-pointer(ng-class="{'active':wizardPosition ==3}")
											.wizard-options-item(ng-click="changeWizardTab(3)")
												.circle(ng-class="{'active':wizardPosition ==3,'disabled':!wizard2IsValid,'valid':wizard3IsValid}")
													.icon.icon-palette
												.textCirle 
													| 3. DISEÑO
										.col-md-1.col-sm-1.nopadding.option												
											#guide-wizard-pointer(ng-class="{'active':wizardPosition ==3}")
											.wizard-options-item(ng-click="changeWizardTab(3)")
												.circle(ng-class="{'active':wizardPosition ==3,'disabled':!wizard2IsValid,'valid':wizard3IsValid}")
													.icon.icon-marker-2
												.textCirle 
													| 3. UBICACIÓN
										.col-md-1.col-sm-1.nopadding.option												
											#guide-wizard-pointer(ng-class="{'active':wizardPosition ==4}")
											.wizard-options-item(ng-click="changeWizardTab(4)")
												.circle(ng-class="{'active':wizardPosition ==4,'disabled':!wizard3IsValid,'valid':wizard4IsValid}")
													.icon.icon-hotspot-2
												.textCirle 
													| 4. BEACONS
										.col-md-1.col-sm-1.nopadding.option												
											#guide-wizard-pointer(ng-class="{'active':wizardPosition == 5}")
											.wizard-options-item(ng-click="changeWizardTab(5)")
												.circle(ng-class="{'active':wizardPosition ==5,'disabled':!wizard4IsValid,'valid':wizard5IsValid}")
													.icon.icon-tag-1
												.textCirle 
													| 5. CATEGORIAS
										.col-md-1.col-sm-1.nopadding.option																							
											.wizard-options-item.completeOption
												.circle(ng-class="{'complete':isValid}")
													.circle-inner
														.icon.icon-check-1
												.textCirle 
									#guide-line-division