extends ../layout_dashboard
block head_scripts
	script(src="/javascripts/angular/sitesController.js")
block content	
	#sectionContent.max-height(ng-app="biinAppSites" ng-controller="siteController")
			#wrapperHeader.row
			#wrapperContent.row.max-height(data-organizationId=""+organization.identifier data-organizationName=""+organization.name ng-view )
