.verticalScroll(jquery-scrollbar="scrollbarOptionsStandard")
	.section
		h1 Gallery
		p Add some images to your site so users on the mobile app see yours stores looks like
	.section
		.row
			.ownedGalleryWrapper.scrollbar-inner(scrollbar="scrollbarOptionsOwnedGallery" )
				.img-block
						h2 Map Location
						p Select your location																							
				.img-block
						h2 Map Location 2
						p Select your location
	.section
		h2 Gallery
		p Select your location
		.mapWrapper