.verticalScroll.colAppend(jquery-scrollbar="scrollbarOptionsStandard"  drop-files="autoInsertOff")
	.section
		h1(translate="GALLERY.TITLE")
		p(translate="GALLERY.SUB_TITLE")
	.section(drop)
		.row
			.ownedGalleryWrapper.scrollbar-inner(scrollbar="scrollbarOptionsStandard")
				.img-block(ng-repeat="item in sites[selectedSite].media")
					.moduleWrapper.contentHideButtons
						img.imagegallery.img-responsive(ng-src="{{item.url}}" pending-indicator)
						.btnShowcasePreview.icon-round-control.btnDelete.btn-on-hover(ng-click="removeMediaAt(sites[selectedSite].media.indexOf(item))")
							.icon.icon-bin-2
	.section
		.row
			.galleryWrapper
				include ../_partials/galleryWidget