div
	.section
		h1(translate="LOCATION.TITLE")
		p(translate="LOCATION.SUB_TITLE")
	.section.form-horizontal
		.row
			.col-md-6
				.form-group
					label.col-sm-2.control-label(for='countryText')(translate="LOCATION.COUNTRY")
					.col-sm-10
						input#countryText.form-control.title-value(ng-model="sites[selectedSite].country" name="country" type="text" placeholder="Country **" ng-blur="validate()" required )
				.form-group
					label.col-sm-2.control-label(for='stateText')(translate="LOCATION.STATE")
					.col-sm-10
						input#stateText.form-control.title-value(ng-model="sites[selectedSite].state" name="state" type="text" placeholder="State **" ng-blur="validate()" required )
			.col-md-6							
				.form-group
					label.col-sm-2.control-label(for='cityText')(translate="LOCATION.CITY")
					.col-sm-10
						input#cityText.form-control.title-value(ng-model="sites[selectedSite].city" name="city" type="text" placeholder="City **" ng-blur="validate()" required )			
				.form-group
					label.col-sm-2.control-label(for='zipText')(translate="LOCATION.ZIP")
					.col-sm-10
						input#zipText.form-control.title-value(ng-model="sites[selectedSite].zipCode" name="zipCode" type="text" placeholder="Zip Code **" ng-blur="validate()" required )
			.col-md-6														
				.form-group
					label.col-sm-2.control-label(for='stAddresText')(translate="LOCATION.ADRESS")
					.col-sm-10			
						input#stAddresText.form-control.title-value(ng-model="sites[selectedSite].streetAddres" name="streetAddres" type="text" placeholder="Street Address **"  ng-blur="validate()" required )
				.form-group
					label.col-sm-2.control-label(for='ubicationText')(translate="LOCATION.DETAIL_LOC")
					.col-sm-10			
						input#ubicationText.form-control.title-value(ng-model="sites[selectedSite].ubication" name="ubication" type="text" placeholder="Ubication **"  ng-blur="validate()" required )							
			.col-md-6													
				.form-group
					label.col-sm-2.control-label(for='phoneNumText')(translate="LOCATION.PHONE")
					.col-sm-10			
						input#phoneNumText.form-control.title-value(ng-model="sites[selectedSite].phoneNumber" name="phoneNumber" type="text" placeholder="Phone number **" ng-blur="validate()" required )
		//.row
		//	h4(ng-if="sites[selectedSite].region && sites[selectedSite].region!=='' && isValid") Region: {{sites[selectedSite].region}}
		//	.btn.btn-lg.btn-warning(ng-click="subscribeToRegion()") Subscribe to a region
	.section.form-horizontal
		h2(translate="LOCATION.MAP_LOCATION")
		p(translate="LOCATION.MAP_LOCATION_SUB")
		.form-group
			label.col-sm-2.control-label(for='latText')(translate="LOCATION.LATITUDE")
			.col-sm-10			
				input#latText.form-control.title-value(type="text" ng-model="sites[selectedSite].lat" placeholder="Latitude" required )
		.form-group
			label.col-sm-2.control-label(for='lngText')(translate="LOCATION.LONGITUDE")
			.col-sm-10							
				input#lngText.form-control.title-value(type="text" ng-model="sites[selectedSite].lng" placeholder="Longitude" required)
		.mapWrapper
			.map(zoom='17' lat="{{sites[selectedSite].lat}}" lng="{{sites[selectedSite].lng}}" map)