div(ng-click="validate()")
	.section
		h1 Site Colors
		p Add the colors that show in your site on the mobile application
	.section#sitePreview
		.tittle(style="background-color:{{sites[selectedSite].mainColor}}; color:{{sites[selectedSite].textColor}}")
			.title1
				span(ng-if="sites[selectedSite].title1.length>0") {{sites[selectedSite].title1}}
				span(ng-if="!sites[selectedSite].title1.length") [YOUR SITE TITLE]
			.title2
				span(ng-if="sites[selectedSite].title2.length>0") {{sites[selectedSite].title2}}
				span(ng-if="!sites[selectedSite].title2.length") [YOUR SITE SUB TITLE]
		img(ng-src="{{sites[selectedSite].media[0].imgUrl}}" ng-if="sites[selectedSite].media.length>0" pendingIndicator)
		img(ng-src="images/warning_not_found.png" ng-if="!sites[selectedSite].media.length" )
	.section(ng-mouseleave="validate()")
		h1 Main Color
		p Please select the main color for your site
		input(type="text" ng-model="sites[selectedSite].mainColor" verify-on-change readonly)
		spectrum-colorpicker.picker(ng-model="sites[selectedSite].mainColor" options="{ showPaletteOnly:true, showInput: false, showAlpha: false, preferredFormat: 'rgb',palette:[['#edeeee', '#bbbdc0','#808284','#231f20'],['#69cdf1', '#2f83c0', '#005898'],['#5fc4bb','#88c53f','#0b8943'],['#fcbc15','#f47a26','#ed1c24','#ee4775'],['#9b3393','#4b3895'],['#c6a887','#7b3d1a']]}")
		h1 Text Color
		p Please select the text color for your site
		input(type="text" ng-model="sites[selectedSite].textColor" readonly)
		spectrum-colorpicker.picker(ng-model="sites[selectedSite].textColor" options="{showPaletteOnly:true, showInput: false, showAlpha: false, preferredFormat: 'rgb',palette:['#FFF','#000']}")		