div
	.section
		h1 Location Information
		p Add site information to your organization here. Information that will be shown on the mobile app is mark with **
	.section
		.row
			input.form-control.title-value(ng-model="sites[selectedSite].country" name="country" type="text" placeholder="Country **" ng-blur="validate()" required )
		.row
			input.form-control.title-value(ng-model="sites[selectedSite].state" name="state" type="text" placeholder="State **" ng-blur="validate()" required )
		.row
			input.form-control.title-value(ng-model="sites[selectedSite].city" name="city" type="text" placeholder="City **" ng-blur="validate()" required )
		.row
			input.form-control.title-value(ng-model="sites[selectedSite].zipCode" name="zipCode" type="text" placeholder="Zip Code **" ng-blur="validate()" required )
		.row
			input.form-control.title-value(ng-model="sites[selectedSite].streetAddres" name="streetAddres" type="text" placeholder="Street Address **"  ng-blur="validate()" required )
		.row
			input.form-control.title-value(ng-model="sites[selectedSite].phoneNumber" name="phoneNumber" type="text" placeholder="Phone number **" ng-blur="validate()" required )
		.row
			h4(ng-if="sites[selectedSite].region && sites[selectedSite].region!=='' && isValid") Region: {{sites[selectedSite].region}}
			.btn.btn-lg.btn-warning(ng-click="subscribeToRegion()") Subscribe to a region
	.section
		h2 Map Location
		p Select your location
		input.form-control.title-value(type="text" ng-model="sites[selectedSite].lat" placeholder="Latitude" required )
		input.form-control.title-value(type="text" ng-model="sites[selectedSite].lng" placeholder="Longitude" required)
		.mapWrapper
			.map(zoom='17' lat="{{sites[selectedSite].lat}}" lng="{{sites[selectedSite].lng}}" map)