div
	.section
		h1(translate="CATEGORIES.TITLE")
		p(translate="CATEGORIES.SUB_TITLE")
	.section
		#categories
			.container
				.row
					a.col-md-1.catModule(ng-class="{'separator':$index==5}" ng-repeat="cat in categories" ng-click="switchCategoryState(cat)")
						.catModuleWrapper(ng-class="containsCategory(cat)")
							.catIcon(class="icon icon-{{cat.icon}}")
							p {{cat.displayName}}