div
	.section
		h1 Biins
	.section
		.row
			.ownedGalleryWrapper.scrollbar-inner(scrollbar="scrollbarOptionsOwnedGallery" )
				.img-block(data-toggle="modal" href="#purchaseBeaconModal")
					.moduleWrapper
						p PURCHASE A NEW BIIN
				.img-block(ng-repeat="item in sites[selectedSite].media")
					.moduleWrapper.contentHideButtons
						img.img-responsive(ng-src="{{item.imgUrl}}" pending-indicator)
						.btnShowcasePreview.icon-round-control.btnDelete.btn-on-hover(ng-click="removeMediaAt(sites[selectedSite].media.indexOf(item))")
							.icon.icon-bin-2
include wizardBiinsPurchaseModal