div
	.section
		h1 Biins
		p In this section you can purchase Biin Beacons for you site.
	.section
		.row
			.biinsWrapper.scrollbar-inner(scrollbar="scrollbarOptionsOwnedGallery" )
				.img-block(data-toggle="modal" href="#purchaseBeaconModal")					
						#purchaseBiinButton.moduleWrapper
							.biinPurchasElementWrapper
								p PURCHASE A NEW BIIN
				.img-block( ng-repeat="item in sites[selectedSite].biins" ng-click="editBiin(sites[selectedSite].biins.indexOf(item))")
					.moduleWrapper(ng-class="{active: sites[selectedSite].biins.indexOf(item) == selectedBiin}")					 	
						.biinElementWrapper
							p(ng-if="!item.name.length") Biin# {{item.minor}}													
							p(ng-if="item.name.length>0") {{item.name}}
	.section(ng-if="selectedBiin!=null && sites[selectedSite].biins.length>0")
		row
			input.form-control(type="text" ng-model="sites[selectedSite].biins[selectedBiin].name" placeholder="Name")
			input.form-control(type="text" ng-model="sites[selectedSite].biins[selectedBiin].location" placeholder="location")				
			p.biinPropertie Identifier: {{sites[selectedSite].biins[selectedBiin].identifier}}			
			p.biinPropertie Organization id: {{organizationId}}			
			p.biinPropertie Site id: {{sites[selectedSite].major}}
			p.biinPropertie Biin id: {{sites[selectedSite].biins[selectedBiin].minor}}
include wizardBiinsPurchaseModal