div
	.section
		h1 Site Categories
		p Categories allow your site and products to be visible on searches, select the ones you think need to asociate with your site and products form the list below.
	.section
		include ../_partials/categoriesWidget