form.novalidate
	.section
		h1(translate="SITES.TITLE")
		p(translate="SITES.SUB_TITLE")
	.section.form-horizontal
		h2(translate="SITES.TITLE1")
		.row
			.form-group
				label.col-sm-2.control-label(for='title1')(translate="SITES.NAME")
				.col-sm-10
					input#title1.form-control.title-value(ng-model="sites[selectedSite].title1" name="title1" type="text" placeholder="Tittle **"  ng-blur="validate()"  required )
		.row
			.form-group
				label.col-sm-2.control-label(for='title2')(translate="SITES.AT")
				.col-sm-10
					input#title2.form-control.title-value(ng-model="sites[selectedSite].title2" name="title1" type="text" placeholder="Subtittle **" ng-blur="validate()"  required )
		.row
			.form-group
				label.col-sm-2.control-label(for='email')(translate="SITES.EMAIL")
				.col-sm-10
					input#email.form-control.title-value(ng-model="sites[selectedSite].email" name="email" type="text" placeholder="email@email.com **" ng-blur="validate()"  required )
		.row
			h4 {{'GENERIC.IDENTIFIER' | translate}} : {{sites[selectedSite].identifier }}
	.section
		h2(translate="GENERIC.SEARCH_TAGS")
		p(translate="GENERIC.SEARCH_TAGS_DESC")
		row
			.search-criteria-control
				.search-body
					.searchScroll.scrollbar-inner(scrollbar="scrollbarOptionsStandard")
						.col-md-1.tag(ng-repeat="tag in sites[selectedSite].searchTags")
							.btn-close(ng-click="removeSiteTag($index)")
								span X
							p {{tag}}
				.search-add
					.col-md-9
						input.form-control(name="newTagField.tag" ng-model="newTagField.tag")
					.col-md-3
						button.btn.btn-default(ng-click="addSiteTag(newTagField.tag);" ng-enter="addSiteTag(newTagField.tag);")(translate="GENERIC.ADD")