#categories
	a.col-md-1.module(ng-repeat="cat in categories|difference:ownCategories():'identifier'" drag="categories" element-index="categories.indexOf(cat)")
		.moduleWrapper-inverse
			p {{cat.displayName}}