#gallery(slimscroll="" slimscroll-option="{height:'auto'}" drop-files="autoInsertOff")
	.row.gallery		
		a.col-md1.galleryImage(ng-repeat="galleItem in galleries| filter: queryGallery" drag="galleries" element-index="galleries.indexOf(galleItem)")
				img.galleryImage(ng-src="{{galleItem.url}}" pending-indicator)
	.galleryControls
		button.btn UPLOAD
		input(type="text" ng-model="queryGallery" placeholder="Search" autofocus)