#notificationSection(ng-if="notificationStyle='main'" ng-calss="notificationStyle")
	.notificationIconWrapper
		.icon.icon-information(ng-if="notificationType='message'")
		.icon.icon-alert-2(ng-if="notificationType='alert'")			
		.icon.icon-question-mark(ng-if="notificationType='question'")
	.notificationContentWrapper
		label(ng-value="notificationMessage")