.modal-header
	button.close(data-dismiss="modal" ng-click="cancel()" aria-label="close")
		span(aria-hidden="true") &times;
	h1 Remove confirmation
.modal-body
	h4 Are you sure of remove {{objectName}} content?
.modal-footer
	button.btn.btn-theme.btn-sm(ng-click="ok()") Borrar
	button.btn.btn-theme.btn-sm(ng-click="cancel()") Cancelar