.panel.panel-default
	.panel-heading
		p Showcases
		.options
			input( ng-model="query" placeholder="Search" autofocus)
			select(ng-model="orderShowcases")
				option(value="title") Name
			a.button(href="#") Add
	.panel-body
		.list-group
			a.list-group-item(href="#", ng-repeat="item in showcases | filter: query | orderBy:orderShowcases" ng-click="edit(item.identifier)")
				p {{item.title}}