.panel.panel-default
	.panel-heading.control-group.form-inline
		label Showcase  	
		input.form-control( ng-model="query" placeholder="Search" autofocus)		
		.roundedOptionsForm
			a.btn.btn-rounded.pull-right(href="#")
				i +
		.options
			.row
				.col-md-10
					.form-inline
						.form-inline
							.dropdown
								button#dropdownMenu1.btn.dropdown-toggle.sr-only(type='button', data-toggle='dropdown')
									| Dropdown
									span.caret
								ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
									li(role='presentation')
										a(role='menuitem', tabindex='-1', href='#') Action
									li(role='presentation')
										a(role='menuitem', tabindex='-1', href='#') Another action
									li(role='presentation')
										a(role='menuitem', tabindex='-1', href='#') Something else here
									li.divider(role='presentation')
									li(role='presentation')
										a(role='menuitem', tabindex='-1', href='#') Separated link
	.body-list
		.col-lg-4.col-md-3.col-sm-3.col-list
			.row
				a.col-md-1.module(ng-repeat="item in showcases | filter: query | orderBy:orderShowcases" ng-click="edit($index)")					
					.moduleWrapper(ng-class="{active: $index == selectedShowcase}")				
						img.img-responsive(ng-src="{{item.mainImageUrl[0].value}}" style="max-width: 250px;height: auto;" pending-indicator)
		.col-lg-8.col-md-9.col-sm-9.colOptions
			.animate-switch(ng-if="selectedShowcase!=null")
				ul.nav.nav-tabs
					li(ng-class="{active:activeTab == 'details'}")
						a(ng-click="activeTab='details'") Details
					li(ng-class="{active:activeTab == 'objects'}")
						a(ng-click="activeTab='objects'") Elements
				.row
					.col-md-7.colPreview
						.imageWrapper
							img.imgPreview.img-responsive(ng-src="{{showcases[selectedShowcase].mainImageUrl[0].value}}" pending-indicator)								
							a.btn.btn-lg.btn-success.fullWidth(data-toggle="modal" data-target="#basicModal") Change							
					.col-md-5.colPreview
						.tab-content(ng-switch='activeTab')					
							#details(ng-switch-when='details')
								.hidden
									input.form-control( ng-model="showcases[selectedShowcase].identifier")				
									input.form-control( ng-model="showcases[selectedShowcase].customerId")														
									input.form-control( ng-model="showcases[selectedShowcase].organizationId")							
									input#showcaseImage(ng-model="showcases[selectedShowcase].mainImageUrl[0].value" ng-change="change()")     				
								label Title:
								input.form-control( ng-model="showcases[selectedShowcase].title")
								label Type:				
								input.form-control( ng-model="showcases[selectedShowcase].type")
								label Theme:				
								input.form-control( ng-model="showcases[selectedShowcase].theme")
								label Description:				
								textarea.form-control( ng-model="showcases[selectedShowcase].showcaseDescription")													
							#objects(ng-switch-when='objects')		
								.body-list
									.col-list
										.row.elementList											
											a.col-md1(ng-repeat="element in elements")
												.moduleWrapperElement
														img.imgElementPreview(ng-src="{{element.imageUrl[0].value}}" pending-indicator)

			.animate-switch(ng-if="selectedShowcase==null")				
