.panel.panel-default
	.panel-heading
		p Showcases
		.options
			input.form-control( ng-model="query" placeholder="Search" autofocus)
			a.btn.btn-primary.btn-sm(href="#") Add
	.panel-body
		.list-group
			a.list-group-item(href="#/edit/{{item.identifier}}", ng-repeat="item in showcases | filter: query | orderBy:orderShowcases" ng-click="edit(item.identifier)")
				p {{item.title}}