.panel.panel-default
	.panel-heading
		h4 Editing: {{showcaseEdit.title}}
		button.btn.btn-default.btn-lg.pull-right(ng-click="saveDetail()")
			a.glyphicon.glyphicon-floppy-disk(href="#" tooltip="Save")
		ul.nav.nav-tabs
			li(ng-class="{active:activeTab == 'details'}")
				a(ng-click="activeTab='details'") Details
			li(ng-class="{active:activeTab == 'objects'}")
				a(ng-click="activeTab='objects'") Objects
	.panel-body.tab-content(ng-switch='activeTab')
		.alert.alert-success.alert-dismissable(ng-if="succesSaveShow")
			button.close(type="button" data-dismiss="alert" aria-hidden="true" ng-click="succesSaveShow=false") &times;
			p The Showcase was successfully updated.
		form(action="#" role="form")
			#details.tab-pane.row(ng-switch-when='details')
				.col-md-4
					img.img-responsive(ng-src="{{showcaseEdit.mainImageUrl[0].value}}" style="max-width: 100%;height: auto;" pendingIndicator)								
				.col-md-8
					label Identifier:
					input.form-control( ng-model="showcaseEdit.identifier")
					label Title:
					input.form-control( ng-model="showcaseEdit.title")
					label Customer Id:
					input.form-control( ng-model="showcaseEdit.customerId")
					label Organization:
					input.form-control( ng-model="showcaseEdit.organizationId")
					label Type:				
					input.form-control( ng-model="showcaseEdit.type")
					label Theme:				
					input.form-control( ng-model="showcaseEdit.theme")
					label Description:				
					textarea.form-control( ng-model="showcaseEdit.showcaseDescription")
			#objects.tab-pane.row(ng-switch-when='objects')				
					.isotopeModules.col-md-12
						a.isotopeModule(ng-repeat="item in showcaseEdit.objects")
							img.img-responsive(ng-src="{{item.imageUrl[0].value}}" pendingIndicator)
							label {{item.number}} - {{item.title}}
							a.list-group-item(ng-repeat="objDesc in item.objectDescription")
								label {{objDesc.title}}					