.panel.panel-default
	.panel-heading
		h4 Editing: {{showcaseEdit.title}}
		button.btn.btn-default.btn-lg.pull-right(ng-click="saveDetail()")
			a.glyphicon.glyphicon-floppy-disk(tooltip="Save")
		ul.nav.nav-tabs
			li(ng-class="{active:activeTab == 'details'}")
				a(ng-click="activeTab='details'") Details
			li(ng-class="{active:activeTab == 'objects'}")
				a(ng-click="activeTab='objects'") Elements
	.panel-body.tab-content(ng-switch='activeTab')
		.alert.alert-success.alert-dismissable(ng-if="succesSaveShow")
			button.close(type="button" data-dismiss="alert" aria-hidden="true" ng-click="succesSaveShow=false") &times;
			p The Showcase was successfully updated.
		form(action="#" role="form")
			#details.tab-pane.row(ng-switch-when='details')
				.col-md-4
					.processWrapper.hidden
						input.dial(data-thickness=".3" data-fgColor="#222222")
					.imageWrapper
						img.img-responsive(ng-src="{{showcaseEdit.mainImageUrl}}" style="max-width: 100%;height: auto;" pending-indicator)								
						a.btn.btn-lg.btn-success.fullWidth(data-toggle="modal" data-target="#basicModal") Change
				.col-md-8
					input#showcaseImage.hidden(ng-model="showcaseEdit.mainImageUrl" ng-change="change()")
					label Identifier:
					input.form-control( ng-model="showcaseEdit.identifier")
					label Title:
					input.form-control( ng-model="showcaseEdit.title")
					label Customer Id:
					input.form-control( ng-model="showcaseEdit.customerIdentifier")
					label Organization:
					input.form-control( ng-model="showcaseEdit.organizationIdentifier")
					label Type:				
					input.form-control( ng-model="showcaseEdit.type")
					label Description:				
					textarea.form-control( ng-model="showcaseEdit.showcaseDescription")
			#objects.tab-pane.row(ng-switch-when='objects')				
					.row
						.col-md-7
							#slideFrame.showcaseObjectsScroll
								div.row
									div.isotopeModule.col-md-4(ng-repeat="item in showcaseEdit.objects" ng-click="editObject($index)" ng-class="{active: $index == currentObjectIndexSelected}")								
										p {{item.number}} - {{item.title}}
										img.img-responsive(ng-src="{{item.imageUrl[0].value}}" pending-indicator)
										a.btn.btn-sm.btn-success.fullWidth(data-toggle="modal" data-target="#elementModal") Change
						.col-md-5
							label Title
							input.form-control(ng-model="showcaseEdit.objects[currentObjectIndexSelected].title")								
							label Object Id
							input.form-control(ng-model="showcaseEdit.objects[currentObjectIndexSelected].objectId")
							label Number
							input.form-control(ng-model="showcaseEdit.objects[currentObjectIndexSelected].number")
							label Type
							input.form-control(ng-model="showcaseEdit.objects[currentObjectIndexSelected].type")
							label Likes
							input.form-control(ng-model="showcaseEdit.objects[currentObjectIndexSelected].likes")			
							label Description
							input.form-control(ng-model="showcaseEdit.objects[currentObjectIndexSelected].objectDescription[0].value")
							label Action Type
							input.form-control(ng-model="showcaseEdit.objects[currentObjectIndexSelected].actionType")
							label Original Price
							input.form-control(ng-model="showcaseEdit.objects[currentObjectIndexSelected].originalPrice")
							label Biin Price
							input.form-control(ng-model="showcaseEdit.objects[currentObjectIndexSelected].biinPrice")
							label Discount
							input.form-control(ng-model="showcaseEdit.objects[currentObjectIndexSelected].discount")
							label Savings
							input.form-control(ng-model="showcaseEdit.objects[currentObjectIndexSelected].savings")
							label Biin Sold
							input.form-control(ng-model="showcaseEdit.objects[currentObjectIndexSelected].biinSold")
							label Time Frame
							input.form-control(ng-model="showcaseEdit.objects[currentObjectIndexSelected].timeFrame")
							label Image
							input.form-control(ng-model="showcaseEdit.objects[currentObjectIndexSelected].imageUrl[0].value")							
							label Theme
							input.form-control(ng-model="showcaseEdit.objects[currentObjectIndexSelected].theme")
							label Categories
							div(ng-repeat="category in showcaseEdit.objects[currentObjectIndexSelected].categories")
									p{{category.category}}
#basicModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				button.close(type="button" data-dismiss="modal" aria-hidden="true")&times;
				h3 Showcase Image Editor
			.modal-body
				.row
					.fullWidth
						#showcaseImages.copperEditor
					input#showcaseImageUrlCropped.hidden
			.modal-footer
				a.btn.btn-primary(image-save="" data-image-cropped="#showcaseImageUrlCropped") Done
#elementModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="elementModal" aria-hidden="true")
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				button.close(type="button" data-dismiss="modal" aria-hidden="true")&times;
				h3 Element: {{showcaseEdit.objects[currentObjectIndexSelected].title}}
			.modal-body
				.row
					.fullWidth
						#elementImages.copperEditor
					input#elementImageUrlCropped.hidden
			.modal-footer
				a.btn.btn-primary(image-element-Save="" data-image-cropped="#elementImageUrlCropped") Done				