.panel.panel-default.max-height(data-hm-showcase="")
	.panel-heading.control-group.form-inline
		label Showcase
		.search-control
			input.form-control.search-box(ng-model="query" placeholder="Search" autofocus)
			i.icon.icon-magnifier
	.body-list.max-height
		.col-lg-4.col-md-3.col-sm-3.col-list.max-height
			.row(slimscroll="" slimscroll-option="{height: 'auto'}" )
				a.col-md-1.module(ng-click="create()")				
					.moduleWrapper.remove-module
						.btn-rounded.center.icon.icon-add-1
				a.col-md-1.module(ng-repeat="item in showcases | filter: query | orderBy:orderShowcases" ng-click="edit(showcases.indexOf(item))")					
					.moduleWrapper.contentHideButtons(ng-class="{active: showcases.indexOf(item) == selectedShowcase}")				
						img.img-responsive(ng-src="{{item.mainImageUrl}}" style="max-width: 250px;height: auto;" pending-indicator)
						.btnShowcasePreview.icon-round-control.btnDelete.btn-on-hover(ng-click="removeShowcaseAt(showcases.indexOf(item))")
							.icon.icon-bin-2 	
		.col-lg-8.col-md-9.col-sm-9.colOptions.max-height
			.animate-switch.max-height(ng-if="selectedShowcase!=null")
				ul.workAreaHeader.nav.nav-tabs
									li(ng-class="{active:activeTab == 'details'}")
										a(ng-click="activeTab='details'") Details
									li(ng-class="{active:activeTab == 'biins'}")
										a(ng-click="activeTab='biins'") Biins						
									li(ng-class="{active:activeTab == 'objects'}")
										a(ng-click="activeTab='objects'") Elements					
				.row.workArea.max-height.showcaseWorkArea
					.col-md-6.col-sm-6.colPreview.max-height.max-elementWidth-OverFlow
						button.center.form-group.btn.btn-default.btn-save.form-control(ng-click="saveDetail()") SAVE
						.mainWrapperShowcase(slimscroll="" slimscroll-option="{height: '96%', railVisible:true, wrapperClass:'slimScrollDivContrast'}" slimscroll-obj="showCasePreviewScroll")
							.previewShowcaseWrapper(droppable-showcase-preview)
								#wrapperShowcase.copperEditor(data-image-src="{{showcases[selectedShowcase].mainImageUrl}}" image-cropper)
								input#showcaseImage.hidden(ng-model="showcases[selectedShowcase].mainImageUrl" input-change="")							
								label.previewLabel.title1(style="color:{{showcases[selectedShowcase].title1Color}}; font-size:{{showcases[selectedShowcase].title1Size}}px") {{showcases[selectedShowcase].title1}}
								label.previewLabel.title2(style="color:{{showcases[selectedShowcase].title2Color}}; font-size:{{showcases[selectedShowcase].title2Size}}px") {{showcases[selectedShowcase].title2}}
								label.previewLabel.title3(style="color:{{showcases[selectedShowcase].title3Color}}; font-size:{{showcases[selectedShowcase].title3Size}}px") {{showcases[selectedShowcase].title3}}
							.previewShowcaseElements.row.max-height
								.col-md1.hide.dropColumn
									.imgElementPreview
								.col-md1.moduleWrapperShowcaseElement.center.contentHideButtons(ng-repeat-start="obj in showcases[selectedShowcase].objects | orderBy:natural('position')" element-position="{{obj.position}}" droppable)
									img.imgElementPreview(ng-src="{{obj.imageUrl}}")
									div.btnShowcasePreview.icon-round-control.btn-on-hover(ng-click="removeElementAt(showcases[selectedShowcase].objects.indexOf(obj))")
											.icon.icon-bin-2 
									div.btnShowcasePreview.icon-round-control.up.btn-on-hover(ng-click="moveElementUp(showcases[selectedShowcase].objects.indexOf(obj))" ng-if="$index>0")
											.icon.icon-arrow-33
									div.btnShowcasePreview.icon-round-control.down.btn-on-hover(ng-click="moveElementDown(showcases[selectedShowcase].objects.indexOf(obj))" ng-if="$index<showcases[selectedShowcase].objects.length-1") 
											.icon.icon-arrow-34
								.col-md1.hide.dropColumn(ng-repeat-end)							
									.imgElementPreview				
					.col-md-6.col-sm-6.colPreview.max-height.col-splitter
						.tab-content.max-height(ng-switch='activeTab')					
							#details(ng-switch-when='details')
								.hidden
									input.form-control( ng-model="showcases[selectedShowcase].identifier")				
									input.form-control( ng-model="showcases[selectedShowcase].customerIdentifier")																						
									input.form-control( ng-model="showcases[selectedShowcase].organizationIdentifier")
									input.form-control( ng-model="showcases[selectedShowcase].type")										
								.row
									label Title 1:							
								.row
									span.form-group.form-control.form-picker														     				
										input(ng-model="showcases[selectedShowcase].title1")										
										spectrum-colorpicker.picker(ng-model="showcases[selectedShowcase].title1Color" options="{showInput: true, showAlpha: true, preferredFormat: 'rgb'}")				
										span.separator
										select.selectpicker(ng-model="showcases[selectedShowcase].title1Size")
											option(value="5") XS
											option(value="15") S
											option(value="20") M
											option(value="25") L
											option(value="35") XL
										span.caret-reversed
										span.caret
								.row
									label Title 2:		
								.row									
									span.form-group.form-control.form-picker
										input( ng-model="showcases[selectedShowcase].title2")
										spectrum-colorpicker.picker(ng-model="showcases[selectedShowcase].title2Color" options="{showInput: true, showAlpha: true, preferredFormat: 'rgb'}")									
										span.separator
										select.selectpicker(ng-model="showcases[selectedShowcase].title2Size")
											option(value="5px") XS
											option(value="15") S
											option(value="20") M
											option(value="25") L
											option(value="35") XL
										span.caret-reversed
										span.caret											
								.row
									label Title 3:
								.row
									span.form-group.form-control.form-picker
										input( ng-model="showcases[selectedShowcase].title3")
										spectrum-colorpicker.picker(ng-model="showcases[selectedShowcase].title3Color" options="{showInput: true, showAlpha: true, preferredFormat: 'rgb'}")																		
										span.separator
										select.selectpicker(ng-model="showcases[selectedShowcase].title3Size")
											option(value="5") XS
											option(value="15") S
											option(value="20") M
											option(value="25") L
											option(value="35") XL
										span.caret-reversed
										span.caret
								.row
									label Description:				
								.row
									textarea.form-group.form-control( ng-model="showcases[selectedShowcase].showcaseDescription")
							#biins.max-height(ng-switch-when='biins')
								.middle-heigth.biinColumn
									.row.elementList(slimscroll slimscroll-option="{height: '96%', railVisible:true}" droppable-biin)
										a.col-md2(ng-repeat="biin in biins| filter:{'showcaseIdentifier': showcases[selectedShowcase].identifier}")
												.moduleWrapperBiin.center(element-index="{{biins.indexOf(biin)}}" draggable-biin)
													p {{biin.identifier}}
								.middle-heigth.biinUnasocciatedColumn
									.row.elementList(slimscroll slimscroll-option="{height: 'auto', railVisible:true}")
										a.col-md2(ng-repeat="biinUnasocciated in biins|undefinedValue:'showcaseIdentifier'")
												.moduleWrapperBiin.center(element-index="{{biins.indexOf(biinUnasocciated)}}" draggable-biin)
													p  Identifier: {{biinUnasocciated.identifier}}
							#objects.max-height(ng-switch-when='objects')		
								.max-height																				
									.row.elementList(slimscroll slimscroll-option="{height: 'auto', railVisible:true}")											
										.col-md1.moduleWrapperElement.searchElements
											input.form-control.max-width( ng-model="queryElements" placeholder="Search" autofocus)										
										a.col-md1(ng-repeat="element in elements|difference:showcases[selectedShowcase].objects|filter:queryElements")
											.moduleWrapperElement
													img.imgElementPreview(ng-src="{{element.imageUrl}}" pending-indicator element-index="{{elements.indexOf(element)}}" draggable-showcase-element)
			.animate-switch(ng-if="selectedShowcase==null")