#singUpModal.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button" data-dismiss="modal" aria-label="close")
					span(aria-hidden="true") &times;
			.modal-body(ng-if="authView==='singin'")
				.welComeText
					h1 Wellcome
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac ligula purus. Cras a risus accumsan, pulvinar sem at, vehicula arcu. Maecenas id varius enim. Vivamus dapibus magna vitae tempor tincidunt. Praesent eu massa et sem efficitur vulputate. Nullam faucibus finibus ligula sit amet faucibus.
					.notifications
						.alert.alert-info.alert-dismissible(role="alert" ng-if="processing")
							button.close(data-dismiss="alert" aria-label="Close")
								span(aria-hidden='true') &times;
							strong  Processing please wait.
						.alert.alert-danger.alert-dismissible(role="alert" ng-if="connectionError")
							button.close(data-dismiss="alert" aria-label="Close")
								span(aria-hidden='true') &times;
							strong  Upps...!!, looks like was a problem with the request to server, lets try again...!!
						.alert.alert-warning.alert-dismissible(role="alert" ng-if="credentialsError")
							button.close(data-dismiss="alert" aria-label="Close")
								span(aria-hidden='true') &times;
							strong  Ohhh... User and Password does not match, try again..!!
				.loginDropDown
					form.loginForm(no-validate)
						input.form-control.input-block-level(name='username', type='text', placeholder='e-mail')
						input#passwordInput.form-control.input-block-level(name='password', type='password', placeholder='password' login)
						a.forgotPass.pull-right(href='') Forgot password?
						div(data-toggle='buttons-checkbox')
							.checkbox.stayLogged
								label
									input(type='checkbox')
									| Stay Logged In
							span.adviceLoggedIn.pull-left Keep me logged in until I log out
							a#buttonLogin.btn.btn-theme.fulllWidth(ng-click="login()") 
								span(ng-if="!processing") Login
								span(ng-if="processing") processing...
							a(ng-click="switchAuthView('singup')")#buttonSignUP.btn.btn-theme.btn-signUp.fulllWidth Sign up
			.modal-body(ng-if="authView==='singup'")
				.welComeText
					h1 Wellcome to the singup
					p Fill the fields below in order to register in biin APP.
					.notifications
						.alert.alert-info.alert-dismissible(role="alert" ng-if="processing")
							button.close(data-dismiss="alert" aria-label="Close")
								span(aria-hidden='true') &times;
							strong  Processing please wait.
						.alert.alert-danger.alert-dismissible(role="alert" ng-if="connectionError")
							button.close(data-dismiss="alert" aria-label="Close")
								span(aria-hidden='true') &times;
							strong  Upps...!!, looks like was a problem with the request to server, lets try again...!!
						.alert.alert-warning.alert-dismissible(role="alert" ng-if="credentialsError")
							button.close(data-dismiss="alert" aria-label="Close")
								span(aria-hidden='true') &times;
							strong  Ohhh... User and Password does not match, try again..!!
				.loginDropDown
					form.loginForm(name="singupForm" no-validate)
						input.form-control.input-block-level(name='username', type='email', placeholder='e-mail' ng-model="profile.name" ng-model-options="{ updateOn: 'blur' }" required verifyemail )
						span.form-control.input-block-level.alert.alert-info(ng-show="singupForm.username.$pending.verifyemail") Verifying the e-mail availability...						
						span.form-control.input-block-level.aler.alert-danger(ng-show="singupForm.username.$error.verifyemail") The e-mail is not available, please try other.
						span.form-control.input-block-level.aler.alert-danger(ng-show="singupForm.username.$error.email") Please enter a valid e-mail.
						input.form-control.input-block-level(name='company', type='text', placeholder='company' ng-model="profile.company" required )
						input#passwordInput.form-control.input-block-level(name='password', type='password', placeholder='password' ng-model="profile.password" login required)
						input#passwordInput.form-control.input-block-level(name='verifyPassword', type='password', placeholder='confirm password' ng-model="profile.verifyPassword" ng-model-options="{ updateOn: 'blur' }" verifypassword  login)
						span.form-control.input-block-level.alert.alert-danger(ng-show="singupForm.verifyPassword.$error.verifypassword") Ohh the password doesn't match!!
						div(data-toggle='buttons-checkbox')
							.checkbox.stayLogged
								label
									input(type='checkbox')
									| Stay Logged In
							span.adviceLoggedIn.pull-left Keep me logged in until I log out
						div(ng-show="singUpProcessing===false")
							input.btn.btn-theme.fulllWidth(type="submit" ng-click="singupClient()" value="Sing up" ng-disabled="singupForm.$invalid")
							a(ng-click="switchAuthView('singin')").btn.btn-theme.btn-signUp.fulllWidth Login
						div(ng-show="singUpProcessing===true")
							span processing the sing up, please wait...