extends ../layout_landing_page
block head_scripts
	script(src="/javascripts/angular/blogController.js")
block content
	section#blog(ng-app="biinAppBlog" ng-controller="blogController")
		.container
			.row
				h1= title
					include listing