.row
	.col-md-12
			a.col-md-12.entry(ng-repeat="blog in blogs" ng-href="{{blog.url}}")
				.wrapper
					.col-md-12
						.row.title
							h1 {{blog.name}}
						.row.date
							span{{blog.date}}
						.row.preview
							p(dynamic="blog.preview") 
