.maintenanceModal
	.modal-header
		button(ng-click="cancel()" type="button" class="close") x
		h3 Crear o Modificar un Beacon
	.modal-body
		.section
			h4.text-center
				span.label.label-warning{{message}}
		.section.tableAddBeaconsToOrganization
			.col-md-12
				.row
					.col-md-6
						label Site
						select.form-control(ng-model="selectedSite" ng-change="selectSite(selectedSite)" ng-disabled="{{lockValues}}")
							option(ng-repeat="site in sites" value="{{sites.indexOf(site)}}") {{site.title2}}
					.col-md-6
						label Mayor
						input.form-control(ng-value="sites[selectedSite].major" disabled="true")
			.col-md-12
				.row
					.col-md-6
						label Status
						select.form-control.bootstrap-select(ng-model="beacon.status" ng-change="selectState(beacon.status)")
							option(value='No Programmed') No Programmed
							option(value='Programmed') Programmed
							option(value='Installed') Installed 
							option(value='Damaged') Damaged
					.col-md-6
						label Minor
						input.form-control(disabled="true" value="{{minor}}")
			.col-md-12
				.row
					.col-md-6
						label Biin ID
						input.form-control(ng-model="beacon.brandIdentifier" ng-disabled="{{lockValues}}")
					.col-md-6
						label Alias
						input.form-control(ng-model="beacon.name" ng-disabled="{{lockValues}}")
			.col-md-12
				.row
					.col-md-6
						label Tipo
						select.form-control.bootstrap-select(ng-model="beacon.biinType" ng-disabled="{{lockValues}}" ng-change="onTypeChange(beacon.biinType)")
							option(value='1') Exterior
							option(value='2') Interior
							option(value='3') Producto 
					.col-md-6
						label UU-ID
						input.form-control(ng-model="beacon.proximityUUID" disabled="true")
	.modal-footer
		button.btn.btn-theme.btn-sm(ng-click="save()") Apply
		button.btn.btn-theme.btn-sm(ng-click="cancel()") Cancel