extends ../layout_maintenance
block head_scripts
	script(src="/javascripts/angular/maintenanceController.js")
block content	
	#sectionContent(ng-app="biinAppMaintenance" ng-controller="maintenanceController" ngCloack)
		#wrapperContent
			.left-section-content.unretracted
				.container-fluid.main-views-list
					.hideButton
						.unretracted.icon-pin-1
						.retracted.icon-align-left						
					.row
						.scroll-vertical-container.scrollbar-inner(scrollbar="scrollbarOptionsStandard")
							.col-xs-12.col-sm-12.col-md-12.col-lg-12.titleLeftSection
									.titleLeftSection-wrapper
										| Organizations
									.col-xs-12.col-sm-12.col-md-12.col-lg-12.nopadding(ng-repeat="org in organizations" ng-click="showBiinsPerOrganization(organizations.indexOf(org))")
										.moduleWrapperList.contentHideButtons(ng-class="{active: organizations.indexOf(org) == selectedOrganization}")
											.col-md-9
												label.maintenanceOrgName {{org.name}}
											.col-md-9
												label.orgBeacons {{org.biinsAssignedCounter}}
												|  Beacons
				.right-section-content
					.container-fluid
						div(ng-if="selectedOrganization!=null")
							.animate-switch.wizard-wrapper
								.wizard-body.wizard(ng-switch="wizardPosition" ng-mouseleave="save()")
									include wizardBiinsPerOrganization