div
	.section
		h2 {{organizations[selectedOrganization].name}}
		.listBiinsInOrganization
			table.tableListBiinsInOrganization
				tbody
					tr
						th 
							| Id
						th 
							| Alias
						th 
							| UU-ID
						th 
							| Site
						th 
							| Major
						th 
							| Minor
						th 
							| State
						th
							| Edit
					tr(ng-repeat="biin in organizations[selectedOrganization].biins")
						td.biinInOrganizationId {{biin.identifier}}
						td.biinInOrganizationAlias {{biin.name}}
						td.biinInOrganizationUUID {{biin.proximityUUI}}
						td.biinInOrganizationSite {{biin.siteName}}
						td.biinInOrganizationMajor {{biin.major}}
						td.biinInOrganizationMinor {{biin.minor}}
						td.biinInOrganizationState {{biin.status}}
						td
							.icon.icon-pencil-2(ng-click="showAddBiintoOrganizationModal('edit',biin)")

		.addBiinToOrganization
			.icon.icon-add-4(ng-click="showAddBiintoOrganizationModal('create')")
