extends ../layout_accountObjects
block content	
	#sectionContent.max-height(ng-app="biinAppElements" ng-controller="elementsController")
			#wrapperHeader.row
			#wrapperContent.row.max-height(ng-view)