extends ../layout_dashboard
block head_scripts
	//Css Style
	link(rel="stylesheet" href="/angular-datepicker/dist/index.css")
	link(rel="stylesheet" href="/stylesheets/elements.css")
	script(src="/angular-datepicker/dist/index.js")
	script(src="/javascripts/angular/elementsController.js")
block content	
	#sectionContent(ng-app="biinAppElements" ng-controller="elementsController" ngCloack)
		#wrapperContent(data-organizationId=""+organization.identifier data-organizationName=""+organization.name)
			.left-section-content.unretracted
				.container-fluid.main-views-list
					.hideButton
						.unretracted.icon-arrow-37
						.retracted.icon-arrow-38
					.row
						.scroll-vertical-container.scrollbar-inner(scrollbar="scrollbarOptionsStandard")
							.col-xs-12.col-sm-12.col-md-12.col-lg-12.searchBoxList
									.col-md-2
										button.btn.btnAdd(ng-click='create()') &#43;
									.col-md-10
										.searchBox-wrapper
											input.form-control(type="text" placeholder="filter" ng-model="query" autofocus)
							.col-xs-12.col-sm-12.col-md-12.col-lg-12.nopadding(ng-repeat="item in elements | orderBy: '+title' | filter: query" ng-click="edit(elements.indexOf(item))")
									.moduleWrapperList.contentHideButtons(ng-class="{active: elements.indexOf(item) == selectedElement}")
										.col-md-3.thumbListImage
											img(ng-if="item.media.length == 0" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+", alt='')
											img(ng-if="item.media.length>0" ng-src="{{item.media[0].url}}" pending-indicator)													
										.col-md-9
											label.moduleTitle {{item.title}}
											.btnDelete.icon-round-control.btn-on-hover(ng-click="openConfirmation('sm',elements.indexOf(item))")
												.icon.icon-bin-2
											.btnShowcasePreview.icon-round-control.btn-on-hover
												.icon.icon-arrange-1
			.right-section-content.normalSize
				div(ng-if="selectedElement!=null")
					.right-section-padding
						.right-section-body(ng-mouseleave="save()")
							#sectionOption1.sectionBox
								include wizardNutshell
							#sectionOption2.sectionBox
								include wizardGallery
							#sectionOption3.sectionBox
								include detailsSection
							#sectionOption4.sectionBox
								include searchTagsSection
							#sectionOption5.sectionBox
								include wizardCategories
							#sectionOption6.sectionBox
								include wizardHighlights