extends ../layout_dashboard
block head_scripts
	link(rel="stylesheet" href="/angular-datepicker/dist/index.css")
	script(src="/angular-datepicker/dist/index.js")
	script(src="/javascripts/angular/elementsController.js") 
block content	
	#sectionContent(ng-app="biinAppElements" ng-controller="elementsController")
		#wrapperContent(data-organizationId=""+organization.identifier data-organizationName=""+organization.name)
			.left-section-content
				.container-fluid
					.row
						.col-md-12(style='padding:8px;')
							button.btn.btn-default.btn-block.btn-biin(ng-click='create()') ADD NEW ELEMENT
				.container-fluid
					.row
						.scroll-vertical-container.scrollbar-inner(scrollbar="scrollbarOptionsStandard")
							.col-xs-4.col-sm-6.col-md-6.col-lg-6.nopadding(ng-repeat="item in elements | filter: query" ng-click="edit(elements.indexOf(item))")
								.moduleWrapper.contentHideButtons(ng-class="{active: elements.indexOf(item) == selectedElement}")
									.moduleTitle {{item.title1}}
									img(ng-if="item.media.length == 0" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+", alt='')
									img(ng-if="item.media.length>0" ng-src="{{item.media[0].imgUrl}}" style="max-width: 250px;height: auto;" pending-indicator)
									.btnDelete.icon-round-control.btn-on-hover(ng-click="removeElementAt(elements.indexOf(item))")
										.icon.icon-bin-2
									.btnShowcasePreview.icon-round-control.btn-on-hover
										.icon.icon-arrange-1
				.container-fluid.searchBox
					.searchBox-wrapper
						input.form-control(type="text" placeholder="search" ng-model="query" autofocus )
			.right-section-content
				div(ng-if="selectedElement!=null")
					.animate-switch.wizard-wrapper
						.wizard-body.wizard(ng-switch="wizardPosition" ng-mouseleave="save()")
							#wizardOption0.wizard(ng-switch-when="0" )
								include wizardType
							#wizardOption1.wizard(ng-switch-when="1" )
								include wizardNutshell
							#wizardOption2.wizard(ng-switch-when="2" )
								include wizardGallery
							#wizardOption3.wizard(ng-switch-when="3" )
								include wizardDesign
							#wizardOption4.wizard(ng-switch-when="4" )
								include wizardHighlights
							#wizardOption5.wizard(ng-switch-when="5" )
								include wizardDetails
							#wizardOption6.wizard(ng-switch-when="6" )
								include wizardNotifications				
						.wizard-options
							.container-fluid
								.row.wizard-options-wrapper
									.col-md-1.col-sm-1.nopadding.option
										#guide-wizard-pointer(ng-class="{'active':wizardPosition ==0}")
										.wizard-options-item(ng-click="changeWizardTab(0)")
											.circle(ng-class="{'active':wizardPosition ==0,'valid':wizard0IsValid}")
												.icon.icon-network-1-1
											.textCirle 
												| 1. Type
									.col-md-1.col-sm-1.nopadding.option
										#guide-wizard-pointer(ng-class="{'active':wizardPosition ==1}")
										.wizard-options-item(ng-click="changeWizardTab(1)")
											.circle(ng-class="{'active':wizardPosition ==1,'disabled':!wizard0IsValid,'valid':wizard1IsValid}")
												.icon.icon-list-1-1
											.textCirle 
												| 1. Nutshell
									.col-md-1.col-sm-1.nopadding.option
										#guide-wizard-pointer(ng-class="{'active':wizardPosition ==2}")
										.wizard-options-item(ng-click="changeWizardTab(2)")
											.circle(ng-class="{'active':wizardPosition ==2,'disabled':!wizard1IsValid,'valid':wizard2IsValid}")
												.icon.icon-photo-1
											.textCirle 
												| 2. IMAGES												
									.col-md-1.col-sm-1.nopadding.option
										#guide-wizard-pointer(ng-class="{'active':wizardPosition ==3}")
										.wizard-options-item(ng-click="changeWizardTab(3)")
											.circle(ng-class="{'active':wizardPosition ==3,'disabled':!wizard2IsValid,'valid':wizard3IsValid}")
												.icon.icon-palette
											.textCirle 
												| 3. Design
									.col-md-1.col-sm-1.nopadding.option
										#guide-wizard-pointer(ng-class="{'active':wizardPosition ==4}")
										.wizard-options-item(ng-click="changeWizardTab(4)")
											.circle(ng-class="{'active':wizardPosition ==4,'disabled':!wizard3IsValid,'valid':wizard4IsValid}")
												.icon.icon-crosshair-1
											.textCirle 
												| 4. Highlights
									.col-md-1.col-sm-1.nopadding.option
										#guide-wizard-pointer(ng-class="{'active':wizardPosition ==5}")
										.wizard-options-item(ng-click="changeWizardTab(5)")
											.circle(ng-class="{'active':wizardPosition ==5,'disabled':!wizard4IsValid,'valid':wizard5IsValid}")
												.icon.icon-list-1-1
											.textCirle 
												| 5. Details
									.col-md-1.col-sm-1.nopadding.option
										#guide-wizard-pointer(ng-class="{'active':wizardPosition ==6}")
										.wizard-options-item(ng-click="changeWizardTab(6)")
											.circle(ng-class="{'active':wizardPosition ==6,'disabled':!wizard5IsValid,'valid':wizard6IsValid}")
												.icon.icon-message
											.textCirle 
												| 6. Notifications
									.col-md-1.col-sm-1.nopadding.option																							
										.wizard-options-item.completeOption
											.circle(ng-class="{'complete':isValid}")
												.circle-inner
													.icon.icon-check-1
											.textCirle 
								#guide-line-division.elementsWizard