.section
	h1(translate="TYPE.TITLE")
	p(translate="TYPE.SUB_TITLE")
.section
	#elementType
		.typeWrapper.scrollbar-inner(scrollbar="scrollbarOptionsStandard" )
			.type-block
				.moduleType(ng-click="selectType(0)" ng-class="{'active':'0'===elements[selectedElement].elementType}")						
					.circleInner
						.icon.icon-book-7
						span(translate="TYPE.INFO")
			.type-block
				.moduleType(ng-click="selectType(1)" ng-class="{'active':'1'===elements[selectedElement].elementType}")						
					.circleInner
						.icon.icon-piggy-bank
						span(translate="TYPE.BENEFIT")
.section(ng-if="elements[selectedElement].elementType==''")
	p(translate="TYPE.SELECT")
.section(ng-if="elements[selectedElement].elementType=='0'")
	h2(translate="TYPE.INFO1")
	p(translate="TYPE.INFO_DESC")
.section(ng-if="elements[selectedElement].elementType=='1'")		
	h2(translate="TYPE.BENEFIT1")
	p(translate="TYPE.BENEFIT_DESC")
.section
	h4(translate="TYPE.IDENTIFIER") :{{elements[selectedElement].elementIdentifier}}