form.novalidate
	.section
		.row
			.col-md-12
				h2(translate="SUMMARY.TITLE")
	.section.form-horizontal
		.row
			.col-md-6
				.row
					label.control-label(for='title1')(translate="SUMMARY.NAME1")
				.row
					input#title1.form-control.title-value(ng-model="elements[selectedElement].title" name="title" type="text" placeholder="Title **"  ng-blur="validate()"  required )
				.row
					h4(translate="SUMMARY.NAMEDESCRIPTION")
			.col-md-6
				.row
					.nopadding.col-sm-1
						checkbox#isHighlightCheckbox(ng-model="elements[selectedElement].isHighlight" ng-true-value="1" ng-false-value="0" large )
					.col-sm-11
						.row
							label(translate="SUMMARY.HIGHTLIGHT") Hightlight
						.row
							h4(translate="SUMMARY.HIGHTLIGHTDESCRIPTION") Turn on Hightlight to presents this element in the Hightlight section of the mobile app
		.row
			.row
				.col-md-12
					label.control-label(for='title2')(translate="SUMMARY.DESC1")
			.row
				.col-md-12
					input#title2.form-control.title-value(ng-model="elements[selectedElement].subTitle" name="subTitle" type="text" placeholder="Subtitle"  ng-blur="validate()"  required )
			.row
				.col-md-12 
					h4(translate="SUMMARY.DESC2")
			.row
				.col-md-12 
					h4 Identifier
					.row
				.col-md-12 
					p {{ elements[selectedElement].identifier}}