.verticalScroll.colAppend(jquery-scrollbar="scrollbarOptionsStandard"  drop-files="autoInsertOff")
	.section
		h1 Gallery
		p Add some images to your element so users on the mobile app see yours stores looks like
	.section(drop)
		.row
			.ownedGalleryWrapper.scrollbar-inner(scrollbar="scrollbarOptionsStandard")
				.img-block(ng-repeat="item in elements[selectedElement].media")
					.moduleWrapper.contentHideButtons
						img.imagegallery.img-responsive(ng-src="{{item.url}}"  pending-indicator)
						.btnShowcasePreview.icon-round-control.btnDelete.btn-on-hover(ng-click="removeMediaAt(elements[selectedElement].media.indexOf(item))")
							.icon.icon-bin-2
	.section
		.row
			.galleryWrapper
				include ../_partials/galleryWidget