div(ng-click="validate()")
	.section
		h1 Element Design
		p Add the colors that show in your site on the mobile application
	.section.row
		.col-md-5
			#elementPreview
				.tittle(style="color:{{elements[selectedElement].textColor}}")
					.elementNumber
						span 1
					.title1
						span(ng-if="elements[selectedElement].title.length>0") {{elements[selectedElement].title}}
						span(ng-if="!elements[selectedElement].title.length") [YOUR ELEMENT TITLE]
					.socialButtons
						i.icon-heart-1
						i.icon-baloon
						i.icon-compass-3
				img(ng-src="{{elements[selectedElement].media[0].url}}" ng-if="elements[selectedElement].media.length>0" pendingIndicator)
				img(ng-src="images/warning_not_found.png" ng-if="!elements[selectedElement].media.length" )
		.col-md-7			
			#elementSticker
				h3 Stickers
				p Select an appropriate sticker for this element.
				.stickersWrapper.scrollbar-inner(scrollbar="scrollbarOptionsStandard" )
					.img-block(ng-repeat="item in stickers")
						.stickerModuleWrapper(ng-click="selectSticker($index)" ng-class="{'active':item.identifier===elements[selectedElement].sticker.identifier}")
							span.stickerTitle {{item.title1}} {{item.title2}}
							.stickerContent(ng-class="item.identifier")
								spectrum-colorpicker.picker(ng-model="item.color" options="{ showPaletteOnly:true, showInput: false, showAlpha: false, preferredFormat: 'rgb',palette:[['#ed1c24'],['#fff100'],['#38b449'],['#00adef'],['#000000'],['#f7931d'],['#86328b']]}" ng-if="item.identifier!==elements[selectedElement].sticker.identifier")
								spectrum-colorpicker.picker(ng-model="elements[selectedElement].sticker.color" options="{ showPaletteOnly:true, showInput: false, showAlpha: false, preferredFormat: 'rgb',palette:[['#ed1c24'],['#fff100'],['#38b449'],['#00adef'],['#000000'],['#f7931d'],['#86328b']]}" ng-if="item.identifier===elements[selectedElement].sticker.identifier")									
								.sticker01(ng-if="item.identifier=='stick01'")
									.circleOuter(style="background-color:{{item.color}}!important;" ng-if="item.identifier!==elements[selectedElement].sticker.identifier")
										.circleIn
											.title1 {{item.title1}}
											.title2 {{item.title2}}
									.circleOuter(style="background-color:{{elements[selectedElement].sticker.color}}!important;" ng-if="item.identifier===elements[selectedElement].sticker.identifier")
										.circleIn
											.title1 {{item.title1}}
											.title2 {{item.title2}}											
								.sticker02(ng-if="item.identifier=='stick02'")
									.rectangle(style="background-color:{{item.color}}!important;" ng-if="item.identifier!==elements[selectedElement].sticker.identifier")
										.rectangleIn
											.title1 {{item.title1}}
											.title2 {{item.title2}}
									.rectangle(style="background-color:{{elements[selectedElement].sticker.color}}!important;" ng-if="item.identifier===elements[selectedElement].sticker.identifier")
										.rectangleIn
											.title1 {{item.title1}}
											.title2 {{item.title2}}											
	.section(ng-mouseleave="validate()")
		.row
			.col-md-4
				h2 Text Color
				p Please select the Text color for the element
				.color-picker
					input(type="text" ng-model="elements[selectedElement].textColor"  verify-on-change readonly )
					spectrum-colorpicker.picker(ng-model="elements[selectedElement].textColor" options="{ showPaletteOnly:true, showInput: false, showAlpha: false, preferredFormat: 'rgb',palette:['#FFF','#000']}")
//			.col-md-4			
				h2 Social Buttons Color
				p Please select the social Buttons color
				.color-picker
					input(type="text" ng-model="elements[selectedElement].socialButtonsColor" readonly)
					spectrum-colorpicker.picker(ng-model="elements[selectedElement].socialButtonsColor" options="{showPaletteOnly:true, showInput: false, showAlpha: false, preferredFormat: 'rgb',palette:['#FFF','#000']}")