form.novalidate
	.section
		h1 Details
		p Add information about the element  body here.
	.section.darkSection
		#elementDetailsWrapper
			#elementDetailsControls
				.btn.btn-default(ng-click="insertDetail('1')")
					i.icon.icon-text
					span Title					
				.btn.btn-defaultng-click(ng-click="insertDetail('2')")
					i.icon.icon-text-wrapping-2
					span Paragraph
				.btn.btn-default(ng-click="insertDetail('3')")
					i.icon.icon-quote
					span Quote
				.btn.btn-default(ng-click="insertDetail('4')")
					i.icon.icon-list-1-1
					span List
				.btn.btn-default(ng-click="insertDetail('5')")
					i.icon.icon-link-3
					span Link
			#elementDetailsBody.scrollbar-inner(scrollbar="scrollbarOptionsStandard")
				.detail-wrapper(ng-repeat="item in elements[selectedElement].details")
					.element
						.elementTitle(ng-if="item.elementDetailType=='1'")
							.header
								h3 Title
								.btn-remove(ng-click="removeDetailAt(elements[selectedElement].details.indexOf(item))")
									i.icon.icon-delete-1-1
							.body
								.controlContainer
									input.title(type="text" ng-model="item.text" placeholder="Enter your title here" ng-blur="validate()" required)								
						.elemenParagraph(ng-if="item.elementDetailType=='2'")
							.header
								h3 Paragraph
								.btn-remove(ng-click="removeDetailAt(elements[selectedElement].details.indexOf(item))")								
									i.icon.icon-delete-1-1
							.body
								.controlContainer
									textarea.paragraph(ng-model="item.text" placeholder="Enter your paragraph here." ng-blur="validate()" required)
						.elementQuote(ng-if="item.elementDetailType=='3'")
							.header
								h3 Quote
								.btn-remove(ng-click="removeDetailAt(elements[selectedElement].details.indexOf(item))")								
									i.icon.icon-delete-1-1
							.body
								.controlContainer								
									textarea.quote(type="text" ng-model="item.text" placeholder="Enter your quote here." ng-blur="validate()" required)
						.elementList(ng-if="item.elementDetailType=='4'")
							.header
								h3 List
								.btn-remove(ng-click="removeDetailAt(elements[selectedElement].details.indexOf(item))")								
									i.icon.icon-delete-1-1								
							.body
								.controlContainer
										.listItem(ng-repeat="li in item.body")
											input(type="text" ng-model="li.line" placeholder="Enter your list item text here." ng-blur="validate()" required)
											.btn-removeListItem(ng-click="removeListItemAt(elements[selectedElement].details.indexOf(item),item.body.indexOf(li))")
												i.icon.icon-delete-1-1
									.elementListControls
										.btn.btn-addListItem.btn-default(ng-click="addListItem(elements[selectedElement].details.indexOf(item))")
											span ADD ITEM																					
						.elementTitle(ng-if="item.elementDetailType=='5'")
							.header
								h3 Link
								.btn-remove(ng-click="removeDetailAt(elements[selectedElement].details.indexOf(item))")								
									i.icon.icon-delete-1-1								
							.body
								.controlContainer
									input.link(type="text" ng-model="item.text" placeholder="Enter your link here." ng-blur="validate()" required)