#highlightsSection
	.section
		.row
			form.form-inline.novalidate.formPrice			
				.form-group.priceGroup.col-md-4
					.header
						label(for="chkPrice") Precio
					.body
						input.title-value.highlightInput(type="number" ng-model="elements[selectedElement].price" placeholder="0.00" ng-blur="validate()" required ng-paste="validate()" step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/")
						p Precio de lista
				.form-group.priceGroup.col-md-4
					.header					
						label Moneda
					.body
						select.form-control.bootstrap-select(title='Currency' name="Currency"  ng-model="elements[selectedElement].currencyType"  data-size="4")
							option(value='1') &#36;
							option(value='2') &#162;
							option(value='3') &#8359;
							option(value='4') &#128;
						p Seleccione la moneda
				.form-group.priceGroup.col-md-4
					.header
						label
					.body
						checkbox#chkFromPrice.btn-checkbox.checkBoxBlueBackground( ng-model="hasFromPriceBool" ng-change="changeBoolStateHighlights('hasFromPrice', hasFromPriceBool)" large )
						label(for="chkFromPrice") Utilizar precio Desde
						p Se marca para especificar que el precio empieza en este monto ver ejemplo
	.section			
		.row
			form.form-inline.novalidate
				.form-group.priceGroup.col-md-4
					.header
						checkbox#chkDiscount.btn-checkbox.checkBoxBlueBackground( ng-model="hasDiscountBool" ng-change="changeBoolStateHighlights('hasDiscount', hasDiscountBool)" large)
						label(for="chkDiscount") Porcentaje
					.body						
						input.title-value.highlightInput(type="number" ng-model="elements[selectedElement].discount" ng-disabled="!hasDiscountBool"  placeholder="Discount" ng-blur="validate()" required step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/")
						p Digite el porcentaje de descuento 
				.form-group.priceGroup.col-md-4
					.header								
						checkbox#chkSaving.btn-checkbox.checkBoxBlueBackground( ng-model="hasSavingBool" ng-change="changeBoolStateHighlights('hasSaving', hasSavingBool)" large)
						label(for="chkSaving") Monto del descuento
					.body
						input.title-value.highlightInput(type="number" ng-model="elements[selectedElement].savings" placeholder="0 %" ng-blur="validate()"  ng-disabled="!hasSavingBool" required step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" )								
						p Digite manualmente el monto
				.form-group.priceGroup.col-md-4
					.header
						checkbox#chkPrice.btn-checkbox.checkBoxBlueBackground(ng-model="hasListPriceBool" ng-change="changeBoolStateHighlights('hasListPrice', hasListPriceBool)" large)
						label(for="chkListPrice") Precio Final
					.body								
						input.title-value.highlightInput(type="number" ng-model="elements[selectedElement].listPrice" placeholder="Final Price" ng-blur="validate()"  ng-disabled="!hasListPriceBool" required step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/")
						p El precio final de la promoción
	.section
		.row
			form.form-inline.timingForm
				.priceGroup.col-md-4
					.header
						checkbox.btn-checkbox.checkBoxBlueBackground( ng-model="hasTimmingBool" ng-change="changeBoolStateHighlights('hasTimming', hasTimmingBool)" large)
						label(for="chkListPrice") Valido Desde
					.body						
						input.highlightInput(type="datetime" date-time ng-model="elements[selectedElement].initialDate" ng-disabled="!hasTimmingBool" placeholder="Initial Date**" ng-blur="validate()" required readonly)
						p Fecha de inicio de la promoción
				.priceGroup.col-md-4
					.header
						checkbox.btn-checkbox.checkBoxBlueBackground( ng-model="hasTimmingBool" ng-change="changeBoolStateHighlights('hasTimming', hasTimmingBool)" large)
						label(for="chkListPrice") Valido Hasta
					.body
						input.highlightInput(type="datetime" date-time ng-model="elements[selectedElement].expirationDate" ng-disabled="!hasTimmingBool" placeholder="Expiration Date**" ng-blur="validate()" required readonly)
						p Fecha final de la promoción
				.form-group.priceGroup.col-md-4
					.header
						checkbox.btn-checkbox.checkBoxBlueBackground( ng-model="hasQuantityBool" ng-change="changeBoolStateHighlights('hasQuantity', hasQuantityBool)" large)
						label(for="chkListPrice") Cantidad Limitada
					.body
						input.highlightInput(type="number" ng-model="elements[selectedElement].quantity"  ng-disabled="!hasQuantityBool" placeholder="Quantity **" ng-blur="validate()" required step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/")
						p Permita hacer promociones con cantidades limitadas 