.section
	h1 Element Type
	p Select the element type for the element
.section
	#elementType
		.typeWrapper.scrollbar-inner(scrollbar="scrollbarOptionsStandard" )
			.type-block
				.moduleType(ng-click="selectType(0)" ng-class="{'active':'0'===elements[selectedElement].elementType}")						
					.circleInner
						.icon.icon-book-7
						span Information
			.type-block
				.moduleType(ng-click="selectType(1)" ng-class="{'active':'1'===elements[selectedElement].elementType}")						
					.circleInner
						.icon.icon-piggy-bank
						span Benefit
.section(ng-if="elements[selectedElement].elementType==''")
	p Please select an element type to continue.
.section(ng-if="elements[selectedElement].elementType=='0'")
	h2 Information Type
	p The information type is an element that describe a product or service
.section(ng-if="elements[selectedElement].elementType=='1'")		
	h2 Benefit Type
	p The benefit element lets you make a offert, coupon or soon. 
.section
	h4 Identifier: {{elements[selectedElement].elementIdentifier}}