.section
	h1 Highlights
	p Add the Highlights of the element
	#highlightsSection
		.section.darkSection
			.row
				i.icon.icon-cash-register
				.highlightTitler
					h2 Price
					p Element Price
			.row
				form.novalidate
					checkbox.btn-checkbox( ng-model="elements[selectedElement].listPriceEnable" ng-change="validate()" large )
					input.title-value.highlightInput(type="text" ng-model="elements[selectedElement].listPrice" ng-disabled="!elements[selectedElement].listPriceEnable" placeholder="List Price**" ng-blur="validate()" required)
					checkbox.btn-checkbox( ng-model="elements[selectedElement].discountEnable" ng-change="validate()" large)						
					input.title-value.highlightInput(type="text" ng-model="elements[selectedElement].discount" ng-disabled="!elements[selectedElement].discountEnable"  placeholder="Discount **" ng-blur="validate()" required)
					input.title-value.highlightInput(type="text" ng-model="elements[selectedElement].price" placeholder="Price **" ng-blur="validate()" required)
					input.title-value.highlightInput(type="text" ng-model="elements[selectedElement].savings" placeholder="Savings **" ng-blur="validate()" required)
		.section.darkSection
			.row
				i.price.icon.icon-timer-1
				.highlightTitle
					h2 Limit Time
					p Limit Time
			.row
				form.novalidate
					checkbox.btn-checkbox( ng-model="elements[selectedElement].limitedTimeEnabled" ng-change="validate()" large)
					input.highlightInput(type="datetime" date-time ng-model="elements[selectedElement].initialDate" ng-disabled="!elements[selectedElement].limitedTimeEnabled" placeholder="Initial Date**" ng-blur="validate()" required readonly)
					input.highlightInput(type="datetime" date-time ng-model="elements[selectedElement].expirationDate" ng-disabled="!elements[selectedElement].limitedTimeEnabled" placeholder="Expiration Date**" ng-blur="validate()" required readonly)					
		.section.darkSection
			.row
				i.price.icon.icon-cube
				.highlightTitle					
					h2 Quantity
					p The information type is an element that describe a product or service
			.row
				form.novalidate
					checkbox.btn-checkbox( ng-model="elements[selectedElement].quantityEnabled" ng-change="validate()" large)
					input.highlightInput(type="number" ng-model="elements[selectedElement].quantity"  ng-disabled="!elements[selectedElement].quantityEnabled" placeholder="Quantity **" ng-blur="validate()" required is-number)