/* 
   ------------------------------------------------------
					Responsive Styles
   ------------------------------------------------------
*/
@media (min-width: 992px) and (max-width: 1199px) {
  /*------------------------------------------*/
  /*	  Titlebar
	/*------------------------------------------*/
  .titlebar h2 {
    font-size: 35px;
  }
  .titlebar h3 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
  }
  .titlebar p {
    font-size: 17px;
    margin-bottom: 25px;
  }
  /*------------------------------------------*/
  /*	 Intro Page
	/*------------------------------------------*/
  .intro-content {
    width: 100%;
  }
  .intro-content h1 {
    font-size: 450%;
  }
  .intro-content h3 {
    font-size: 150%;
  }
  #banner_1 .titlebar,
  #banner_2 .titlebar,
  #banner_3 .titlebar {
    margin-bottom: 0;
  }
  /*------------------------------------------*/
  /*	  Newsletter
	/*------------------------------------------*/
  .subscribe-form {
    width: 100%;
  }
  #newsletter_title h1 {
    font-size: 32px;
  }
  #newsletter_title p {
    line-height: 22px;
    font-size: 17px;
    padding: 0 2%;
  }
  .subscribe-submit {
    width: 32%;
  }
  /*------------------------------------------*/
  /*	  Banner_2 List Content
	/*------------------------------------------*/
  .list-item {
    margin-bottom: 16px;
  }
  /*------------------------------------------*/
  /*	 Image Scale ( Hover Effect )
	/*------------------------------------------*/
  .hover-details:hover .image_zoom {
    top: 40%;
  }
  /*------------------------------------------*/
  /*	  Banner_3 Action Buttons
	/*------------------------------------------*/
  .stores img {
    width: 50%;
  }
  /*------------------------------------------*/
  /*	 Testimonial Message Text
	/*------------------------------------------*/
  .testimonials p {
    font-size: 22px;
  }
}

@media only screen and (max-width: 991px) {

  /*------------------------------------------*/
  /*	  Titlebar
	/*------------------------------------------*/

  #preRegister .imgPreOrder img, #preorder .imgPreOrder img {
    margin-top: -13%;
  }
  .titlebar h2 {
    font-size: 26px;
  }
  .titlebar h3 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
  }
  .titlebar p {
    font-size: 17px;
    margin-bottom: 25px;
  }
  /*------------------------------------------*/
  /*	 Intro Page
	/*------------------------------------------*/
  .intro-content {
    width: 100%;
  }
  .intro-content h1 {
    font-size: 450%;
  }
  .intro-content h3 {
    font-size: 150%;
  }
  /*------------------------------------------*/
  /*	  Banner_2 Image
	/*------------------------------------------*/
  #banner_2_image {
    text-align: center !important;
  }
  #banner_2 .img-responsive {
    display: inline-block;
    margin-bottom: 40px;
  }
  .list-item {
    margin-bottom: 15px;
  }
  .list-item h5 {
    font-size: 16px;
  }
  /*------------------------------------------*/
  /*	  Banner_3 Image
	/*------------------------------------------*/
  #banner_3_image {
    text-align: center !important;
  }
  #banner_3 .img-responsive {
    display: inline-block;
    margin-top: 40px;
  }
  /*------------------------------------------*/
  /*	  Newsletter Form
	/*------------------------------------------*/
  .subscribe-form {
    width: 76%;
  }
  /*------------------------------------------*/
  /*	 Testimonial
	/*------------------------------------------*/
  .testimonials {
    margin: 50px 0%;
  }
  .testimonials p {
    font-size: 20px;
  }
  /*------------------------------------------*/
  /*	  Pricing Table
	/*------------------------------------------*/
  #pricing-table-holder {
    padding: 0;
  }
  .pricing-table .plan-title {
    font-size: 18px;
    padding: 30px 6px;
  }
  .pricing-table .plan-price h2 {
    font-size: 40px;
  }
  .pricing-table ul.features {
    padding: 5px;
  }
}
@media only screen and (max-width: 767px) {
  /*------------------------------------------*/
  /*  Top Menu of Language and Login
  /*------------------------------------------*/

  .iniciarSessionToggle{
    display: none!important;
  }

  /*------------------------------------------*/
  /*	 Responsive Menu
	/*------------------------------------------*/
  .navbar {
    padding: 0px;
  }
  .navbar-brand {
    line-height: 64px;
    padding: 0 25px;
  }
  .
  .navbar-nav > li > a,
  .navbar-brand .black-color {
    color: #fff;
  }
  .navbar-nav > li > a:hover,
  .navbar-nav > li {
    text-align: center;
  }
  .navbar-nav > li > a {
    line-height: 40px;
    text-align: center;
  }
  .navbar-nav > li > a:hover,
  .navbar-nav > li > a.selected-nav {
    color: #71D7FF;
    background-color: transparent;
  }
  .nav.navbar-helper{
    /*bottom: 0px;*/
  }
  .navbar-toggle{
    margin: 48px 30px 13px 0;
  }
  .navbar-helper .navbar-right{
    position: relative;
    float: right;
  }

  .navbar-helper .navbar-right li{
    position: relative;
    display: inline-block;
    margin-top:10px;
    margin-left: 10px;
    float: left;
  }

  .titlebar,
  .banner_1_content,
  #features .col-sm-6,
  .banner_2_content,
  #screenshots-holder1,
  #screenshots-holder2,
  .banner_3_content,
  #contact .col-sm-12 {
    margin-right: 60px;
    margin-left: 60px;
  }
  #pricing-table-holder {
    margin-right: 100px;
    margin-left: 100px;
  }

/*------------------------------------------*/
  /*    Features section
  /*------------------------------------------*/

  .feature-box-content p
  {
    font-size: 17px;
  }  
  /*------------------------------------------*/
  /*	  Feature Box
	/*------------------------------------------*/
  .feature-box {
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
  }

  .forwhoIsBiin-wrapper{
    height: 100%;
  }

  /*------------------------------------------*/
  /*    Pre-Register adn Pre-Order Forms
  /*------------------------------------------*/
  #preRegister .imgPreOrder img, #preorder .imgPreOrder img {
    margin-top: -13%;
  }

  #preRegister .container, #preorder .container{
    margin-left: 15px;
    margin-right: 15px;
  }

  .thankYuoTitle h1{
    font-weight: 300;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 25px;
  }

  .thankYouParagraph p {
    font-weight: 300;
    font-size: 18px;
    margin-left: auto !important;
    text-align: center;
  }

  .thankYouButton {
    margin-left: 0%;
    margin-top: 0%;
    padding: 16px;
    text-align: center;
  }

  .thankYouButton > .btn {
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    margin: auto;
    margin-left: 0%;
    margin-right: 0%;
  }
  .happyBiinie img {
    width: 100%;
    height: 100%;
    margin-top: 0%;
    margin-left: 0%;
  }

}

@media (max-width: 480px) {
  
  blockquote {
    font-size: 20px !important;
    margin: 60px 0px 80px 0px;
  }
  /*------------------------------------------*/
  /*	 Intro Page
	/*------------------------------------------*/
  .intro-content {
    width: 100%;
    padding: 20px;
  }
  .intro-content h1 {
    font-size: 230%;
    line-height: 100%;
  }
  .intro-content h3 {
    font-size: 140%;
  }
  /*------------------------------------------*/
  /*    Slider
  /*------------------------------------------*/
  .flex-control-paging li a{
    height: 15px!important;
    width: 15px!important;
    border-radius: 50%!important;
  }

  #FORWHOISBIIN .flex-control-paging{
    bottom:50px!important;
  }

  .flex-direction-nav a{
    top: initial!important;
    bottom:20px!important;
  }

  .forwhoIsBiin-slider .flex-direction-nav .flex-next{
    background-color: initial!important;
    color: #FFFFFF!important;
  }

  .forwhoIsBiin-slider .flex-direction-nav .flex-prev{
    background-color: initial!important;
    color: #FFFFFF!important;;

  }

  .flex-prev:before{
    font-size:50px!important;
    margin-left: -40px!important;
  }

  .flex-next:before{
    font-size:50px!important;
    margin-right: -40px!important;
  }
  .flex-prev:hover, .flex-next:hover{
    background-color: initial!important;
    border-color:initial!important;
    box-shadow:initial!important;
  }

  .forhow-content .titlebar h2{
    margin-bottom: 15px!important;
  }

  /*------------------------------------------*/
  /*    Slider section
  /*------------------------------------------*/
  .wrapperButtonInfo{
     bottom: 90px;
  }
  .btn.btn-comprar, .btn-store-slide{
    width: 140px!important;
    height: 50px!important;
    font-size: 12px!important;
    line-height: 35px!important;
  }
  .scroll-down {
    bottom: -48px;
  }
  .slides-pagination, .flex-control-nav{
    bottom: 60px!important;
  }

  .scroll-down span{
    height: 30px;
    width: 30px;
    margin-bottom: 20px;
  }
  .scroll-down p{
    padding-top: -100px;
  }
  .scroll-down span [class*="fa-"]{
    line-height: 28px;
  }
  /*------------------------------------------*/
  /*	  Titlebar
	/*------------------------------------------*/
  .titlebar h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .titlebar h3 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
  }
  .titlebar p {
    font-size: 17px;
    margin-bottom: 25px;
  }
  .titlebar,
  .banner_1_content,
  #features .col-sm-6,
  .banner_2_content,
  #screenshots-holder1,
  #screenshots-holder2,
  .banner_3_content,
  #contact .col-sm-12 {
    margin-right: 15px;
    margin-left: 15px;
  }
  #pricing-table-holder {
    margin-right: 20px;
    margin-left: 20px;
  }
  .list-item h5 {
    font-size: 14px;
  }
  /*------------------------------------------*/
  /*	  Newsletter
	/*------------------------------------------*/
  #newsletter_title h1 {
    font-size: 30px;
  }
  #newsletter_title p {
    line-height: 22px;
    font-size: 17px;
    padding: 0;
  }
  .subscribe-form {
    width: 90%;
  }
  .subscribe-submit {
    width: 35%;
  }

/*------------------------------------------*/
  /*    Features section
  /*------------------------------------------*/
  .feature-box-icon{
    clear: left;
    width: 100%;
    position: relative;
  }

  .feature-box-content{
     padding-left: initial!important; 
     text-align: center;
  }

  .feature-box-content p
  {
    font-size: 17px;
  }
  /*------------------------------------------*/
  /*	  Screens
	/*------------------------------------------*/
  #screenshots-holder1 .col-xs-6,
  #screenshots-holder2 .col-xs-6 {
    width: 100%;
    float: none;
  }
  .stores {
    text-align: center;
  }
  .stores a {
    display: block;
    margin-bottom: 8px;
  }

  .forwhoIsBiin-wrapper{
    height: 100%;
  }

  #preRegister button.selectpicker{
    width: 45%;
    margin-top: 0px;
  }

.btn-group.bootstrap-select.show-tick.input-group-btn{
  display: inline!important;
}
@media (max-width: 320px) {
  .titlebar,
  .banner_1_content,
  #features .col-sm-6,
  .banner_2_content,
  #screenshots-holder1,
  #screenshots-holder2,
  .banner_3_content,
  #contact .col-sm-12,
  #pricing-table-holder {
    margin-right: 5px;
    margin-left: 5px;
  }
  /*------------------------------------------*/
  /*	 Intro Page
	/*------------------------------------------*/
  .intro-content {
    width: 100%;
  }
  .intro-content h1 {
    font-size: 250%;
    line-height: 100%;
  }
  .intro-content h3 {
    font-size: 120%;
  }
  /*------------------------------------------*/
  /*	  Titlebar
	/*------------------------------------------*/
  .titlebar h2 {
    font-size: 24px;
  }
  .titlebar h3 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
  }
  .titlebar p {
    font-size: 15px;
    margin-bottom: 25px;
  }
  .forwhoIsBiin-wrapper{
    height: 100%;
  }
}
