#sectionContentGraph(ng-app="biinAppVisitsGraph" ng-controller="biinAppVisitsGraphController" ngCloack)
	select.form-control.bootstrap-select.visitsCriteria(ng-model="firstCriteria" ng-change="firstCriteriaChange(firstCriteria)")
		option(value='Visits') Visits
	select.form-control.bootstrap-select.visitsCriteria(ng-model="secondCriteria" ng-change="secondCriteriaChange(secondCriteria)")
		option(value='Notifications') Notifications
	buttons.pull-right
		button.btn-default(ng-click="changeChartRange(7)") 1 week
		button.btn-default(ng-click="changeChartRange(30)") 30 Days	
		button.btn-default(ng-click="changeChartRange(180)") 6 months
	nvd3.with-3d-shadow.with-transitions(options="options" data="data")