#sectionContent(ng-app="biinAppVisitsGraph" ng-controller="biinAppVisitsGraphController" ngCloack)
	button.btn-default(ng-click="changeChartRange(7)") 1 week
	button.btn-default(ng-click="changeChartRange(30)") 30 Days	
	button.btn-default(ng-click="changeChartRange(180)") 6 months
	nvd3.with-3d-shadow.with-transitions(options="options" data="data")