extends ../layout_dashboard
block head_scripts
	script(src="/javascripts/angular/showcasesController.js")
block content	
	#sectionContent.max-height(ng-app="biinAppShowCases" ng-controller="showcasesController")
			#wrapperHeader.row
			#wrapperContent.row.max-height(ng-view)