extends ../layout_accountObjects
block content	
	#sectionContent.max-height(ng-app="biinAppShowCases" ng-controller="showcasesController")
			#wrapperHeader.row
			#wrapperContent.row.max-height(ng-view)