extends ../layout_dashboard
block content	
	#sectionContent(ng-app="biinAppShowCases")
		#wrapper(ng-controller="showcasesController")
			#wrapperHeader.row
				h1 Showcases
			#wrapperContent.row
				div(ng-view)