extends ../layout_dashboard
block head_scripts
	script(src="/javascripts/angular/showcasesController.js")
block content	
	#sectionContent(ng-app="biinAppShowCases" ng-controller="showcasesController")
		#wrapperContent(data-organizationId=""+organization.identifier data-organizationName=""+organization.name)
			.left-section-content
				.container-fluid
					.row
						.col-md-12(style='padding:8px;')
							button.btn.btn-default.btn-block.btn-biin(ng-click='create()') ADD NEW SHOWCASE
				.container-fluid.main-views-list
					.row
						.scroll-vertical-container.scrollbar-inner(scrollbar="scrollbarOptionsStandard")
							.col-xs-4.col-sm-6.col-md-6.col-lg-6.nopadding(ng-repeat="item in showcases | filter: query" ng-click="edit(showcases.indexOf(item))")
								.moduleWrapper.contentHideButtons(ng-class="{active: showcases.indexOf(item) == selectedShowcase}")
									.moduleTitle {{item.title1}}
									img(ng-if="item.elements.length == 0 || (item.elements.length >0 && item.elements[0].media.length <= 0)" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+", alt='')
									img(ng-if="item.elements.length >0 && item.elements[0].media.length > 0" ng-src="{{item.elements[0].media[0].url}}" style="max-width: 250px;height: auto;" pending-indicator)
									.btnDelete.icon-round-control.btn-on-hover(ng-click="openConfirmation('sm',showcases.indexOf(item))")
										.icon.icon-bin-2
									.btnShowcasePreview.icon-round-control.btn-on-hover
										.icon.icon-arrange-1
				.container-fluid.searchBox
					.searchBox-wrapper
						input.form-control(type="text" placeholder="search" ng-model="query" autofocus )			
			.right-section-content
				div(ng-if="selectedShowcase!=null")
					.animate-switch.wizard-wrapper
						.wizard-body.wizard(ng-switch="wizardPosition" ng-mouseleave="save()")
							#wizardOption1.wizard(ng-switch-when="1")
								include wizardDetails		
							#wizardOption2.wizard(ng-switch-when="2")
								include wizardElements									
							#wizardOption3.wizard(ng-switch-when="3")
								include wizardBiins											
							#wizardOption4.wizard(ng-switch-when="4" )
								include wizardNotifications								
						.wizard-options
							.container-fluid
								.row.wizard-options-wrapper
									.col-md-1.col-sm-1.nopadding.option
										#guide-wizard-pointer(ng-class="{'active':wizardPosition ==1}")
										.wizard-options-item(ng-click="changeWizardTab(1)")
											.circle(ng-class="{'active':wizardPosition ==1,'valid':wizard1IsValid}")
												.icon.icon-network-1-1
											.textCirle 
												| 1. Details
									.col-md-1.col-sm-1.nopadding.option
										#guide-wizard-pointer(ng-class="{'active':wizardPosition ==2}")
										.wizard-options-item(ng-click="changeWizardTab(2)")
											.circle(ng-class="{'active':wizardPosition ==2,'disabled':!wizard1IsValid,'valid':wizard2IsValid}")
												.icon.icon-photo-1
											.textCirle 
												| 2. Elements											
									.col-md-1.col-sm-1.nopadding.option
										#guide-wizard-pointer(ng-class="{'active':wizardPosition ==3}")
										.wizard-options-item(ng-click="changeWizardTab(3)")
											.circle(ng-class="{'active':wizardPosition ==3,'disabled':!wizard2IsValid,'valid':wizard3IsValid}")
												.icon.icon-palette
											.textCirle 
												| 3. Biins		
									.col-md-1.col-sm-1.nopadding.option
										#guide-wizard-pointer(ng-class="{'active':wizardPosition ==4}")
										.wizard-options-item(ng-click="changeWizardTab(4)")
											.circle(ng-class="{'active':wizardPosition ==4,'disabled':!wizard3IsValid,'valid':wizard4IsValid}")
												.icon.icon-message
											.textCirle 
												| 4. Notifications
									.col-md-1.col-sm-1.nopadding.option																							
										.wizard-options-item.completeOption
											.circle(ng-class="{'complete':isValid}")
												.circle-inner
													.icon.icon-check-1
											.textCirle 
								#guide-line-division.showcasesWizard		