.section
	h1 Notifications
	p Add the custom notifications for your customers
.section
	#elementNotifications
		.row
			.col-md-12.notificationWrapper
				.section.darkSection
						.circleButtonActiveNotifications(ng-class="{'active':showcases[selectedShowcase].activateNotification===activeValue}" ng-click="setNotificationActive()" )
							.icon.icon-bell
								p Activate Notification									
						.notifcationGroup(ng-if="showcases[selectedShowcase].notifications[0].notificationType==='1'")
							h2 In-app notification
							p Turn on/off the in-app notifications about this element
							input.form-control(type="text" ng-model="showcases[selectedShowcase].notifications[0].text" placeholder="Text here." ng-disabled="showcases[selectedShowcase].activateNotification !==activeValue || showcases[selectedShowcase].notifications[0].isActive !== activeValue" ng-blur="validate()")