.section
	h1 Wizard Publish
	p Please select the showcase 
.section
	#wizardShowcasePublishWrapper
		.showcaseWrapperContainer.scrollbar-inner(scrollbar="scrollbarOptionsStandard")
			.siteModule(ng-repeat="site in sites")				
				.site
					.siteTitle1
						label {{site.title1}}
					.siteTitle2
						label {{site.title2}}
				.showcaseWrapper
					.showcase(ng-repeat="showcase in showcases" ng-class="isShowcaseAssigned(site, showcase)")
						.showcaseOptions
							.upButton(ng-click="moveShowcaseUp(site,showcase)")
								i.icon.icon-arrow-15
							.downButton(ng-click="moveShowcaseDown(site,showcase)")
								i.icon.icon-arrow-16
						.showcaseContainer(ng-click="setShowcaseAssigned(site, showcase)")
							label.showcaseLabel {{showcase.name}}
