.section
	h1 Wizard theme Colors
	p Please select the color for the theme of the Showcase
.section
	.row
		.typeWrapper
			.type-block
				.moduleType(ng-click="selectTheme(0)" ng-class="{'active':'0'===showcases[selectedShowcase].theme}")						
					.circleInner
						i.icon.icon-brush-2
						span Dark
			.type-block
				.moduleType(ng-click="selectTheme(1)" ng-class="{'active':'1'===showcases[selectedShowcase].theme}")						
					.circleInner
						i.icon.icon-brush-2
						span Ligth