extends ../layout_dashboard
block content	
	#sectionContent
		#wrapper
			#wrapperHeader.row
				h1 Regions
			#wrapperContent.row
				.panel.panel-default
					.panel-heading
						p Regions
						.options
							a.button(href="/regions/add") Add
					.panel-body
						.list-group
							each item in regions
								a.list-group-item
									p= item.identifier
									p= item.radious
									p= item.latitude
									p= item.longitude